<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="admnotiflist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div class="p-px-3 p-mb-5">
    <p-card>
        <div *ngIf="admnotiflist.length > 0" style="padding-left: 10px;padding-right: 10px;">
            <app-tablehelper [records]="admnotiflist" [header]="bicheader" [wsearch]=true [actionbtn]="bicactionbtn"
                [colnames]="biccolname" [colwidth]="biccolwidth" [colclasshalign]="biccolhalign"
                [addbtnlink]="bicaddbtn" [nopaging]=false (dataapprover)="approvalData($event)"
                (datapreview)="previewConfirmation($event)" (datadeleted)="deleteConfirmation($event)" [colmark]=5>
            </app-tablehelper>
        </div>
    </p-card>
</div>


<p-dialog header="Preview" [(visible)]="displayPrv" [style]="{width: '75vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" [modal]="true">
    <!-- <p style="font-size: 18;">{{selectedgrp}}</p> -->
    <div>
        <app-apporval-confirmation [newData]="newData" [oldData]="oldData"></app-apporval-confirmation>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="displayPrv=false" label="OK" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Delete Notify user" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [modal]="true">
    <p style="font-size: 18;">Are you sure want to delete this Record?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteBic()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '63vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" [modal]="true">
    <div>
        <app-apporval-confirmation [newData]="newData" [oldData]="oldData"></app-apporval-confirmation>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="reject()" label="Reject" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>