<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="groupsData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div class="p-px-3 p-mb-5">
  <p-card>
    <div *ngIf="groupsData.length > 0" style="padding-left: 10px;padding-right: 10px;">

      <app-tablehelper [records]="groupsData" [header]="grpheader" [wsearch]=true [actionbtn]="grpactionbtn"
        [colnames]="grpcolname" [colwidth]="grpcolwidth" [colclasshalign]="grpcolhalign" [addbtnlink]="grpaddbtn"
        (datadeleted)="deleteConfirmation($event)" (datapreview)="previewConfirmation($event)"
        [scrollheight]="scrollheight" (dataapprover)="approvalData($event)" [nopaging]=false [colmark]="'active'">
      </app-tablehelper>
    </div>
  </p-card>

</div>
<p-dialog header="Delete Group" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false" [modal]="true">
  <p style="font-size: 18;">Are you sure want to delete this Organization?</p>
  <ng-template pTemplate="footer">
    <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
    <p-button (click)="deleteGroup()" label="Yes" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<!-- {"id":"8","groupname":"BIF Operator 1","idtenant":"7","created_byid":"7","created_at":"2021-09-02 01:09:35","updated_at":null,"active":1,"groupcode":null,"idapplication":"7","grouptype":1} -->

<p-dialog header="Preview" [(visible)]="displayPrv" [style]="{width: '75vw'}" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false" [modal]="true">
  <!-- <p style="font-size: 18;">{{selectedgrp}}</p> -->
  <div>
    <app-apporval-confirmation [newData]="newData" [oldData]="oldData"></app-apporval-confirmation>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="displayPrv=false" label="OK" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false" [modal]="true">
  <div>
    <app-apporval-confirmation [newData]="newData" [oldData]="oldData"></app-apporval-confirmation>
    <!-- <div class="p-grid">
            <p class="p-col-12" style="font-size: 18px;">This records need approval from you?, please choose wisely</p>
        </div> -->
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
    <p-button (click)="reject(4)" label="Reject" styleClass="p-button-text"></p-button>
    <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>


<p-dialog header={{warning.header}} [(visible)]="warning.show" [style]="{width: '50vw'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false" [modal]="true">
  <div class="p-fluid">
    <div class="p-grid">
      <p class="p-col-12" style="font-size: 18px;">{{warning.message}}</p>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="warning.show=false" label="Ok" styleClass="p-button-text"></p-button>

  </ng-template>
</p-dialog>