<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<!-- ["name", "accnum", "prxaddress", "branch", "channel", "prxtype", "secid", "custresidence", "stsprxadd"] -->
<!-- <p-progressSpinner *ngIf="proxyData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages> -->
<div class="wrapperinside">
    <div style="height: 20px"></div>
    <p-card class="p-my-2">
        <div class="p-fluid">
            <div class="p-grid">
                <div class="p-col">
                    <!--  -->
                    <div class="p-grid">
                        <div class="p-col">
                            <div class="box">
                                <label for="rangesDates" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Start Date :</label>
                                <div style="height: 8px"></div>
                                <p-calendar [(ngModel)]="startDate" [showIcon]="true" dateFormat="dd-mm-yy"
                                    inputId="startDate" (click)="maxDate()">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="box">
                                <label for="rangesDates" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">End Date :</label>
                                <div style="height: 8px"></div>
                                <p-calendar dateFormat="dd-mm-yy" [showIcon]="true" [(ngModel)]="endDate"
                                    inputId="endDate" (click)="maxDate()"> </p-calendar>
                                <span style="color: red;" *ngIf="isMaxDate">Max End Date : {{birthday}}</span>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <!-- <div class="box"> -->
                    <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                            type="text" pInputText required> -->

                    <!-- <div style="height: 8px"></div> -->
                    <!-- <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true"
                            [readonlyInput]="true" inputId="range" id="rangesDates"></p-calendar> -->
                    <!-- </div> -->
                    <!--  -->
                    <div style="height: 8px"></div>
                    <div class="box">
                        <label for="channels" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel :</label>
                        <div style="height: 8px"></div>
                        <p-dropdown id="channels" [options]="channels" optionLabel="channel_name"
                            [(ngModel)]="channelSelected" placeholder="Select Channel"></p-dropdown>
                    </div>
                    <div style="height: 8px"></div>
                    <div class="box">
                        <label for="bifastTrxNo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Reff Number :</label>
                        <div style="height: 8px"></div>
                        <!-- <p-dropdown id="channels" [options]="channels" optionLabel="channeltype"
                            [(ngModel)]="channelSelected" placeholder="Select Channel"></p-dropdown> -->
                        <input type="text" class="p-inputtext-sm" placeholder="Reff Number" [(ngModel)]="bifastTrxNo"
                            pInputText />
                    </div>
                </div>
                <div class="p-col">
                    <div class="box">
                        <label for="branch" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Status :</label>
                        <div style="height: 8px"></div>
                        <p-dropdown id="branch" [options]="isactives" [(ngModel)]="isactivesSelected"
                            optionLabel="label" placeholder="Select Status"></p-dropdown>
                        <span style="color: transparent;" *ngIf="isMaxDate"> Max End Date : {{birthday}}</span>

                    </div>
                    <div style="height: 15px"></div>
                    <div class="box">
                        <label for="proxyaddrestype" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Transaction Type
                            :</label>
                        <div style="height: 8px"></div>
                        <p-dropdown id="proxyaddrestype" [(ngModel)]="transactiontypeSelected"
                            [options]="transactiontype" optionLabel="label" placeholder="Select Transaction Type">
                        </p-dropdown>
                    </div>
                    <div style="height: 30px"></div>
                    <div class="p-grid">
                        <div class="p-col">
                            <div class="box">
                                <button pButton pRipple type="button" icon="pi pi-search" [routerLink]="home"
                                    label="Search" (click)="refreshData()" class="p-button-info"></button>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="box">
                                <button pButton pRipple type="button" icon="pi pi-refresh" (click)="removeFilter()"
                                    label="Clear Filter" class="p-button-warning"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
    <div style="height: 20px"></div>
    <!-- styleClass="p-datatable-customs p-datatable-gridlines"  -->
    <!-- <p-table [value]="logData" [scrollable]="true" scrollHeight="100px" scrollWidth="700px" scrollDirection="both" [paginator]="false">

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="p-text-center" style="min-width:200px">TransactionDate

                            </th>
                            <th class="p-text-center" style="min-width:200px">Status

                            </th>
                            <th class="p-text-center" style="min-width:300px">TrxNumber

                            </th>
                            <th class="p-text-center" style="min-width:200px">ReffNumber(BIFAST)

                            </th>
                            <th class="p-text-center" style="min-width:200px">Channel

                            </th>
                            <th class="p-text-center" style="min-width:300px">DestBank

                            </th>
                            <th class="p-text-center" style="min-width:300px">SourceBank

                            </th>
                            <th class="p-text-center" style="min-width:200px">DestAccount

                            </th>
                            <th class="p-text-center" style="min-width:200px">SourceAccount

                            </th>
                            <th class="p-text-center" style="min-width:200px">DestName

                            </th>
                            <th class="p-text-center" style="min-width:200px">SourceName

                            </th>
                            <th class="p-text-center" style="min-width:200px">Amount

                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-log>
                        <tr >

                            <td style="min-width:200px">{{log.created_date}}</td>
                            <td style="min-width:200px">{{log.status}}</td>
                            <td style="min-width:300px">{{log.trxnumber}}</td>
                            <td style="min-width:300px">{{log.refnumbifast}}</td>
                            <td style="min-width:200px">{{log.channel}}</td>
                            <td style="min-width:300px">{{log.destbank}}</td>
                            <td style="min-width:500px">{{log.srcbank}}</td>
                            <td style="min-width:200px">{{log.destaccnum}}</td>
                            <td style="min-width:200px">{{log.srcaccnum}}</td>
                            <td style="min-width:200px">{{log.destaccname}}</td>
                            <td style="min-width:200px">{{log.srcaccname}}</td>
                            <td style="min-width:200px">{{log.amount}}</td>
                        </tr>
                    </ng-template>
</p-table> -->
    <div class="card">

        <p-progressSpinner *ngIf="logData.length == 0" class="p-text-center"></p-progressSpinner>
        <p-table #dt id="excel-table" *ngIf="logData.length > 0" [value]="logData" [scrollable]="true"
            scrollHeight="300px" scrollDirection="both"
            [globalFilterFields]="['trx_trans','trx_SLA_flag','trx_response_code','trx_complete_date','trx_initiation_date','trx_proxy_flag','trx_reason_message','trx_reason_code','channel_name','bifast_trx_no','komi_unique_id','sender_bank','sender_account_name','sender_account_no','recipient_bank','recipient_account_name','recipient_account_no','trx_reason_code']"
            dataKey="id" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10,25,50]"
            styleClass="p-datatable-customs p-datatable-gridlines" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <span class="p-input-icon-right p-ml-auto">
                        <button *ngIf="isdataexist" pButton pRipple type="button" icon="pi pi-file-excel"
                            (click)="openPDF()" label="Export PDF" class="p-button-danger"></button>
                        &nbsp;
                        <button *ngIf="isdataexist" pButton pRipple type="button" icon="pi pi-file-pdf"
                            (click)="exportexcel()" label="Export CSV" class="p-button-success"
                            style="margin-right: 10px;"></button>
                    </span>
                    <span class="p-input-icon-right">
                        <!-- <i class="pi pi-search"></i> -->
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search Keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="p-text-center" pSortableColumn="komi_unique_id" style="width:200px">Transaction ID
                        <p-sortIcon field="komi_unique_id"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="bifast_trx_no" style="width:200px">Ref. Number
                        <p-sortIcon field="bifast_trx_no"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="trx_proxy_flag" style="width:200px">Transaction By
                        Service Type
                        <p-sortIcon field="trx_proxy_flag"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="sender_bank" style="width:200px">Sender Bank Code
                        <p-sortIcon field="sender_bank"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="sender_account_name" style="width:200px">Sender ACC Name
                        <p-sortIcon field="sender_account_name"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="sender_account_no" style="width:200px">Sender ACC Number
                        <p-sortIcon field="sender_account_no"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="recipient_bank" style="width:200px">Receiver Bank Code
                        <p-sortIcon field="recipient_bank"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="recipient_account_name" style="width:200px">Receiver ACC
                        Name
                        <p-sortIcon field="recipient_account_name"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="recipient_account_no" style="width:200px">Receiver ACC
                        Number
                        <p-sortIcon field="recipient_account_no"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="trx_amount" style="width:200px">Amount
                        <p-sortIcon field="trx_amount"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="trx_trans" style="width:200px">Purpose of Transaction
                        <p-sortIcon field="trx_trans"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="trx_initiation_date" style="width:200px">Initiation Date
                        /
                        Time
                        <p-sortIcon field="trx_initiation_date"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="trx_complete_date" style="width:200px">Completed Data /
                        Time
                        <p-sortIcon field="trx_complete_date"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="channel_name" style="width:200px">Channel
                        <p-sortIcon field="channel_name"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="trx_reason_message" style="width:200px">Description
                        <p-sortIcon field="trx_reason_message"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="trx_response_code" style="width:200px">Status
                        <p-sortIcon field="trx_status_message"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="trx_reason_code" style="width:200px">Status Reason Code
                        <p-sortIcon field="trx_reason_code"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="trx_SLA_flag" style="width:200px">SLA
                        <p-sortIcon field="trx_SLA_flag"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-logdata>
                <!-- {{editData.status == 1 ? 'AKTIF' : 'TIDAK AKTIF' }} -->

                <tr>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.komi_unique_id }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.bifast_trx_no }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.trx_type }}
                        <!-- {{ logdata.recipient_proxy_type == null && logdata.recipient_proxy_alias == null ? 'Credit
                        Transfer' :
                        'Credit Transfer with Proxy'}} -->
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.sender_bank }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.sender_account_name }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.sender_account_no }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.recipient_bank }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.recipient_account_name }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.recipient_account_no }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.trx_amount| currency:'Rp '}}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.trx_trans }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        <!-- {{ logdata.trx_initiation_date == 'No record' ? 'No record'
                        : logdata.trx_initiation_date | date: 'yyyy-MM-dd HH:mm:ss' : 'UTC'}} -->
                        {{ logdata.trx_initiation_date }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.trx_complete_date }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.channel_type }}
                        <!-- {{ logdata.channel_type == '01' ? 'Internet Banking'
                        : logdata.channel_type == '02' ? 'Mobile Banking'
                        : logdata.channel_type == '03' ? 'Teller' : 'No record'}} -->
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.trx_reason_message }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        <!-- bjb -->
                        <!-- {{ logdata.trx_status_code == 'S' ? 'Success'
                        : logdata.trx_status_code == 'F' ? 'Failed'
                        : logdata.trx_status_code == 'E' ? 'Exception'
                        : logdata.trx_status_code == 'P' ? 'Pending' : 'No record'}} -->

                        <!-- mantap -->
                        <!-- {{ logdata.trx_response_code == 'ACTC' ? 'Accepted'
                        : logdata.trx_response_code == 'RJCT' ? 'Rejected'
                        : logdata.trx_response_code == 'KSTS' ? 'Timeout'
                        : logdata.trx_response_code == 'OTHR' ? 'Other' : 'No record'}} -->

                        {{ logdata.trx_response_code }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.trx_reason_code }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        <!-- {{ logdata.trx_SLA_flag == 1 ? 'Sesuai SLA'
                        : logdata.trx_SLA_flag == 2 ? 'Tidak Sesuai SLA' : 'No record'}} -->
                        {{ logdata.trx_SLA_flag }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!-- <div id="note">
            <div style="width: 400px; margin-left: 5px; margin-top: 20px;">
                <span>Total Debit Volume </span>
                <span> : </span>
                <span> {{ functionVolume() }}</span>
            </div>
            <div style="width: 400px; margin-left: 5px; margin-top: 20px;">
                <span>Total Debit Amount </span>
                <span> : </span>
                <span> {{ functionAmount() }} </span>
            </div>
            <div style="width: 400px; margin-left: 5px; margin-top: 20px;">
                <span>Total Credit Volume </span>
                <span> : </span>
                <span> {{ functionVolume() }} </span>
            </div>
            <div style="width: 400px; margin-left: 5px; margin-top: 20px; margin-bottom: 20px;">
                <span>Total Credit Amount </span>
                <span> : </span>
                <span> {{ functionAmount() }} </span>
            </div>
        </div> -->
        <!-- <ng-template pTemplate="paginatorleft"> -->
        <p-divider type="dashed">
            <span class=" p-tag success">Total Success</span>
        </p-divider>

        <div class="total-trans p-grid p-ai-center p-jc-between">
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Debit Volume : {{totalRowDebitS}}</div>
                <div>Total Debit Amount : {{totalAmountDS | currency:'Rp '}}</div>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Credit Volume : {{totalRowCreditS}}</div>
                <div>Total Credit Amount : {{totalAmountCS | currency:'Rp '}}</div>
            </div>
        </div>

        <div style="height: 0.5rem;"></div>
        <p-divider type="dashed">
            <span class="p-tag error" style="background: #ff7f5c;">Total Failed</span>
        </p-divider>
        <div class="total-trans p-d-flex p-ai-center p-jc-between">
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Debit Volume : {{totalRowDebitE}}</div>
                <div>Total Debit Amount : {{totalAmountDE| currency:'Rp '}}</div>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Credit Volume : {{totalRowCreditE}}</div>
                <div>Total Credit Amount : {{totalAmountCE | currency:'Rp '}}</div>
            </div>
        </div>

        <div style="height: 0.5rem;"></div>
        <p-divider type="dashed">
            <span class="p-tag error" style="background: #000000;">Total Timeout</span>
        </p-divider>
        <div class="total-trans p-d-flex p-ai-center p-jc-between">
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Debit Volume : {{totalRowDebitT}}</div>
                <div>Total Debit Amount : {{totalAmountDT| currency:'Rp '}}</div>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Credit Volume : {{totalRowCreditT}}</div>
                <div>Total Credit Amount : {{totalAmountCT | currency:'Rp '}}</div>
            </div>
        </div>
        <!-- </ng-template> -->
    </div>
</div>
<p-dialog header="Delete Group" [(visible)]="display" [style]="{ width: '20vw' }" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p style="font-size: 18">Are you sure want to delete this Organization?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display = false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteGroup()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>