<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col-12">
                        <div class="p-col-4">
                            <div class="box">
                                <label for="proxycode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Proxy Code *
                                    :</label>
                                <input class="p-mt-2" name="proxycode" formControlName="proxycode" id="proxycode"
                                    type="text" pInputText required>
                                <div class="p-field" *ngIf="submitted && f.proxycode.errors">
                                    <span style="color: red;" *ngIf="f.proxycode.errors.required">Proxy code is
                                        required</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div style="height: 15px;"></div> -->
                        <div class="p-col-4">
                            <div class="box">
                                <label for="proxyname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Proxy Name * :</label>
                                <input class="p-mt-2" name="proxyname" formControlName="proxyname" id="proxyname"
                                    type="text" pInputText required>
                                <div class="p-field" *ngIf="submitted && f.proxyname.errors">
                                    <span style="color: red;" *ngIf="f.proxyname.errors.required">Proxy Name is
                                        required</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div style="height: 15px;"></div> -->
                        <div class="p-col-4">
                            <div class="box">
                                <label for="isactive" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Active * :</label>
                                <p-dropdown id="isactive" [options]="stateOptions" formControlName="isactive"
                                    optionLabel="label" optionValue="value"></p-dropdown>


                                <div class="p-field" *ngIf="submitted && f.isactive.errors">
                                    <span style="color: red;" *ngIf="f.isactive.errors.required">Status is
                                        required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>

</div>