<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="trxData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div class="p-px-3 p-mb-5">
    <p-card>
        <div *ngIf="trxData.length > 0" style="padding-left: 10px;padding-right: 10px;">
            <!-- <app-tablehelper [records]="trxData" [header]="trxheader" [wsearch]=true [actionbtn]="trxactionbtn"
                [colnames]="trxcolname" [colwidth]="trxcolwidth" [colclasshalign]="trxcolhalign" [addbtnlink]="trxaddbtn"
                [colmark]="'status'" (datadeleted)="deleteConfirmation($event)"></app-tablehelper> -->
            <app-tablehelper [records]="trxData" [header]="trxheader" [wsearch]=true [actionbtn]="trxactionbtn"
                [colnames]="trxcolname" [colwidth]="trxcolwidth" [colclasshalign]="trxcolhalign"
                [addbtnlink]="trxaddbtn" (datadeleted)="deleteConfirmation($event)"
                (datapreview)="previewConfirmation($event)" [nopaging]=false [scrollheight]="scrollheight"
                (dataapprover)="approvalData($event)" [colmark]="'active'"></app-tablehelper>
        </div>
    </p-card>
</div>

<p-dialog header="Delete Transaction Cost" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [modal]="true">
    <p style="font-size: 18;">Are you sure want to delete this Transaction Cost?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteTrx()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>