<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="city-section">
  <p-messages></p-messages>
  <p-card>
    <p-table #dt [columns]="selectedColumns" [value]="cityData" styleClass="p-datatable" [rows]="10"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
          <button pButton pRipple label="Add City" icon="pi pi-plus" class="p-button add-city"
            (click)="openNew()"></button>
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} Columns Selected" placeholder="Choose Columns">
          </p-multiSelect>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <div *ngIf="isFetching" class="p-datatable-loading-overlay p-component-overlay ng-star-inserted">
          <p-progressSpinner strokeWidth="5"></p-progressSpinner>
        </div>
        <tr>
          <!-- <th *ngFor="let col of columns" class="p-text-center">
            {{col.header}}
          </th> -->
          <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.isOrder==false">
              <th class="p-text-center" style="vertical-align: middle;">
                {{col.header}}
              </th>
            </ng-container>
            <ng-container *ngIf="col.isOrder==true">
              <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
              </th>
            </ng-container>
          </ng-container>
          <th rowspan="2" style="vertical-align : middle;text-align:center;">Action</th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" style="vertical-align: middle; text-align:center;">
            <ng-template [ngIf]="!col.transform">
              <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false"
                (input)="dt.filter($event.target.value, col.field, 'contains')"></p-columnFilter>
            </ng-template>
            <ng-template [ngIf]="col.transform">
              <p-columnFilter field="status" [showMenu]="false">
                <ng-template pTemplate="filter">
                  <p-dropdown appendTo="body" id="status" [options]="status" optionValue="value"
                    (onChange)="dt.filter($event.value, col.field, 'contains')" placeholder="Any" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'status-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </ng-template>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" style="vertical-align : middle;text-align:center;">
            <ng-template [ngIf]="!col.transform">
              {{ rowData[col.field] }}
            </ng-template>
            <ng-template [ngIf]="col.transform">
              <span
                [class]="'status-badge status-' + rowData[col.field]">{{rowData[col.field] == 1 ? "ACTIVE" : "INACTIVE"}}</span>
            </ng-template>
          </td>
          <td style="vertical-align : middle;text-align:center;">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-success edit-city p-mr-2 p-mt-2 p-mb-2"
              (click)="editCity(rowData)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-warning del-city p-mt-2 p-mb-2"
              (click)="deleteConfirmation(rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<p-dialog [(visible)]="cityDialog" styleClass="p-fluid" [style]="{width: '500px'}" header="City Details" [modal]="true">
  <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
    <div class="d-add-data">
      <div class="d-content">
        <input type="text" formControlName="id_city" id="id_city" pInputText style="display: none;" />
        <div class="p-field p-mb-3">
          <label for="kode_kota">City Code</label>
          <input type="text" formControlName="kode_kota" id="kode_kota" pInputText required autofocus />
          <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.kode_kota.errors">
            <small class="p-error" *ngIf="f.kode_kota.errors.required">City Code is required.</small>
          </div>
        </div>
        <div class="p-field p-mb-3">
          <label for="nama_kota">City Name</label>
          <input type="text" formControlName="nama_kota" id="nama_kota" pInputText required />
          <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.nama_kota.errors">
            <small class="p-error" *ngIf="f.nama_kota.errors.required">City Name is required.</small>
          </div>
        </div>
        <div class="p-field p-mb-3">
          <label for="status">Status City</label>
          <p-dropdown id="status" [options]="status" optionLabel="label" optionValue="value" formControlName="status"
            placeholder="Select one...">
          </p-dropdown>
        </div>
      </div>
      <div class="d-btn p-d-flex">
        <button *ngIf="!isEdit" pButton label="{{isProcess==false ? 'Save' : ' '}}"
          class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" type="submit">
          <div class="progress-spinner" *ngIf="isProcess">
            <p-progressSpinner strokeWidth="7"></p-progressSpinner>
          </div>
        </button>
        <button *ngIf="isEdit" pButton label="{{isProcess==false ? 'Edit' : ' '}}"
          class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" type="submit">
          <div class="progress-spinner" *ngIf="isProcess">
            <p-progressSpinner strokeWidth="7"></p-progressSpinner>
          </div>
        </button>
        <button pButton pRipple label="Cancel" class="p-button-warning canc-btn p-mt-2 p-mb-2"
          (click)="cityDialog=false"></button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog header="Delete City" [(visible)]="delCityDialog" styleClass="p-fluid" [modal]="true">
  <div class="d-del-data">
    <div class="d-content">
      <p>Are you sure want to delete this City?</p>
    </div>
    <div class="d-btn p-d-flex">
      <button pButton label="{{isProcess==false ? 'Delete' : ' '}}" class="p-button save-btn p-mr-2 p-mt-2 p-mb-2"
        (click)="deleteCity()">
        <div class="progress-spinner" *ngIf="isProcess">
          <p-progressSpinner strokeWidth="7"></p-progressSpinner>
        </div>
      </button>
      <button pButton pRipple label="Cancel" class="p-button-warning canc-btn p-mt-2 p-mb-2"
        (click)="delCityDialog=false"></button>
    </div>
  </div>
</p-dialog>
