<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="p-col">
                            <div class="box">
                                <label for="paramname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Parameter Name *
                                    :</label>
                                <input class="p-mt-2" name="paramname" formControlName="paramname" id="paramname"
                                    type="text" pInputText required>
                                <div class="p-field" *ngIf="submitted && f.paramname.errors">
                                    <span style="color: red;" *ngIf="f.paramname.errors.required">Parameter name is
                                        required</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div style="height: 15px;"></div> -->
                        <div class="p-col">
                            <div class="box">
                                <label for="paramvalua" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Value * :</label>
                                <input class="p-mt-2" name="paramvalua" formControlName="paramvalua" id="paramvalua"
                                    type="text" pInputText required>
                                <div class="p-field" *ngIf="submitted && f.paramvalua.errors">
                                    <span style="color: red;" *ngIf="f.paramvalua.errors.required">Value is
                                        required</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div style="height: 15px;"></div> -->
                        <div class="p-col">
                            <div class="box">
                                <label for="isactive" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Active * :</label>
                                <p-dropdown id="isactive" [options]="stateOptions" formControlName="isactive"
                                    optionLabel="label" optionValue="value"></p-dropdown>


                                <div class="p-field" *ngIf="submitted && f.isactive.errors">
                                    <span style="color: red;" *ngIf="f.isactive.errors.required">Status is
                                        required</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="p-col-6">
                        <div class="p-col">
                            <div class="box">
                                <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description :</label>
                                <div style="height: 8px;"></div>
                                <!-- <p-selectButton id="isactive" [options]="stateOptions" formControlName="isactive"
                                    optionLabel="label" optionValue="value"></p-selectButton> -->
                                <textarea class="p-inputtext" id="description" rows="7" cols="109"
                                    formControlName="description" pInputTextarea></textarea>
                            </div>
                            <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>

</div>