<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="transrpt-section">
  <p-messages></p-messages>
  <p-card class="transrpt-param">
    <div class="p-d-flex p-flex-column">
      <div class="p-fluid p-grid p-col-12" style="justify-content: center; align-items: center;">
        <div class="p-field p-mr-1 p-col-3">
          <label for="rangeDates">Date Range</label>
          <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true" [readonlyInput]="true"
            inputId="range" id="rangesDates" dateFormat="dd M yy"></p-calendar>
        </div>
        <div class="p-field p-mr-4 p-col-3">
          <label for="transactionType">Transaction Type</label>
          <p-dropdown id="transactionType" [options]="transactionType" [(ngModel)]="transactionTypeSelected"
            optionLabel="label" optionValue="value" placeholder="Select one...">
          </p-dropdown>
        </div>
        <div class="p-field p-mt-4 p-col-2">
          <button pButton pRipple type="button" icon="pi pi-search" [routerLink]="home" label="Search"
            (click)="refreshReportData()" class="p-button search-trans"></button>
        </div>
      </div>
    </div>
  </p-card>

  <div style="height: 15px;"></div>

  <p-card>
    <p-table #dt id="tb-transrpt" [columns]="selectedColumns" [value]="rptData" styleClass="p-datatable" [rows]="10"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} from {totalRecords} Data" [scrollable]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} Columns Selected" placeholder="Choose Columns">
          </p-multiSelect>
          <div class="p-d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
              class="p-button-success p-ml-auto p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
              class="p-button-info p-ml-auto" pTooltip="PDF" tooltipPosition="bottom"></button> -->
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <div *ngIf="isFetching" class="p-datatable-loading-overlay p-component-overlay ng-star-inserted">
          <p-progressSpinner strokeWidth="5"></p-progressSpinner>
        </div>
        <tr>
          <th *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;"
            [ngStyle]="{'width': col.width}">
            {{col.header}}
          </th>
        </tr>
        <!-- <tr>
          <th *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;">
            <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false"
              (input)="dt.filter($event.target.value, col.field, 'contains')"></p-columnFilter>
          </th>
        </tr> -->
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;"
            [ngStyle]="{'width': col.width}">
            {{col.data ? (rowData[col.field] | currency:'Rp') : rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-divider type="dashed">
          <span class="p-tag success">Total Success</span>
        </p-divider>
        <div class="total-trans p-d-flex p-ai-center p-jc-between">
          <div class="total-trans p-d-grid p-ai-center p-jc-start">
            <div>Total Debit Volume : {{totalRowDebitS}}</div>
            <div>Total Debit Amount : {{totalAmountDS | currency:'Rp'}}</div>
          </div>
          <p-divider layout="vertical"></p-divider>
          <div class="total-trans p-d-grid p-ai-center p-jc-start">
            <div>Total Credit Volume : {{totalRowCreditS}}</div>
            <div>Total Credit Amount : {{totalAmountCS | currency:'Rp'}}</div>
          </div>
        </div>
        <div style="height: 0.5rem;"></div>
        <p-divider type="dashed">
          <span class="p-tag error" style="background: #ff7f5c;">Total Failed</span>
        </p-divider>
        <div class="total-trans p-d-flex p-ai-center p-jc-between">
          <div class="total-trans p-d-grid p-ai-center p-jc-start">
            <div>Total Debit Volume : {{totalRowDebitF}}</div>
            <div>Total Debit Amount : {{totalAmountDF | currency:'Rp'}}</div>
          </div>
          <p-divider layout="vertical"></p-divider>
          <div class="total-trans p-d-grid p-ai-center p-jc-start">
            <div>Total Credit Volume : {{totalRowCreditF}}</div>
            <div>Total Credit Amount : {{totalAmountCF | currency:'Rp'}}</div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer" let-rowData let-columns>
        <ng-container *ngIf="rptData.length==1">
          <tr>
            <td [attr.colspan]="18" class="empty-msg p-text-center">
              Do a search to display the data.
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </p-card>
  <!-- 
  <div style="height: 5rem;"></div> -->
</div>

<!-- ["name", "accnum", "prxaddress", "branch", "channel", "prxtype", "secid", "custresidence", "stsprxadd"] -->
<!-- <p-progressSpinner *ngIf="proxyData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages> -->

<!-- <div class="wrapperinside">
    <div style="height: 20px;"></div>
    <p-card class="p-my-2">
        <div class=" p-fluid">
            <div class="p-grid">
                <div class="p-col">
                    <div class="box">
                        <label for="rangesDates" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Date Range
                            :</label>
                        <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                            type="text" pInputText required>
                        <div style="height: 8px;"></div>
                        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true"
                            [readonlyInput]="true" inputId="range" id="rangesDates"></p-calendar>
                    </div>
                    <div style="height: 15px;"></div>
                    <div class="box">
                        <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description
                            :</label>
                        <input class="p-mt-2" name="description" [(ngModel)]="description" id="description" type="text"
                            pInputText required>
                    </div>
                </div>
                <div class="p-col">
                    <div class="box">
                        <label for="branch" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Report Type :</label>
                        <div style="height: 8px;"></div>
                        <p-dropdown id="branch" [options]="transactiontype" [(ngModel)]="transactiontypeSelected"
                            optionLabel="label" placeholder="Select Report Type"></p-dropdown>
                    </div>
                    <div style="height: 15px;"></div>

                    <div style="height: 15px;"></div>
                    <div class="p-grid">
                        <div class="p-col">

                        </div>
                        <div class="p-col">
                            <div class="box">
                                <button pButton pRipple type="button" icon="pi pi-plus-circle" [routerLink]="home"
                                    label="Generate Report" (click)="refreshData()" class="p-button-info"></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </p-card>
    <div style="height: 20px;"></div>
    <div class="card">
        <p-progressSpinner *ngIf="rptData.length == 0" class="p-text-center"></p-progressSpinner>
        <p-messages></p-messages>
        <p-table *ngIf="rptData.length > 0" [value]="rptData" [scrollable]="true" scrollHeight="300px"
            scrollDirection="both">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                        <button pButton pRipple type="button" icon="pi pi-refresh" (click)="initialData()"
                            label="Refresh" class="p-button-success"></button>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="p-text-center" style="width:150px">Trx Date</th>
                    <th class="p-text-center" style="width:200px">Report Type</th>
                    <th class="p-text-center" style="width:200px">Description</th>
                    <th class="p-text-center" style="width:100px">Status</th>
                    <th class="p-text-center" style="width:100px">Action</th>

                </tr>
            </ng-template>
            {created_date : "2021-01-01",status:"success",trxnumber:"2341232423423423423423434", refnumbifast:"34534523542345234523452345234", channel:"Mobile banking", destbank:"Bank BCA", srcbank:"Bank Mantap", destaccnum:"1231234234235235", srcaccnum:"23452345234523452345", destaccname:"Jhony Kuple", srcaccname:"Deden dandan", change_who:"SYS", amount:1000000, transacttype:"Incoming"}
            <ng-template pTemplate="body" let-rptdata>
                <tr>
                    <td class="p-text-center" style="width:150px">{{rptdata.created_date}}</td>
                    <td class="p-text-center" style="width:200px" *ngIf="rptdata.rpttype == 0">All</td>
                    <td class="p-text-center" style="width:200px" *ngIf="rptdata.rpttype == 1">Incoming Report</td>
                    <td class="p-text-center" style="width:200px" *ngIf="rptdata.rpttype == 2">Outgoing Report</td>
                    <td class="p-text-center" style="width:200px" *ngIf="rptdata.rpttype == 3">Fee Summary Report</td>
                    <td style="width:200px">{{rptdata.description}}</td>
                    <td class="p-text-center" style="width:100px" *ngIf="rptdata.status == 0">Processing</td>
                    <td class="p-text-center" style="width:200px" *ngIf="rptdata.status == 1">Success</td>
                    <td class="p-text-center" style="width:200px; color:red;" *ngIf="rptdata.status == 2">Error</td>
                    <td class="p-text-center" style="width:100px">
                        <button *ngIf="rptdata.status == 1" (click)="downloadXLS(rptdata.pathfile,rptdata)" pButton
                            pRipple type="button" icon="pi picstm pi-file-excel"
                            class="p-button-rounded p-button-text cstnoheader"></button>
                        <button *ngIf="rptdata.status == 1" (click)="downloadPDF(rptdata.pathfile)" pButton pRipple
                            type="button" icon="pi picstm pi-file-pdf" style="color: red;"
                            class="p-button-rounded p-button-secondary p-button-text cstnoheader"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
<p-dialog header="Delete Group" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" [modal]="true">
    <p style="font-size: 18;">Are you sure want to delete this Organization?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteGroup()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog> -->