 
.transrpt-section {
  margin: 0rem 1.4rem;
}

  

/* CUSTOM DATATABLE */


::ng-deep .p-multiselect-item .p-checkbox-icon {
  font-family: 'primeicons';
}

::ng-deep .total-trans {
  font-family: Poppins-Medium;
  font-size: 0.85rem;
}

::ng-deep .empty-msg {
  font-family: Poppins-Medium;
  font-size: 0.85rem;
  font-weight: normal !important;
}

/* CUSTOM DATATABLE */

::ng-deep .transrpt-section .transrpt-param .p-dropdown {
  padding: 0.5rem 0.75rem !important;
  border-radius: 10px;
}

::ng-deep .transrpt-section .p-dropdown {
  padding: 0rem 0.5rem !important;
  border-radius: 10px;
}

::ng-deep .transrpt-section .p-dropdown .p-dropdown-label {
  font-family: Poppins-Regular;
  font-size: 0.9rem !important;
}

::ng-deep .transrpt-section .p-dropdown .p-dropdown-panel {
  border-radius: 10px;
  margin-top: 0.35rem;
}

::ng-deep .transrpt-section .p-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item span {
  font-family: Poppins-Regular;
  font-size: 0.9rem !important;
}

::ng-deep .transrpt-section .p-dropdown .p-dropdown-panel .p-dropdown-items:not(.p-dropdown-virtualscroll) {
  padding: 0.5rem 0.5rem;
}

::ng-deep .transrpt-section .p-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  background: #e2eefd;
  color: #0d63c3;
}

::ng-deep .transrpt-section .p-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: none;
  color: #0d63c3;
}

::ng-deep .transrpt-section .p-field>label {
  font-family: Poppins-Medium;
  font-size: 0.9rem;
  margin-left: 0.25rem !important;
  margin-bottom: 0.5rem !important;
}

::ng-deep .transrpt-section .p-fluid .p-calendar .p-inputtext {
  font-family: Poppins-Regular;
  font-size: 0.9rem !important;
  padding: 0.7rem 0.75rem !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

::ng-deep .transrpt-section .p-fluid .p-calendar-w-btn .p-datepicker-trigger {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

::ng-deep .p-calendar .p-datepicker {
  border-radius: 10px !important;
  margin-top: 0.25rem;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title {
  font-family: Poppins-Medium;
  font-size: 0.95rem;
  font-weight: normal;
}

::ng-deep .p-datepicker table {
  font-family: Poppins-Medium;
  font-size: 0.85rem;
  font-weight: normal;
}

::ng-deep .p-datepicker table td>span {
  border-radius: 20% !important;
}

::ng-deep .p-datepicker table td.p-datepicker-today>span {
  background: #a6d5fa;
  color: #495057;
  border-color: transparent;

}

::ng-deep .search-trans.p-button {
  padding: 0.7rem 0.8rem !important;
  border-radius: 7px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.25rem;
}

::ng-deep .search-trans .p-button-icon {
  font-size: 0.8rem !important;
  margin-right: 0.75rem;
}

::ng-deep .search-trans .p-button-label {
  font-family: Poppins-Medium;
  font-size: 0.9rem;
  font-weight: normal;
  flex: none;
}

.transrpt-section .p-field>label {
  font-family: Poppins-Medium;
  font-size: 0.9rem;
  margin-left: 0.25rem !important;
  margin-bottom: 0.5rem !important;
}

::ng-deep .p-message .p-message-summary {
  font-family: Poppins-Medium;
  font-size: 0.9rem;
  font-weight: normal;
}

::ng-deep .p-message .p-message-detail {
  font-family: Poppins-Regular;
  font-size: 0.9rem;
  font-weight: normal;
}

:host ::ng-deep .transrpt-section .p-progress-spinner {
  width: 50px !important;
  height: 50px !important;
}

:host ::ng-deep .transrpt-section .p-progress-spinner-circle {
  animation: ch-custom-progress-spinner-dash 1.5s ease-in-out infinite, ch-custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes ch-custom-progress-spinner-color {

  100%,
  0% {
    stroke: #0d63c3;
  }

  40% {
    stroke: #eccd26;
  }

  66% {
    stroke: #0d63c3;
  }

  80%,
  90% {
    stroke: #eccd26;
  }
}

@keyframes ch-custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
