<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>




<div class="p-px-3 p-pb-5">
    <p-messages></p-messages>
    <p-card class="content-container">
        <div *ngIf="userlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
            <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
                [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign"
                [addbtnlink]="usraddbtn" [colmark]="'active'" (changePage1)="uploadFile($event)"
                (changePage2)="triggerJob($event)" [scrollheight]="scrollheight" [nopaging]=false [reloadButton]="true"
                (reload)="refreshingUser()">

            </app-tablehelper>
        </div>
    </p-card>
</div>