<style>
    body {
        background: #007dc5
    }

    section {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>
<p-blockUI [target] [blocked]="isProcess">
    <p-progressSpinner>
        <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1>
    </p-progressSpinner>
    <!-- <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1> -->

</p-blockUI>
<section>
    <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <p-card header="Forgot Password" [style]="{width: '360px'}" styleClass="p-card-shadow p-header-w50">
            <ng-template pTemplate="header">
                <div class="p-text-center"><img alt="logo" src="assets/logos/komiportal.png"></div>
            </ng-template>
            <div class="p-fluid">
                <div class="p-field">
                    <label for="emailid" class="labelpb">Email</label>
                    <!-- <input id="userid" name="userid" type="text" required  [(ngModel)]="userid" pInputText> -->
                    <input id="emailid" name="emailid" type="text" required formControlName="emailid" pInputText>
                </div>
                <div class="p-field" *ngIf="submitted && f.emailid.errors">
                    <span style="color: red;" *ngIf="f.emailid.errors.required">Email is required</span>
                </div>
                <div style="height: 0.3rem;"></div>
            </div>
            <ng-template pTemplate="footer">
                <!-- <button pButton pRipple type="button" label="Login" (click)="passData()" class="p-button-rounded"></button> -->
                <div class="p-text-right">
                    <button pButton pRipple type="submit" label="Submit" class="p-primary-btn"></button>
                </div>
            </ng-template>
        </p-card>
    </form>
    <p-messages></p-messages>
</section>