<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="isFetching" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div class="p-mx-2 p-my-4">
    <p-card>
        <div class="p-fluid p-m-2">
            <div class="p-grid">
                <div class="p-col">
                    <div class="box">
                        <label for="startDate" class=" p-col-12 p-mb-2 p-md-2 p-mb-md-0">Start
                            Date :</label>
                        <div style="height: 8px;"></div>
                        <p-calendar [(ngModel)]="startDate" dateFormat="dd-mm-yy" inputId="startDate"></p-calendar>
                    </div>
                    <div style="height: 15px;"></div>
                </div>
                <div class="p-col">
                    <div class="box">
                        <label for="endDate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">End Date
                            :</label>
                        <div style="height: 8px;"></div>
                        <p-calendar dateFormat="dd-mm-yy" [(ngModel)]="endDate" inputId="endDate"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                    <div class="box">
                        <label for="userId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">User Id :</label>

                        <div style="height: 8px;"></div>
                        <input pInputText [(ngModel)]="userId" />
                    </div>
                    <div style="height: 15px;"></div>
                </div>
                <div class="p-col">
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col">
                </div>
                <div class="p-col">
                    <div class="p-grid">
                        <div class="p-col">
                            <button pButton pRipple type="button" icon="pi pi-search" label="Search"
                                class="p-button-info" (click)="filterData()"></button>
                        </div>
                        <div class="p-col">
                            <button pButton pRipple type="button" icon="pi pi-refresh" (click)="removeFilter()"
                                label="Clear Filter" class="p-button-warning"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
</div>

<div *ngIf="limitData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <p-table [value]="limitData" [paginator]="true" [rowsPerPageOptions]="[5, 10,25,50]" [rows]="15">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-right p-ml-auto">
                    <button pButton pRipple type="button" icon="pi pi-file-excel" (click)="exportPDF()"
                        label="Export PDF" class="p-button-danger"></button>
                    &nbsp;
                    <button pButton pRipple type="button" icon="pi pi-file-pdf" (click)="exportexcel()"
                        label="Export CSV" class="p-button-success"></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of prxheader">
                    {{col.label}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td *ngFor="let col of prxcolname">
                    {{rowData[col]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>