 
.prxsum-section {
  margin: 0rem 1.4rem;
}

  

/* CUSTOM DATATABLE */


::ng-deep .p-multiselect-item .p-checkbox-icon {
  font-family: 'primeicons';
}

//   ::ng-deep .total-trans {
//     font-family: Poppins-Medium;
//     font-size: 0.85rem;
//   }

/* CUSTOM DATATABLE */

:ng-deep .p-message .p-message-summary {
  font-family: Poppins-Medium;
  font-size: 0.9rem;
  font-weight: normal;
}

::ng-deep .p-message .p-message-detail {
  font-family: Poppins-Regular;
  font-size: 0.9rem;
  font-weight: normal;
}

:host ::ng-deep .prxsum-section .p-progress-spinner {
  width: 50px !important;
  height: 50px !important;
}

:host ::ng-deep .prxsum-section .p-progress-spinner-circle {
  animation: ch-custom-progress-spinner-dash 1.5s ease-in-out infinite, ch-custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes ch-custom-progress-spinner-color {

  100%,
  0% {
    stroke: #0d63c3;
  }

  40% {
    stroke: #eccd26;
  }

  66% {
    stroke: #0d63c3;
  }

  80%,
  90% {
    stroke: #eccd26;
  }
}

@keyframes ch-custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
