<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="prxsum-section">
  <p-messages></p-messages>
  <p-card>
    <p-table #dt id="tb-prxsum" [columns]="selectedColumns" [value]="proxSumData" styleClass="p-datatable" [rows]="10"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} from {totalRecords} Data">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} Columns Selected" placeholder="Choose Columns">
          </p-multiSelect>
          <div class="p-d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
              class="p-button-success p-ml-auto p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
              class="p-button-info p-ml-auto" pTooltip="PDF" tooltipPosition="bottom"></button> -->
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <div *ngIf="isFetching" class="p-datatable-loading-overlay p-component-overlay ng-star-inserted">
          <p-progressSpinner strokeWidth="5"></p-progressSpinner>
        </div>
        <tr>
          <th *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;">
            {{col.header}}
          </th>
          <!-- <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.isOrder==false">
              <th class="p-text-center" style="vertical-align: middle;" [ngStyle]="{'width': col.width}">
                {{col.header}}
              </th>
            </ng-container>
            <ng-container *ngIf="col.isOrder==true">
              <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}"
                [ngStyle]="{'width': col.width}">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
              </th>
            </ng-container>
          </ng-container> -->
        </tr>
        <!-- <tr>
          <th *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;">
            <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false"
              (input)="dt.filter($event.target.value, col.field, 'contains')"></p-columnFilter>
          </th>
        </tr> -->
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-rowData let-columns>
        <tr>
          <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.totalHead==true">
              <td class="p-text-center" style="vertical-align: middle;">
                Total
              </td>
            </ng-container>
            <ng-container *ngIf="col.totalHead==false">
              <td *ngIf="col.field=='totalProxy'" class="p-text-center" style="vertical-align: middle;">
                {{ getSumTotalProxy(proxSumData) }}
              </td>
              <td *ngIf="col.field=='countActv'" class="p-text-center" style="vertical-align: middle;">
                {{ getSumActv(proxSumData) }}
              </td>
              <td *ngIf="col.field=='countIctv'" class="p-text-center" style="vertical-align: middle;">
                {{ getSumIctv(proxSumData) }}
              </td>
              <td *ngIf="col.field=='countSusp'" class="p-text-center" style="vertical-align: middle;">
                {{ getSumSusp(proxSumData) }}
              </td>
              <td *ngIf="col.field=='countSusb'" class="p-text-center" style="vertical-align: middle;">
                {{ getSumSusb(proxSumData) }}
              </td>
              <td *ngIf="col.field=='countPort'" class="p-text-center" style="vertical-align: middle;">
                {{ getSumPort(proxSumData) }}
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
