<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                          <label for="upper_limit" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Upper Limit *
                            :</label>
                          <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                              type="text" pInputText required> -->
                          <div style="height: 8px;"></div>
                          <!--<p-dropdown id="isactive" [options]="proxytypes" formControlName="proxy_type"
                              optionLabel="label" optionValue="valueint" placeholder="Select Proxy Type"></p-dropdown>-->
                          <input class="p-mt-2" name="upper_limit" formControlName="upper_limit" id="upper_limit" type="number" pInputText
                                 required>
                          <div class="p-field" *ngIf="submitted && f.upper_limit.errors">
                                <span style="color: red;" *ngIf="f.upper_limit.errors.required">Value is
                                    required</span>
                          </div>

                          <div style="height: 10px;"></div>

                          <label for="reference_limit" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Reference Limit *
                            :</label>
                          <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                              type="text" pInputText required> -->
                          <div style="height: 8px;"></div>
                          <!--<p-dropdown id="isactive" [options]="proxytypes" formControlName="proxy_type"
                              optionLabel="label" optionValue="valueint" placeholder="Select Proxy Type"></p-dropdown>-->
                          <input class="p-mt-2" name="reference_limit" formControlName="reference_limit" id="reference_limit" type="number" pInputText
                                 required>
                          <div class="p-field" *ngIf="submitted && f.reference_limit.errors">
                                <span style="color: red;" *ngIf="f.reference_limit.errors.required">Value is
                                    required</span>
                          </div>

                          <div style="height: 10px;"></div>

                            <label for="amber_level" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">amber_level *
                                :</label>
                            <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                                type="text" pInputText required> -->
                            <div style="height: 8px;"></div>
                            <!--<p-dropdown id="isactive" [options]="proxytypes" formControlName="proxy_type"
                                optionLabel="label" optionValue="valueint" placeholder="Select Proxy Type"></p-dropdown>-->
                            <input class="p-mt-2" name="amber_level" formControlName="amber_level" id="amber_level" type="number" pInputText
                                required>
                            <div class="p-field" *ngIf="submitted && f.amber_level.errors">
                                <span style="color: red;" *ngIf="f.amber_level.errors.required">Value is
                                    required</span>
                            </div>

                          <div style="height: 10px;"></div>

                          <label for="red_level" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">red_level *
                            :</label>
                          <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                              type="text" pInputText required> -->
                          <div style="height: 8px;"></div>
                          <!--<p-dropdown id="isactive" [options]="proxytypes" formControlName="proxy_type"
                              optionLabel="label" optionValue="valueint" placeholder="Select Proxy Type"></p-dropdown>-->
                          <input class="p-mt-2" name="red_level" formControlName="red_level" id="red_level" type="number" pInputText
                                 required>
                          <div class="p-field" *ngIf="submitted && f.red_level.errors">
                                <span style="color: red;" *ngIf="f.red_level.errors.required">Value is
                                    required</span>
                          </div>

                        </div>


                    </div>

<!--                    <div class="p-col">-->
<!--                        <div style="height: 8px;"></div>-->
<!--                        <div class="box">-->
<!--                            <label for="max" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Max *-->
<!--                                :</label>-->
<!--                            <input class="p-mt-2" name="max" formControlName="max" id="max" type="number" pInputText-->
<!--                                required>-->
<!--                            <div class="p-field" *ngIf="submitted && f.max.errors">-->
<!--                                <span style="color: red;" *ngIf="f.max.errors.required">Nilai max harus lebih besar</span>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                        &lt;!&ndash; <p>Keep deactivated will email the user registered to activated</p> &ndash;&gt;-->
<!--                    </div>-->
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple id="submitfe" type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>
