

:host ::ng-deep .widget-card {
    cursor: pointer;  
 }

 :host ::ng-deep .selected .p-card-body{
    border: 1px solid #2d89f1;
    border-radius: 5px;
 }

 :host ::ng-deep .widget-title{
   font-family: 'Poppins-Regular';
}