<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="p-px-3 p-pb-5">
    <p-messages></p-messages>
    <p-card class="content-container">
        <div *ngIf="userlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
            <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
                [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign"
                [addbtnlink]="usraddbtn" [colmark]="'active'" (datadeleted)="deleteConfirmation($event)"
                (datapreview)="viewData($event)" (dataapprover)="approvalData($event)" [scrollheight]="scrollheight"
                [nopaging]=false [reloadButton]="true" (reload)="refreshingUser()">

            </app-tablehelper>
        </div>
    </p-card>
</div>

<p-dialog header="Delete" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" [modal]="true">
    <p style="font-size: 18;">Are you sure want to delete this Format Registration?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteRecon()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
