<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div class="content-section">
    <p-messages></p-messages>

    <p-card *ngIf="showSearch">
        <form (ngSubmit)="searchProxy()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
            <div class="d-add-data">
                <div class="d-content">
                    <div class="p-fluid p-grid">
                        <input type="text" formControlName="searchOption" id="searchOption" pInputText
                            style="display: none;" />
                        <div class="p-field p-mb-3 p-col">
                            <label for="status_ch">Search By :</label>
                            <p-dropdown id="searchOption" [options]="searchOption" optionLabel="label"
                                optionValue="value" placeholder="Select one..." formControlName="searchOption">
                            </p-dropdown>
                        </div>
                        <div class="p-field p-mb-3 p-col">
                            <label for="searchValue">Value : </label>
                            <input type="text" formControlName="searchValue" id="searchValue" pInputText required />
                            <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.searchValue.errors">
                                <small class="p-error" *ngIf="f.searchValue.errors.required">Value is required.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-btn p-fluid p-d-flex p-jc-center">
                    <div class="p-col-2">
                        <button [disabled]="isProcess" *ngIf="!isEdit" pButton
                            label="{{isProcess==false ? 'Search' : ' '}}" class="p-button save-btn p-mr-2"
                            type="submit">
                            <div class="progress-spinner" *ngIf="isProcess">
                                <p-progressSpinner strokeWidth="7"></p-progressSpinner>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </p-card>

    <div class="p-mt-3">
        <p-card *ngIf="proxyTabel">
            <p-table #dt [columns]="selectedColumns" [value]="proxyData" styleClass="p-datatable" [rows]="10"
                [scrollable]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-jc-between">
                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                            selectedItemsLabel="{0} Columns Selected" placeholder="Choose Columns">
                        </p-multiSelect>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <div *ngIf="isFetching" class="p-datatable-loading-overlay p-component-overlay ng-star-inserted">
                        <p-progressSpinner strokeWidth="5"></p-progressSpinner>
                    </div>
                    <tr>
                        <th *ngFor="let col of columns" class="p-text-center" [ngStyle]="{'width': col.width}">
                            {{col.header}}
                        </th>
                        <th rowspan="2" style="vertical-align: middle; text-align:center; width: 25em;">Action</th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" style="vertical-align: middle; text-align:center;">
                            <ng-template [ngIf]="!col.transform">
                                <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false"
                                    (input)="dt.filter($event.target.value, col.field, 'contains')"></p-columnFilter>
                            </ng-template>
                            <ng-template [ngIf]="col.transform">
                                <p-columnFilter field="proxyStatus" [showMenu]="false">
                                    <ng-template pTemplate="filter">
                                        <p-dropdown appendTo="body" id="proxyStatus" [options]="proxyOperationType"
                                            optionValue="value"
                                            (onChange)="dt.filter($event.value, col.field, 'contains')"
                                            placeholder="Any" [showClear]="true">
                                            <ng-template let-option pTemplate="item">
                                                <span>{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </ng-template>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" style="vertical-align:middle; text-align:center;"
                            [ngStyle]="{'width': col.width}">
                            <ng-template [ngIf]="!col.transform">
                                {{ rowData[col.field] }}
                            </ng-template>
                            <ng-template [ngIf]="col.transform">
                                <span>{{getOptionLabel(rowData[col.field], proxyOperationType)}}</span>
                            </ng-template>
                        </td>
                        <td style="vertical-align : middle;text-align:center; width: 25em;">
                            <button [disabled]="rowData.proxyStatus == 'ACTV' || rowData.proxyStatus == 'ICTV'" pButton
                                pRipple label="Aktivasi" class="p-button-success edit-channel p-mr-1 p-mt-2 p-mb-2"
                                (click)="activate(rowData)"></button>
                            <button [disabled]="rowData.proxyStatus == 'ICTV'" pButton pRipple label="Deaktivasi"
                                class="p-button-success edit-channel p-mr-1 p-mt-2 p-mb-2"
                                (click)="deactivate(rowData)"></button>
                            <button [disabled]="rowData.proxyStatus == 'AMND'  || rowData.proxyStatus == 'ICTV'" pButton
                                pRipple label="Update" class="p-button-success edit-channel p-mr-1 p-mt-2 p-mb-2"
                                (click)="update(rowData)"></button>
                            <button
                                [disabled]="rowData.proxyStatus == 'SUSP' || rowData.proxyStatus == 'SUSB' || rowData.proxyStatus == 'ICTV'"
                                pButton pRipple label="Suspend" class="p-button-success edit-channel p-mt-2 p-mb-2"
                                (click)="suspend(rowData)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>

    <p-card *ngIf="showForm" header="{{formName}} Proxy">
        <form (ngSubmit)="inquiry()" [formGroup]="proxyForm" *ngIf="this.proxyForm" style="padding: 2px;">
            <div class="d-add-data">
                <div class="d-content">
                    <ng-container *ngIf="proxyOperation == 'AMND'">
                        <div class="p-fluid p-grid p-mt-4">
                            <div class="p-field p-mb-3 p-mt-2 p-col-3">
                                <label for="refNumber">ID Registrasi</label>
                            </div>

                            <div class="p-field p-mb-3 p-col-3">
                                <input type="text" placeholder="" formControlName="registrationId" id="registrationId"
                                    [readonly]="true" pInputText />
                                <div class="p-mt-1 p-ml-2" *ngIf="submittedForm && pf.registrationId .errors">
                                    <small class="p-error" *ngIf="pf.registrationId .errors.required">ID Registrasi is
                                        required.</small>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="proxyOperation != 'AMND'; else withoutMargin">
                        <div class="p-fluid p-grid p-mt-4">
                            <div class="p-field p-mb-3 p-mt-2 p-col-3">
                                <label for="refNumber">Proxy Alias</label>
                            </div>
                            <div class="p-field p-mb-3 p-col-3">
                                <input type="text" formControlName="proxyAlias" id="proxyAlias" pInputText required
                                    autofocus [readonly]="true" />
                                <div class="p-mt-1 p-ml-2" *ngIf="submittedForm && pf.proxyAlias.errors">
                                    <small class="p-error" *ngIf="pf.proxyAlias.errors.required">Proxy Value
                                        required.</small>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #withoutMargin>
                        <div class="p-fluid p-grid">
                            <div class="p-field p-mb-3 p-mt-2 p-col-3">
                                <label for="refNumber">Proxy Alias</label>
                            </div>
                            <div class="p-field p-mb-3 p-col-3">
                                <input type="text" formControlName="proxyAlias" id="proxyAlias" pInputText required
                                    autofocus [readonly]="true" />
                                <div class="p-mt-1 p-ml-2" *ngIf="submittedForm && pf.proxyAlias.errors">
                                    <small class="p-error" *ngIf="pf.proxyAlias.errors.required">Proxy Value
                                        required.</small>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <div class="p-fluid p-grid">
                        <div class="p-field p-mb-3 p-mt-2 p-col-3">
                            <label for="refNumber">No. Rekening</label>
                        </div>

                        <div class="p-field p-mb-3 p-col-3">
                            <input type="text" placeholder="" formControlName="customerAccountNumber"
                                id="customerAccountNumber" pInputText [readonly]="proxyOperation != 'AMND'" />
                            <div class="p-mt-1 p-ml-2" *ngIf="submittedForm && pf.customerAccountNumber.errors">
                                <small class="p-error" *ngIf="pf.customerAccountNumber.errors.required">No. Rekening is
                                    required.</small>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="((proxyOperation == 'ACTV') || (proxyOperation == 'SUSP' ))">
                        <div class="p-fluid p-grid">
                            <div class="p-field p-mb-3 p-mt-2 p-col-3">
                                <label for="proxyOperationType">Jenis {{formName}}</label>
                            </div>
                            <div class="p-field p-mb-3 p-col-3">
                                <p-dropdown id="proxyOperationType" [options]="proxyOprOptions" optionLabel="label"
                                    optionValue="value" placeholder="Select one..."
                                    formControlName="proxyOperationType">
                                </p-dropdown>
                                <div class="p-mt-1 p-ml-2" *ngIf="submittedForm && pf.proxyOperationType.errors">
                                    <small class="p-error" *ngIf="pf.proxyOperationType.errors.required">Jenis
                                        {{formName}} is required.</small>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container
                        *ngIf="((proxyOperation == 'ACTV') || (proxyOperation == 'SUSP') || (proxyOperation == 'DEAC'))">
                        <div class="p-fluid p-grid">
                            <div class="p-field p-mb-3 p-mt-2 p-col-3">
                                <label for="proxyInformation">Informasi {{formName}}</label>
                            </div>
                            <div class="p-field p-mb-3 p-col-3">
                                <input type="text" formControlName="proxyInformation" id="proxyInformation" pInputText
                                    required autofocus />
                                <div class="p-mt-1 p-ml-2" *ngIf="submittedForm && pf.proxyInformation.errors">
                                    <small class="p-error" *ngIf="pf.proxyInformation.errors.required">Informasi
                                        {{formName}} required.</small>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="p-fluid p-grid">
                        <div class="p-field p-mb-3 p-mt-2 p-col-3">
                            <label for="branchInput">Cabang</label>
                        </div>
                        <div class="p-field p-mb-3 p-col p-col-3">
                            <p-dropdown [options]="branch" formControlName="branchInput" optionLabel="label"
                                optionValue="value" [filter]="true" filterBy="label" [showClear]="true"
                                placeholder="Pilih Cabang" [readonly]="isFetching">
                                <ng-template>
                                    <div class="country-item country-item-value" *ngIf="pf.branchInput.value">
                                        <div>{{getOptionLabel(f.branchInput.value, branchInput)}}</div>
                                        <div class="progress-spinner" *ngIf="isFetching">
                                            <p-progressSpinner strokeWidth="7"></p-progressSpinner>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template let-branch>
                                    <div>
                                        <div>{{branch.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <div class="p-mt-1 p-ml-2" *ngIf="submittedForm && pf.branchInput.errors">
                                <small class="p-error" *ngIf="pf.branchInput.errors.required">Cabang is
                                    required.</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-btn p-fluid p-d-flex p-jc-center">
                    <ng-container *ngIf="proxyOperation != 'AMND'">
                        <div class="p-col-2">
                            <button [disabled]="isProcess" pButton label="{{isProcess==false ? 'Submit' : ' '}}"
                                class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" type="submit">
                                <div class="progress-spinner" *ngIf="isProcess">
                                    <p-progressSpinner strokeWidth="7"></p-progressSpinner>
                                </div>
                            </button>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="proxyOperation == 'AMND'">
                        <div class="p-col-2">
                            <button [disabled]="isProcess" pButton label="{{isProcess==false ? 'Submit' : ' '}}"
                                class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" (click)="inquiryUpdate()" type="button">
                                <div class="progress-spinner" *ngIf="isProcess">
                                    <p-progressSpinner strokeWidth="7"></p-progressSpinner>
                                </div>
                            </button>
                        </div>
                    </ng-container>

                    <div class="p-col-2">
                        <button [disabled]="isProcess" pButton pRipple label="Cancel"
                            class="p-button-warning canc-btn p-mt-2 p-mb-2" (click)="cancel()" type="button"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-card>

    <div *ngIf="showData" class="card-show-data">
        <p-card header="Data {{formName}} Proxy">
            <div class="d-add-data">
                <div class="d-content">
                    <div class="p-fluid p-grid p-mt-4">
                        <div class="p-field p-col">
                            <h4><u>DATA NASABAH</u></h4>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>CIF</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.cifNumber}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-field p-col">
                            <p>No. Rekening</p>
                        </div>
                        <div class="p-field p-col">
                            <p>: {{dataList.accountNumber}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>Nama Nasabah</p>
                        </div>

                        <div class="p-col">
                            <p>: {{dataList.customerName}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>Tipe Nasabah</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.customerTypeDesc}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>NIK</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.customerSecondaryValue}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>Status Kependudukan</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.customerResidentStatusDesc}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>Jenis Rekening Nasabah</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.customerAccountTypeDesc}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-mb-2 p-grid">
                        <div class="p-field p-col">
                            <h4><u>DATA PROXY</u></h4>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>Jenis Proxy</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.proxyTypeDesc}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>Proxy</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.proxyAlias}}</p>
                        </div>
                    </div>
                    <ng-container *ngIf="((proxyOperation == 'ACTV') || (proxyOperation == 'SUSP' ))">
                        <div class="p-fluid p-grid">
                            <div class="p-col">
                                <p>Jenis {{formName}}</p>
                            </div>
                            <div class="p-col">
                                <p>: {{getOptionLabel(dataList.proxyOperationType, this.proxyOprOptions) }}</p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container
                        *ngIf="((proxyOperation == 'ACTV') || (proxyOperation == 'SUSP' ) || (proxyOperation == 'DEAC'))">
                        <div class="p-fluid p-grid">
                            <div class="p-col">
                                <p>Infromasi {{formName}}</p>
                            </div>
                            <div class="p-col">
                                <p>: {{dataList.proxyInformation}}</p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="(proxyOperation == 'AMND')">
                        <div class="p-fluid p-grid">
                            <div class="p-col">
                                <p>ID Registrasi</p>
                            </div>
                            <div class="p-col">
                                <p>: {{dataList.registrationId}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="d-btn p-fluid p-d-flex p-jc-center">
                    <div class="p-col-3">
                        <button [disabled]="isProcess" (click)="submit()" pButton
                            label="{{isProcess==false ? 'Submit' : ' '}}" class="p-button save-btn p-mr-2 p-mt-2 p-mb-2"
                            type="button">
                            <div class="progress-spinner" *ngIf="isProcess">
                                <p-progressSpinner strokeWidth="7"></p-progressSpinner>
                            </div>
                        </button>
                    </div>
                    <div class="p-col-3">
                        <button [disabled]="isProcess" pButton pRipple label="Cancel"
                            class="p-button-warning canc-btn p-mt-2 p-mb-2" (click)="cancel()" type="button"></button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>

    <div *ngIf="showDataSuccess" class="card-show-data">
        <p-card header="{{formName}} Proxy">
            <div class="d-add-data">
                <div class="d-content">
                    <div class="p-fluid p-grid">
                        <div class="p-field p-col">
                            <h3><u>DATA NASABAH</u></h3>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-field p-col">
                            <p>Refference No.</p>
                        </div>
                        <div class="p-field p-col">
                            <p>: {{dataList.refNumber}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>CIF</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.cifNumber}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-field p-col">
                            <p>No. Rekening</p>
                        </div>
                        <div class="p-field p-col">
                            <p>: {{dataList.accountNumber}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>Nama Nasabah</p>
                        </div>

                        <div class="p-col">
                            <p>: {{dataList.customerName}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>Jenis Proxy</p>
                        </div>
                        <div class="p-col">
                            <p>: {{getOptionLabel(dataList.proxyType, proxyType)}}</p>
                        </div>
                    </div>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>Proxy</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.proxyAlias}}</p>
                        </div>
                    </div>
                    <ng-container *ngIf="((proxyOperation == 'ACTV') || (proxyOperation == 'SUSP' ))">
                        <div class="p-fluid p-grid">
                            <div class="p-col">
                                <p>Jenis {{formName}}</p>
                            </div>
                            <div class="p-col">
                                <p>: {{getOptionLabel(dataList.proxyOperationType, this.proxyOprOptions) }}</p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container
                        *ngIf="((proxyOperation == 'ACTV') || (proxyOperation == 'SUSP' ) || (proxyOperation == 'DEAC'))">
                        <div class="p-fluid p-grid">
                            <div class="p-col">
                                <p>Infromasi {{formName}}</p>
                            </div>
                            <div class="p-col">
                                <p>: {{dataList.proxyInformation}}</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="p-fluid p-grid">
                        <div class="p-col">
                            <p>ID Registrasi</p>
                        </div>
                        <div class="p-col">
                            <p>: {{dataList.customerRegistrationId}}</p>
                        </div>
                    </div>
                </div>
                <div class="d-btn p-fluid p-d-flex p-jc-center">
                    <div class="p-col-3">
                        <button [disabled]="isProcess" (click)="resi()" pButton
                            label="{{isProcess==false ? 'Download' : ' '}}"
                            class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" type="button">
                            <div class="progress-spinner" *ngIf="isProcess">
                                <p-progressSpinner strokeWidth="7"></p-progressSpinner>
                            </div>
                        </button>
                    </div>
                    <div class="p-col-3">
                        <button [disabled]="isProcess" pButton pRipple label="Cancel"
                            class="p-button-warning canc-btn p-mt-2 p-mb-2" (click)="clear()"></button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>

</div>

<!-- <button (click)="resi()" pButton label="{{isProcess==false ? 'Download' : ' '}}" class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" type="button">
    <div class="progress-spinner" *ngIf="isProcess">
      <p-progressSpinner strokeWidth="7"></p-progressSpinner>
    </div>
  </button>

  {{proxyOperation}} -->