::ng-deep .p-breadcrumb {
    background: transparent;
    padding: 2rem 1.5rem !important;
  }
  
  ::ng-deep .p-breadcrumb ul li .p-menuitem-link .p-menuitem-text,
  ::ng-deep .p-breadcrumb ul li:last-child .p-menuitem-text {
    font-family: Poppins-Regular;
    font-size: 1rem;
  }
  
  ::ng-deep .p-breadcrumb ul li.p-breadcrumb-chevron {
    font-size: 0.65rem !important;
  }
  
  .content-section {
    margin: 0rem 1.4rem;
  }
  
  ::ng-deep .p-card {
    border-radius: 10px;
  }
  
  ::ng-deep .add-channel.p-button {
    padding: 0.6rem 0.8rem !important;
    border-radius: 7px;
  }
  
  ::ng-deep .add-channel .p-button-icon {
    font-size: 0.8rem !important;
  }
  
  ::ng-deep .add-channel .p-button-label {
    font-family: Poppins-Medium;
    font-size: 0.9rem;
    font-weight: normal;
  }
  
  /* CUSTOM DATATABLE */
  
  ::ng-deep .p-multiselect-item .p-checkbox-icon {
    font-family: 'primeicons';
  }
  
  .status-badge {
    font-family: Poppins-Semibold;
    border-radius: 6px;
    padding: .45em .7rem;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .3px;
  }
  
  .status-badge.status-1 {
    background: #c2f2da;
    color: #256029;
  }
  
  .status-badge.status-0 {
    background: #ffccbe;
    color: #c63737;
  }
  
  /* CUSTOM DATATABLE */
  
  ::ng-deep .edit-channel.p-button {
    padding: 0.4rem 0.6rem !important;
    border-radius: 7px;
    background: #33d285;
    border: 1px solid #33d285;
  }
  
  ::ng-deep .edit-channel.p-button:enabled:hover {
    background: #2ebd78;
    border: 1px solid #2ebd78;
  }
  
  ::ng-deep .del-channel.p-button {
    padding: 0.4rem 0.7rem !important;
    border-radius: 7px;
    background: #ff7f5c;
    border: 1px solid #ff7f5c;
    color: #ffffff;
  }
  
  ::ng-deep .del-channel.p-button:enabled:hover {
    background: #e67253;
    border: 1px solid #e67253;
    color: #ffffff;
  }
  
  /* CUSTOM DIALOG */
  ::ng-deep .p-dialog .p-dialog-header {
    padding: 2rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  ::ng-deep .p-dialog .p-dialog-content {
    padding: 0 2rem 2rem 2rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: unset;
  }
  
  ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
    font-family: Poppins-Medium;
    font-weight: normal;
  }
  
  .d-add-data .d-content .p-field>label {
    font-family: Poppins-Medium;
    font-size: 0.9rem;
    margin-bottom: 0.5rem !important;
  }
  
  .d-add-data .d-content .p-field .p-error {
    font-family: Poppins-Regular;
  }
  
  .d-add-data .d-content .p-inputtext {
    font-family: Poppins-Regular;
    font-size: 0.9rem !important;
    padding: 0.5rem 0.75rem !important;
    border-radius: 10px;
  }
  
  ::ng-deep .p-fluid textarea {
    width: 100%;
  }
  
  .d-add-data .d-content textarea {
    font-family: Poppins-Regular;
    font-size: 0.9rem !important;
    border-radius: 10px;
    color: #495057;
    background: #ffffff;
    padding: 0.5rem 0.5rem;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
  }
  
  .d-add-data .d-content textarea:enabled:hover {
    border-color: #2196F3;
  }
  
  .d-add-data .d-content textarea:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    border-color: #2196F3;
  }
  
  ::ng-deep .d-add-data .d-content .p-dropdown {
    padding: 0.5rem 0.75rem !important;
    border-radius: 10px;
  }
  
  ::ng-deep .d-add-data .d-content .p-dropdown .p-dropdown-label {
    font-family: Poppins-Regular;
    font-size: 0.9rem !important;
  }
  
  ::ng-deep .d-add-data .d-content .p-dropdown .p-dropdown-panel {
    border-radius: 10px;
    margin-top: 0.35rem;
  }
  
  ::ng-deep .d-add-data .d-content .p-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item span {
    font-family: Poppins-Regular;
    font-size: 0.9rem !important;
  }
  
  ::ng-deep .d-add-data .d-content .p-dropdown .p-dropdown-panel .p-dropdown-items:not(.p-dropdown-virtualscroll) {
    padding: 0.5rem 0.5rem;
  }
  
  ::ng-deep .d-add-data .d-content .p-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background: #e2eefd;
    color: #0d63c3;
  }
  
  ::ng-deep .d-add-data .d-content .p-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: none;
    color: #0d63c3;
  }
  
  ::ng-deep .d-btn.p-d-flex {
    margin: 2rem 0 0 0;
  }
  
  ::ng-deep .save-btn.p-button {
    padding: 0.6rem 0.8rem !important;
    border-radius: 7px;
    display: inline-block;
    vertical-align: middle;
    background: #33d285;
    border: 1px solid #33d285;
  }
  
  ::ng-deep .save-btn.p-button:enabled:hover {
    background: #2ebd78;
    border: 1px solid #2ebd78;
  }
  
  ::ng-deep .d-add-data .p-btn-custom-label {
    font-family: Poppins-Medium;
    font-size: 1rem;
    margin: auto;
  }
  
  ::ng-deep .save-btn .p-button-icon {
    font-size: 0.8rem !important;
    margin-right: 0.75rem;
  }
  
  ::ng-deep .save-btn .p-button-label {
    font-family: Poppins-Medium;
    font-size: 0.9rem;
    font-weight: normal;
    flex: none;
  }
  
  ::ng-deep .canc-btn.p-button {
    padding: 0.6rem 0.8rem !important;
    border-radius: 7px;
    display: inline-block;
    vertical-align: middle;
    background: #ff7f5c;
    border: 1px solid #ff7f5c;
    color: #ffffff;
  }
  
  ::ng-deep .canc-btn.p-button:enabled:hover {
    background: #e67253;
    border: 1px solid #e67253;
    color: #ffffff;
  }
  
  ::ng-deep .canc-btn .p-button-icon {
    font-size: 0.8rem !important;
    margin-right: 0.75rem;
  }
  
  ::ng-deep .canc-btn .p-button-label {
    font-family: Poppins-Medium;
    font-size: 0.9rem;
    font-weight: normal;
    flex: none;
  }
  
  ::ng-deep .d-del-data .d-content p {
    font-family: Poppins-Regular;
    font-size: 0.9rem !important;
  }
  
  /* CUSTOM DIALOG */
  
  ::ng-deep .p-message .p-message-summary {
    font-family: Poppins-Medium;
    font-size: 0.9rem;
    font-weight: normal;
  }
  
  ::ng-deep .p-message .p-message-detail {
    font-family: Poppins-Regular;
    font-size: 0.9rem;
    font-weight: normal;
  }
  
  :host ::ng-deep .content-section .p-progress-spinner {
    width: 50px !important;
    height: 50px !important;
  }
  
  :host ::ng-deep .content-section .p-progress-spinner-circle {
    animation: ch-custom-progress-spinner-dash 1.5s ease-in-out infinite, ch-custom-progress-spinner-color 6s ease-in-out infinite;
  }
  
  @keyframes ch-custom-progress-spinner-color {
  
    100%,
    0% {
      stroke: #0d63c3;
    }
  
    40% {
      stroke: #eccd26;
    }
  
    66% {
      stroke: #0d63c3;
    }
  
    80%,
    90% {
      stroke: #eccd26;
    }
  }
  
  @keyframes ch-custom-progress-spinner-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
  
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  
  .d-add-data .progress-spinner,
  .d-del-data .progress-spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  :host ::ng-deep .d-add-data .p-progress-spinner,
  :host ::ng-deep .d-del-data .p-progress-spinner {
    width: 23px !important;
    height: 23px !important;
  }
  
  :host ::ng-deep .d-add-data .p-progress-spinner-circle,
  :host ::ng-deep .d-del-data .p-progress-spinner-circle {
    animation: add-custom-progress-spinner-dash 1.5s ease-in-out infinite, add-custom-progress-spinner-color 6s ease-in-out infinite;
  }
  
  @keyframes add-custom-progress-spinner-color {
  
    100%,
    0% {
      stroke: #ffffff;
    }
  
    40% {
      stroke: #ffffff;
    }
  
    66% {
      stroke: #ffffff;
    }
  
    80%,
    90% {
      stroke: #ffffff;
    }
  }
  
  @keyframes add-custom-progress-spinner-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
  
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  
  .card-show-data {
    width: 50em;
    margin: auto;
  }
  
  .card-resi {
    width: 33em;
    margin: auto;
  }
