<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<!-- <p-progressSpinner *ngIf="userlist.length == 0" class="p-text-center"></p-progressSpinner> -->
<div class="wrapperinside">
    <div *ngIf="isFetching" class="p-text-center">
        <p-progressSpinner strokeWidth="5" fill="var(--surface-ground)">
        </p-progressSpinner>

    </div>
    <div style="height: 20px;"></div>
    <p-card *ngIf="!isFetching" class="p-my-2">
        <div class=" p-fluid">
            <div class="p-grid">
                <div class="p-col">
                    <div class="box">
                        <label for="sendername" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Sender Name
                            :</label>
                        <div style="height: 5px;"></div>
                        <div class="p-inputgroup">
                            <input type="text" id="sendername" name="sendername" [(ngModel)]="sendername.value"
                                pInputText placeholder="Sender Name">
                            <button type="button" pButton pRipple
                                [icon]="sendername.status > 1 ? 'pi pi-exclamation-circle': 'pi pi-save' "
                                (click)="updateSender()" styleClass="p-button-warn"></button>
                        </div>
                        <!-- <div class="p-field" *ngIf="submitted && f.username.errors">
                            <span style="color: red;" *ngIf="f.username.errors.required">User Name / Email is
                                required</span>
                        </div> -->
                    </div>
                    <div style="height: 15px;"></div>
                    <div class="box">
                        <label for="username" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">User Name :</label>
                        <div style="height: 5px;"></div>
                        <div class="p-inputgroup">
                            <input type="text" id="username" name="username" [(ngModel)]="username.value" pInputText
                                placeholder="User Name">
                            <button type="button" pButton pRipple
                                [icon]="username.status > 1 ? 'pi pi-exclamation-circle': 'pi pi-save' "
                                (click)="updateUsername()" styleClass="p-button-warn"></button>
                        </div>

                    </div>
                    <div style="height: 15px;"></div>
                    <div class="box">
                        <label for="pwdemail" class="p-col-12 p-mb-2 p-md-2 p-mb-md-10">Password :</label>
                        <div style="height: 5px;"></div>
                        <div class="p-inputgroup">
                            <input id="pwdemail" name="pwdemail" [(ngModel)]="pwdemail.value" pInputText
                                placeholder="Password">
                            <button type="button" pButton pRipple
                                [icon]="pwdemail.status > 1 ? 'pi pi-exclamation-circle': 'pi pi-save' "
                                (click)="updatePassword()" styleClass="p-button-warn"></button>
                        </div>

                    </div>

                </div>
                <div class="p-col">
                    <div class="box">
                        <label for="smtphost" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">SMTP Server Address
                            :</label>
                        <div style="height: 5px;"></div>
                        <div class="p-inputgroup">
                            <input type="text" id="smtphost" name="smtphost" [(ngModel)]="smtphost.value" pInputText
                                placeholder="SMTP Server Address">
                            <button type="button" pButton pRipple
                                [icon]="smtphost.status > 1 ? 'pi pi-exclamation-circle': 'pi pi-save' "
                                (click)="updateSmtp()" styleClass="p-button-warn"></button>
                        </div>

                    </div>
                    <div style="height: 15px;"></div>
                    <div class="box">
                        <label for="port" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Port :</label>
                        <div style="height: 5px;"></div>
                        <div class="p-inputgroup">
                            <input type="text" id="port" name="port" pInputText placeholder="Port"
                                [(ngModel)]="port.value">
                            <button type="button" pButton pRipple
                                [icon]="port.status> 1 ? 'pi pi-exclamation-circle': 'pi pi-save' "
                                (click)="updatePort()" styleClass="p-button-warn"></button>
                        </div>
                    </div>
                    <div style="height: 15px;"></div>
                    <div class="box">
                        <label for="secure" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">SSL or TLS :</label>
                        <div style="height: 5px;"></div>
                        <p-dropdown id="secure" [options]="secureOption" [(ngModel)]="secure.value" optionLabel="label"
                            optionValue="value" (onChange)="onChange($event)"></p-dropdown>
                    </div>
                    <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                </div>
            </div>
        </div>
    </p-card>
    <!-- <p-progressSpinner class="p-text-center"></p-progressSpinner> -->
    <p-toast position="bottom-center" key="bc"></p-toast>
</div>

<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '75vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" [modal]="true">
    <div>
        <app-apporval-confirmation [newData]="newData" [oldData]="oldData"></app-apporval-confirmation>
        <!-- <div class="p-grid">
            <p class="p-col-12" style="font-size: 18px;">This records need approval from you?, please choose wisely</p>
        </div> -->
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="reject(4)" label="Reject" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>