<style>
    body {
        background: #dee2e6
    }

    section {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>

<section>
    <img src="assets/logos/404.png" height="320">
<p style="font-size: 24px;">Oops, something wrong!<br/> please contact your administrator.</p>
</section>

