<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="proxyData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div class="p-px-3 p-mb-5">
    <p-card>
        <div *ngIf="proxyData.length > 0" style="padding-left: 10px;padding-right: 10px;">

            <app-tablehelper [records]="proxyData" [header]="prxheader" [wsearch]=true [actionbtn]="identityactionbtn"
                [colnames]="prxcolname" [colwidth]="prxcolwidth" [colclasshalign]="prxcolhalign"
                [addbtnlink]="prxaddbtn" [colmark]="'STATUS'" (datadeleted)="deleteConfirmation($event)"
                [scrollheight]="scrollheight" [nopaging]=false>
            </app-tablehelper>
        </div>
    </p-card>
</div>
<p-dialog header="Delete Identification Type" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p style="font-size: 18;">Are you sure want to delete this Identification Type?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteIdentity()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>