<style>
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-45%, -50%);
  }

  .logo-login {
    position: absolute;
    top: -27%;
    left: 44%;
  }

  .p-messages {
    max-width: 360px;
  }
</style>
<!-- <p-blockUI [target] [blocked]="isProcess">
  <p-progressSpinner>
    <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1>
  </p-progressSpinner> -->
<!-- <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1> -->
<!-- </p-blockUI> -->

<div class="forcecenter">
  <img src="assets/images/background/bg-img.jpg" style="position: absolute; width: 100%; height: 100%;">
</div>

<section>
  <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- <div class="logo-login">
      <img src="assets/logos/logo-bjb.png" style="width: 25%;">
    </div> -->
    <p-card styleClass="login-class">
      <div class="p-grid p-mx-2 p-mt-3">
        <div class="p-col-6 p-md-6 p-sm-12 p-xs-12 ">
          <div class="p-fluid p-col">
            <div class="p-ml-2">
              <div class="p-d-flex">
                <p class="title" style="color: #188030;font-size:26px;font-weight: 100!important;font-family: Arial!important;">Reconciliation</p>&nbsp;
              <p class="title" style="color: #4b4e52;font-size:26px;font-weight: 100!important;font-family: Arial!important;">System</p>
              </div>
              <p class="subtitle" style="font-size: 12px!important;">Enter username and password to log in.</p>
            </div>
            <div class="p-field p-col" style="padding-bottom: 0rem;">
              <label for="userid" class="labelpb p-ml-1">Username</label>
              <input id="userid" name="userid" type="text" required formControlName="userid" pInputText>
              <div class="p-field p-ml-2 p-mt-1" *ngIf="submitted && f.userid.errors">
                <small *ngIf="f.userid.errors.required" class="p-error">Username is required.</small>
              </div>
            </div>
            <div class="p-field p-col">
              <label for="secret" class="labelpb p-ml-1">Password</label>
              <input id="secret" type="password" formControlName="secret" pInputText>
              <div class="p-field p-ml-2 p-mt-1" *ngIf="submitted && f.secret.errors">
                <small *ngIf="f.secret.errors.required" class="p-error">Password is required.</small>
              </div>
            </div>

            <div class="p-field p-col">
              <button pButton type="submit">
                <span *ngIf="!isProcess" class="p-btn-custom-label">Login</span>
                <div class="progress-spinner" *ngIf="isProcess">
                  <p-progressSpinner strokeWidth="5"></p-progressSpinner>
                </div>
              </button>
            </div>
            <div class="p-field p-col">
              <p-messages></p-messages>
            </div>
          </div>
        </div>

        <div class="p-col-6 p-md-6 p-sm-12 p-xs-12">
          <img class="img-fluid" src="assets/images/background/login-bg.jpg"
            style="max-height: 360px;min-width: 300px;padding-left: 10px;">
        </div>
      </div>
    </p-card>
    <div class="p-d-flex p-jc-center">
      <div class="tfoot-login p-mt-4">© 2018 PT Mitra Integrasi Informatika. All Rights Reserved.</div>
    </div>
  </form>
</section>

<!-- <section>

    <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <p-card header="" [style]="{width: '360px'}" styleClass="p-card-shadow p-header-w50">
            <ng-template pTemplate="header">
                <div class="p-text-center"><img alt="logo" src="assets/logos/komiportal.png"
                        [style]="{width: '250px!important'}"></div>
            </ng-template>
            <div class="p-fluid">
                <div class="p-field">
                    <label for="userid" class="labelpb">User Id</label>
                 <input id="userid" name="userid" type="text" required  [(ngModel)]="userid" pInputText> 
                    <input id="userid" name="userid" type="text" required formControlName="userid" pInputText>
                </div>
                <div class="p-field" *ngIf="submitted && f.userid.errors">
                    <span style="color: red;" *ngIf="f.userid.errors.required">User is required</span>
                </div>
                <div style="height: 0.3rem;"></div>
                <div class="p-field">
                    <label for="secret" class="labelpb">Password</label> -->
<!-- <input id="passwd" type="password" [(ngModel)]="secret" (keyup.enter)="passData()" pInputText>  -->
<!-- <input id="secret" type="password" formControlName="secret" pInputText>
                </div>
                <div class="p-field" *ngIf="submitted && f.secret.errors">
                    <span style="color: red;" *ngIf="f.secret.errors.required">Password is required</span>
                </div>
                <div style="height: 0.3rem;"></div> -->
<!-- <div style="transform:scale(0.7);transform-origin:0;">
                    <re-captcha [siteKey]="captchaSiteKey" (resolved)="resolved($event)" id="recaptcha"
                        formControlName="recaptcha" (error)="onError($event)" errorMode="handled"></re-captcha>
                </div> -->
<!-- <div class="p-field">
                    <a href="#/auth/forgotpassword">Forgot Password?</a>
                </div>
            </div>
            <ng-template pTemplate="footer"> -->
<!-- <button pButton pRipple type="button" label="Login" (click)="passData()" class="p-button-rounded"></button> -->
<!-- <div class="p-text-right">
                    <button pButton pRipple type="submit" label="Login" class="p-primary-btn"></button>
                </div>
            </ng-template>
            <div style="height: 0.5rem;"></div>
            Layanan yang ada hanya diperuntukkan oleh yang berwenang.
        </p-card>

        <div [style]="{width: '360px'}">
            <p-messages></p-messages>
        </div>
    </form>

</section> -->