.p-field>label {
  font-family: Poppins-Medium;
  font-size: 0.9rem;
  margin-bottom: 0.5rem !important;
}

.p-inputtext {
  font-family: Poppins-Regular;
  font-size: 0.9rem !important;
  padding: 0.5rem 0.75rem !important;
  border-radius: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 0px 20px 20px 0px;
}

.title {
  font-family: Poppins-Semibold;
  font-size: 2rem;
  padding: 0rem 0rem 0rem 0.25rem;
}

.subtitle {
  font-family: Poppins-Medium;
  font-size: 1rem;
  padding: 0rem 0rem 0.75rem 0.25rem;
}

.tfoot-login {
  font-family: Poppins-Regular;
}

:host ::ng-deep .login-class {
  &.p-card {
    width: 95%;
    border-radius: 20px;
  }

  .p-card-body {
    padding: 0.3rem 0.35rem 0.3rem 0.35rem !important;
  }

  .p-card .p-card-content {
    padding: 4rem !important;
  }

  .p-field>small {
    font-family: Poppins-Regular;
    margin-top: 0.5rem;
  }

  .p-button {
    background: #1051AC;
    border: 1px solid #1051AC;
    padding: 0.45rem .7rem !important;
    border-radius: 10px;
  }

  .p-button:hover {
    background: #4074bd;
    border: 1px solid #4074bd;
  }

  .p-button-label {
    display: none;
  }

  .p-btn-custom-label {
    font-family: Poppins-Medium;
    font-size: .9rem;
    margin: auto;
  }

  .pi {
    font-size: 1.5rem;
  }

  .p-message .p-message-detail {
    font-family: Poppins-Regular;
    font-size: 1rem;
  }
}

.progress-spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .login-class .p-progress-spinner {
  width: 35px !important;
  height: 35px !important;
}

:host ::ng-deep .login-class .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {

  100%,
  0% {
    stroke: #ffffff;
  }

  40% {
    stroke: #ffffff;
  }

  66% {
    stroke: #ffffff;
  }

  80%,
  90% {
    stroke: #ffffff;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
