<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="prxhist-section">
  <p-messages></p-messages>
  <p-card class="prxhist-param">
    <div class="p-d-flex p-flex-column">
      <div class="p-fluid p-grid p-col-12" style="justify-content: center; align-items: center;">
        <div class="p-field p-col-3">
          <label for="rangeDates">Date Range</label>
          <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true" [readonlyInput]="true"
            inputId="range" id="rangesDates" dateFormat="dd M yy"></p-calendar>
        </div>
        <div class="p-field p-col-3">
          <label for="status">Branch</label>
          <p-dropdown id="status" [options]="branchName" optionLabel="label" optionValue="value"
            [(ngModel)]="branchSelected" placeholder="Select one...">
          </p-dropdown>
        </div>
        <div class="p-field p-mr-5 p-col-3">
          <label for="proxy_alias">Proxy Alias</label>
          <input type="text" [(ngModel)]="proxyAlias" id="proxy_alias" pInputText />
        </div>
        <div class="p-field p-mt-4 p-col-2">
          <button pButton pRipple type="button" icon="pi pi-search" [routerLink]="home" label="Search"
            class="p-button search-trans" (click)="refreshingProxyHist()"></button>
        </div>
      </div>
    </div>
  </p-card>

  <div style="height: 15px;"></div>

  <p-card>
    <p-table #dt id="tb-prxhist" [columns]="selectedColumns" [value]="proxyHistData" styleClass="p-datatable"
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} from {totalRecords} Data" [scrollable]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} Columns Selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
          </p-multiSelect>
          <div class="p-d-flex">
            <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
              class="p-button-success p-ml-auto p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button> -->
            <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                class="p-button-info p-ml-auto" pTooltip="PDF" tooltipPosition="bottom"></button> -->
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <div *ngIf="isFetching" class="p-datatable-loading-overlay p-component-overlay ng-star-inserted">
          <p-progressSpinner strokeWidth="5"></p-progressSpinner>
        </div>
        <tr>
          <!-- <th *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;"
            [ngStyle]="{'width': col.width}">
            {{col.header}}
          </th> -->
          <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.isOrder==false">
              <th class="p-text-center" style="vertical-align: middle;" [ngStyle]="{'width': col.width}">
                {{col.header}}
              </th>
            </ng-container>
            <ng-container *ngIf="col.isOrder==true">
              <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}"
                [ngStyle]="{'width': col.width}">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
              </th>
            </ng-container>
          </ng-container>
        </tr>
        <tr>
          <th *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;"
            [ngStyle]="{'width': col.width}">
            <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false"
              (input)="dt.filter($event.target.value, col.field, 'contains')"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;"
            [ngStyle]="{'width': col.width}">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
