<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">


                        <!-- {{groupForm.get('registrar_bic').value}} -->
                        <div class="box">
                            <label for="type_cb" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Identification Type (CB) *
                                :</label>
                            <!-- <input class="p-mt-2" name="registrar_bic" formControlName="registrar_bic" id="registrar_bic"
                                type="text" pInputText required> -->

                            <input class="p-mt-2" name="type_cb" formControlName="type_cb" id="type_cb" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.type_cb.errors">
                                <span style="color: red;" *ngIf="f.type_cb.errors.required">Identification Type (CB) is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 20px;"></div>
                        <div class="box">
                            <label for="status" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Status *
                                :</label>
                            <p-dropdown id="isactive" [options]="proxytypes" formControlName="status"
                                optionLabel="label" optionValue="valueint" placeholder="Select status"></p-dropdown>
                            <div class="p-field" *ngIf="submitted && f.status.errors">
                                <span style="color: red;" *ngIf="f.status.errors.required">Status is
                                    required</span>
                            </div>
                        </div>
                    </div>

                    <div class="p-col">

                        <div class="box">
                            <label for="type_bf" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Identification Type
                                (BI-FAST) *
                                :</label>
                            <input class="p-mt-2" name="type_bf" formControlName="type_bf" id="type_bf" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.type_bf.errors">
                                <span style="color: red;" *ngIf="f.type_bf.errors.required">Identification Type
                                    (BI-FAST) is required</span>
                            </div>
                        </div>



                        <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>