<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p-blockUI [blocked]="isProcess">
    <p-progressSpinner>
      <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1>
    </p-progressSpinner>
    <!-- <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1> -->
  </p-blockUI>
  <div id="wrapper">
    <div id="contentliquid2">
      <div id="contentfull">
        <p-toolbar>
          <div class="p-toolbar-group-left" style="padding-left: 10px;">
            <div class="p-pt-15 p-pb-15 forcecenter">
              <img src="assets/logos/krakatoalogo.png" height="17.5" style="padding-left: 40px;padding-right: 40px;">
            </div>
            <h3 style="margin: 0;"><span style="color: #08736f;">One Solution of </span> {{companytitle}}</h3>
          </div>
          <div class="p-toolbar-group-right">
            <p-menubar [model]="items"></p-menubar>
          </div>
        </p-toolbar>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <p-dialog header="Sign Out" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" [modal]="true">
    <p style="font-size: 18;">Sign out from application?, if yes you should log in again from the beginning</p>
    <ng-template pTemplate="footer">
      <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
      <p-button (click)="signOut()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
</body>

</html>