<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="userlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div class="p-px-3 p-mb-5">
    <p-card>
        <div *ngIf="userlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
            <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
                [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign"
                [addbtnlink]="usraddbtn" (datadeleted)="deleteConfirmation($event)" (datapreview)="viewData($event)"
                [nopaging]=false [scrollheight]="scrollheight" (dataapprover)="approvalData($event)"
                [colmark]="'active'">
            </app-tablehelper>
        </div>
    </p-card>
</div>
<p-dialog header="View Parameters" [(visible)]="viewDisplay" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [modal]="true">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Parameter</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedUser.param_name}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Value</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedUser.param_value}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Descripiton</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedUser.description}}</p>
        </div>

    </div>
</p-dialog>
<p-dialog header="Delete Parameters" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [modal]="true">
    <p style="font-size: 18;">Are you sure want to delete this Parameters?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteUser()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '63vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" [modal]="true">
    <div>
        <app-apporval-confirmation [newData]="newData" [oldData]="oldData"></app-apporval-confirmation>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="reject()" label="Reject" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- (datadeleted)="deleteConfirmation($event)" -->