<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>



<div class="wrapperinside">
    <p-messages></p-messages>
    <p-card class="p-my-2">
        <div class="p-fluid p-grid">
            <div class=" p-px-3">
                <div *ngIf="job" class="p-col-12 p-grid p-card">
                    <div class="p-col-12">
                        <h3>Reconsiliation Detail</h3>
                    </div>

                    <div class="p-col-6">
                        <div class="p-grid p-my-3">
                            <p class="p-col-12 p-md-5">Reconsiliation Name</p>
                            <p class="p-col-12 p-md-1">:</p>
                            <p class="p-col-12 p-md-6">{{job.jobName}}</p>
                        </div>
                        <div class="p-grid p-my-3">
                            <p class="p-col-12 p-md-5">Reconsiliation Desc: </p>
                            <p class="p-col-12 p-md-1">:</p>
                            <p class="p-col-12 p-md-6">{{job.jobDesc}}</p>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="p-grid p-my-3">
                            <p class="p-col-12 p-md-3">Primary Data </p>
                            <p class="p-col-12 p-md-1">:</p>
                            <div class="p-d-flex p-col-12 p-md-8 p-ai-center p-p-0">
                                <p class="">{{job.billedEntity.toUpperCase()}}</p>
                                <p-chip [label]="file1Uploaded?'File Uploaded':'File Not Uploaded'" styleClass="p-col-2"
                                    [styleClass]="file1Uploaded  ? 'blue':'red'">
                                </p-chip>
                                <i (click)="openDialog(job.billedEntity,'Primary Data')" class="pi pi-upload p-col-2"
                                    style="cursor: pointer;"></i>
                            </div>

                        </div>
                        <div class="p-grid p-my-3">
                            <p class="p-col-12 p-md-3">Secondary Data </p>
                            <p class="p-col-12 p-md-1">:</p>
                            <div class="p-d-flex p-col-12 p-md-8 p-ai-center p-p-0">
                                <p class="">{{job.referenceEntity.toUpperCase()}}</p>
                                <p-chip [label]="file2Uploaded?'File Uploaded':'File Not Uploaded'" styleClass="p-col-2"
                                    [styleClass]="file2Uploaded  ? 'blue':'red'">
                                </p-chip>
                                <i (click)="openDialog(job.referenceEntity,'Secondary Data')"
                                    class="pi pi-upload p-col-2" class="pi pi-upload p-ml-3"
                                    style="cursor: pointer;"></i>
                            </div>

                        </div>
                        <!-- <div class="p-d-flex p-ai-center">
                            <p class="">Primary Data : {{job.billedEntity.toUpperCase()}} - <p-chip
                                    [label]="file1Uploaded?'File Uploaded':'File Not Uploaded'" styleClass="mr-2"
                                    [styleClass]="file1Uploaded  ? 'blue':'red'">
                                </p-chip> <i (click)="openDialog(job.billedEntity,'Primary Data')"
                                    class="pi pi-upload p-ml-3" style="cursor: pointer;"></i></p>


                        </div> -->
                        <!-- <div class="p-d-flex p-ai-center">
                            <p>Secondary Data : {{job.referenceEntity.toUpperCase()}} - <p-chip
                                    [label]="file2Uploaded?'File Uploaded':'File Not Uploaded'" styleClass="mr-2"
                                    [styleClass]="file2Uploaded  ? 'blue':'red'">
                                </p-chip> <i (click)="openDialog(job.referenceEntity,'Secondary Data')"
                                    class="pi pi-upload p-ml-3" style="cursor: pointer;"></i></p>
                        </div> -->
                    </div>
                    <div class="p-col-12 text-right">
                        <div class="p-col-2 p-ml-auto">
                            <p-button *ngIf="!submit" [disabled]="reconAvail" label="Reconsile" (click)="onSubmit()"
                                class="" styleClass="p-button">
                            </p-button>
                            <div *ngIf="submit" class="p-text-center">
                                <p-progressSpinner [style]="{width: '50px', height: '50px',textAlign: 'center'}"
                                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                                    animationDuration=".5s"></p-progressSpinner>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="p-col-12 p-grid p-card p-mt-5">
                    <div class=" p-col-12">
                        <div *ngIf="!uploadSource1" class="box">
                            <p class="p-p-0 ">Primary Data File: </p>
                            <p-fileUpload pRipple #fileupload name="myfile[]" customUpload="true"
                                (uploadHandler)="billedUploader($event, fileupload)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </p-fileUpload>
                        </div>
                        <div *ngIf="uploadSource1">
                            <h3>Uploading file.....</h3>
                            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}">
                            </p-progressBar>
                        </div>

                    </div>

                    <div class="p-col-12">
                        <div *ngIf="!uploadSource2" class="box">
                            <p class="p-p-0 ">Secondary Data File: </p>
                            <p-fileUpload pRipple #fileupload name="myfile[]" customUpload="true"
                                (uploadHandler)="refUploader($event, fileupload)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </p-fileUpload>
                            <div *ngIf="uploadSource2">
                                <h3>Uploading file.....</h3>
                                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}">
                                </p-progressBar>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- <div *ngIf="!fetchHistory" class="p-card p-mt-5">
            <h3>Upload History</h3>
            <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
                [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign"
                [addbtnlink]="usraddbtn" (datadeleted)="deleteConfirmation($event)" (datapreview)="viewData($event)"
                (dataapprover)="approvalData($event)" [scrollheight]="scrollheight" [nopaging]=false
                (dataPopUp)="viewDetail($event)">

            </app-tablehelper>
        </div>
        <div *ngIf="fetchHistory" class="p-card p-mt-5">
            <p-progressBar mode=" indeterminate" [style]="{'height': '6px'}">
            </p-progressBar>
        </div> -->
    </p-card>
</div>

<p-dialog [header]="selectedEntityType" (onHide)="dialogHide()" [(visible)]="uploadDialog" [style]="{width: '75vw'}">

    <div *ngIf="!uploadSource1" class="box">
        <p class="p-px-0 ">{{selectedEntityType}}-{{selectedEntity?.toUpperCase()}} <p-button [label]="uploadMethod"
                (click)="changeUploadMethod()" styleClass="p-button-link p-p-0">
            </p-button>
        </p>
        <p-fileUpload *ngIf="!useLastUpload" pRipple #fileupload name="myfile[]" customUpload="true"
            (uploadHandler)="billedUploader($event, fileupload)"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </p-fileUpload>
        <div *ngIf="useLastUpload" class="p-card p-mt-5">
            <div class="p-p-3" style="overflow-y: auto;max-height: 250px;">
                <h4>Upload History</h4>
                <div *ngFor="let data of filteredData" (click)="onSelectHistoryFile(data)" style="cursor: pointer;"
                    class="p-card p-my-3 p-p-3">
                    <p>{{data.fileName}} - {{data.datetimeStartProcess}}</p>
                </div>

            </div>

        </div>
    </div>
    <div *ngIf="uploadSource1">
        <h3>Uploading file.....</h3>
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}">
        </p-progressBar>
    </div>
</p-dialog>