:host ::ng-deep .p-chip.blue {
    background: var(--primary-color);
    color: var(--primary-color-text);
}
:host ::ng-deep .p-chip.red {
    background: #EF4444;
    color: var(--primary-color-text);
}

