<div class="wrapper">
    <div style="padding-left: 40px;padding-right: 40px;">
        <h3 style="font-weight: 400!important;">Welcome to Krakatoa</h3>
        <h4>Choose your applications</h4>

        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-grid">
                    <div class="p-col-1" [style]="{'padding': '5px!important'}"
                        *ngFor="let item of appsByLiscense; let i = index">
                        <a href="javascript:void(0);" (click)="showDialog(item)" style="text-decoration: none;">
                            <div class="col">
                                <div class="row p-text-center">

                                    <img alt="Card" src="assets/logos/{{item.appname}}.png"
                                        style="width: 110px;padding: 15px 0 0 0;">
                                </div>
                                <div class="row p-text-center btntitle">{{item.applabel}}</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div style="height: 20px;"></div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Switch Application" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [modal]="true">
    <span style="font-size: 18;">Open "{{appLabelSelected}}" application?, you could log of your current login from that
        application.</span>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="switchApp()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>