<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="channel-section">
  <p-messages></p-messages>
  <p-card>
    <p-table #dt [columns]="selectedColumns" [value]="chnData" styleClass="p-datatable" [rows]="10" [scrollable]="true"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
          <button pButton pRipple label="Add Channel" icon="pi pi-plus" class="p-button add-channel"
            (click)="openNew()"></button>
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} Columns Selected" placeholder="Choose Columns">
          </p-multiSelect>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <div *ngIf="isFetching" class="p-datatable-loading-overlay p-component-overlay ng-star-inserted">
          <p-progressSpinner strokeWidth="5"></p-progressSpinner>
        </div>
        <tr>
          <!-- <th *ngFor="let col of columns" class="p-text-center" [ngStyle]="{'width': col.width}">
            {{col.header}}
          </th> -->
          <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.isOrder==false">
              <th class="p-text-center" style="vertical-align: middle;" [ngStyle]="{'width': col.width}">
                {{col.header}}
              </th>
            </ng-container>
            <ng-container *ngIf="col.isOrder==true">
              <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}"
                [ngStyle]="{'width': col.width}">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
              </th>
            </ng-container>
          </ng-container>
          <th rowspan="2" style="vertical-align: middle; text-align:center; width: 150px;">Action</th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" style="vertical-align: middle; text-align:center;">
            <ng-template [ngIf]="!col.transform && !col.transformAuth">
              <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false"
                (input)="dt.filter($event.target.value, col.field, 'contains')"></p-columnFilter>
            </ng-template>
            <ng-template [ngIf]="col.transform">
              <p-columnFilter field="status" [showMenu]="false">
                <ng-template pTemplate="filter">
                  <p-dropdown appendTo="body" id="status" [options]="status" optionValue="value"
                    (onChange)="dt.filter($event.value, col.field, 'contains')" placeholder="Any" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'status-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </ng-template>
            <ng-template [ngIf]="col.transformAuth">
              <p-columnFilter field="is_auth" [showMenu]="false">
                <ng-template pTemplate="filter">
                  <p-dropdown appendTo="body" id="is_auth" [options]="isAuthorized" optionValue="value"
                    (onChange)="dt.filter($event.value, col.field, 'contains')" placeholder="Any" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'status-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </ng-template>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" style="vertical-align:middle; text-align:center;"
            [ngStyle]="{'width': col.width}">
            <ng-template [ngIf]="!col.transform && !col.transformAuth">
              {{ rowData[col.field] }}
            </ng-template>
            <ng-template [ngIf]="col.transform">
              <span [class]="'status-badge status-' + rowData[col.field]">{{rowData[col.field] == 1 ? "ACTIVE" :
                "INACTIVE"}}</span>
            </ng-template>
            <ng-template [ngIf]="col.transformAuth">
              <span [class]="'status-badge status-' + rowData[col.field]">{{rowData[col.field] == 1 ? "TRUE" :
                "FALSE"}}</span>
            </ng-template>
          </td>
          <td style="vertical-align : middle;text-align:center; width: 150px;">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-success edit-channel p-mr-2 p-mt-2 p-mb-2"
              (click)="editChannel(rowData)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-warning del-channel p-mt-2 p-mb-2"
              (click)="deleteConfirmation(rowData)"></button>
          </td>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="footer" let-rowData let-columns>
        <ng-container *ngIf="isFetching">
          <tr>
            <td [attr.colspan]="columns.length + 1" class="empty-tbl p-text-center">
              <p-progressSpinner strokeWidth="5"></p-progressSpinner>
            </td>
          </tr>
        </ng-container>
      </ng-template> -->
    </p-table>
  </p-card>
</div>

<p-dialog [(visible)]="channelDialog" styleClass="p-fluid" header="Channel Details" [modal]="true">
  <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
    <div class="d-add-data">
      <div class="d-content">
        <div class="p-fluid p-grid">
          <input type="text" formControlName="id_ch_type" id="id_ch_type" pInputText style="display: none;" />
          <div class="p-field p-mb-3 p-col">
            <label for="cid">CID</label>
            <input type="text" formControlName="cid" id="cid" pInputText required autofocus />
            <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.cid.errors">
              <small class="p-error" *ngIf="f.cid.errors.required">CID is required.</small>
            </div>
          </div>
          <div class="p-field p-mb-3 p-col">
            <label for="komi_ch_id">KOMI Channel ID</label>
            <input type="text" formControlName="komi_ch_id" id="komi_ch_id" pInputText required />
            <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.komi_ch_id.errors">
              <small class="p-error" *ngIf="f.komi_ch_id.errors.required">IP Address is required.</small>
            </div>
          </div>
        </div>
        <div class="p-fluid p-grid">
          <input type="text" formControlName="id_ch_type" id="id_ch_type" pInputText style="display: none;" />
          <div class="p-field p-mb-3 p-col">
            <label for="bank_ch_type">Bank Channel Type</label>
            <input type="text" formControlName="bank_ch_type" id="bank_ch_type" pInputText required autofocus />
            <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.bank_ch_type.errors">
              <small class="p-error" *ngIf="f.bank_ch_type.errors.required">Bank Channel Type is required.</small>
            </div>
          </div>
          <div class="p-field p-mb-3 p-col">
            <label for="ip_address">IP Address</label>
            <input type="text" formControlName="ip_address" id="ip_address" pInputText required />
            <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.ip_address.errors">
              <small class="p-error" *ngIf="f.ip_address.errors.required">IP Address is required.</small>
            </div>
          </div>
        </div>
        <div class="p-fluid p-grid">
          <div class="p-field p-mb-3 p-col">
            <label for="iso_merch_type">ISO Merchant Type</label>
            <input type="text" formControlName="iso_merch_type" id="iso_merch_type" pInputText required />
            <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.iso_merch_type.errors">
              <small class="p-error" *ngIf="f.iso_merch_type.errors.required">ISO Merchant Type is required.</small>
            </div>
          </div>
          <div class="p-field p-mb-3 p-col">
            <label for="key">Key</label>
            <input type="text" formControlName="key" id="key" pInputText required autofocus />
            <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.key.errors">
              <small class="p-error" *ngIf="f.key.errors.required">Key is required.</small>
            </div>
          </div>
        </div>
        <div class="p-fluid p-grid">
          <div class="p-field p-mb-3 p-col">
            <label for="bi_ch_id">BI Channel ID</label>
            <input type="text" formControlName="bi_ch_id" id="bi_ch_id" pInputText required autofocus />
            <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.bi_ch_id.errors">
              <small class="p-error" *ngIf="f.bi_ch_id.errors.required">BI Channel ID is required.</small>
            </div>
          </div>
          <div class="p-field p-mb-3 p-col">
            <label for="status_ch">Status Channel</label>
            <p-dropdown id="status_ch" [options]="status" optionLabel="label" optionValue="value"
              placeholder="Select one..." formControlName="status_ch">
            </p-dropdown>
          </div>
        </div>
        <div class="p-fluid p-grid">
          <div class="p-field p-mb-3 p-col">
            <label for="is_auth">Is Authorized</label>
            <p-dropdown id="is_auth" [options]="isAuthorized" optionLabel="label" optionValue="value"
              placeholder="Select one..." formControlName="is_auth">
            </p-dropdown>
          </div>
          <div class="p-field p-mb-3 p-col">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea formControlName="description" rows="3" cols="20"></textarea>
          </div>
        </div>
      </div>
      <div class="d-btn p-fluid p-d-flex">
        <div class="p-col-3"></div>
        <button *ngIf="!isEdit" pButton label="{{isProcess==false ? 'Save' : ' '}}"
          class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" type="submit">
          <div class="progress-spinner" *ngIf="isProcess">
            <p-progressSpinner strokeWidth="7"></p-progressSpinner>
          </div>
        </button>
        <button *ngIf="isEdit" pButton label="{{isProcess==false ? 'Edit' : ' '}}"
          class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" type="submit">
          <div class="progress-spinner" *ngIf="isProcess">
            <p-progressSpinner strokeWidth="7"></p-progressSpinner>
          </div>
        </button>
        <button pButton pRipple label="Cancel" class="p-button-warning canc-btn p-mt-2 p-mb-2"
          (click)="channelDialog=false"></button>
        <div class="p-col-3"></div>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog header="Delete Channel" [(visible)]="delChannelDialog" styleClass="p-fluid" [modal]="true">
  <div class="d-del-data">
    <div class="d-content">
      <p>Are you sure want to delete this Channel Type?</p>
    </div>
    <div class="d-btn p-d-flex">
      <button pButton label="{{isProcess==false ? 'Delete' : ' '}}" class="p-button save-btn p-mr-2 p-mt-2 p-mb-2"
        (click)="deleteChn()">
        <div class="progress-spinner" *ngIf="isProcess">
          <p-progressSpinner strokeWidth="7"></p-progressSpinner>
        </div>
      </button>
      <button pButton pRipple label="Cancel" class="p-button-warning canc-btn p-mt-2 p-mb-2"
        (click)="delChannelDialog=false"></button>
    </div>
  </div>
</p-dialog>

<!-- <div *ngIf="chnData.length > 0" style="padding-left: 10px;padding-right: 10px;">
  <app-tablehelper [records]="chnData" [header]="chnheader" [wsearch]=true [actionbtn]="chnactionbtn"
    [colnames]="chncolname" [colwidth]="chncolwidth" [colclasshalign]="chncolhalign" [addbtnlink]="chnaddbtn"
    [colmark]=2 (datadeleted)="deleteConfirmation($event)"></app-tablehelper>
</div> -->

<!-- <p-dialog header="Delete Channel Type" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false" [modal]="true">
  <p style="font-size: 18;">Are you sure want to delete this Channel Type?</p>
  <ng-template pTemplate="footer">
    <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
    <p-button (click)="deleteChn()" label="Yes" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog> -->