<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-messages></p-messages>
<p-progressSpinner *ngIf="prxData.length == 0" class="p-text-center"></p-progressSpinner>

<div class="p-px-3 p-pb-5">
    <p-card class="content-container">
        <div *ngIf="prxData.length > 0" style="padding-left: 10px;padding-right: 10px;">
            <app-tablehelper [records]="prxData" [header]="prxDataheader" [wsearch]=true [actionbtn]="prxDataactionbtn"
                [colnames]="prxDatacolname" [colwidth]="prxDatacolwidth" [colclasshalign]="prxDatacolhalign"
                [addbtnlink]="prxDataaddbtn" [colmark]="'status'" (datadeleted)="deleteConfirmation($event)"
                (dataPopUp)="add($event)" (editPopUp)="edit($event)" (datapreview)="viewData($event)"
                (dataapprover)="approvalData($event)" [scrollheight]="scrollheight" [nopaging]=false>
            </app-tablehelper>
        </div>
    </p-card>
</div>

<div class="content-section">
    <!--    <p-messages></p-messages>-->
    <!--    <p-card>-->
    <!--        <p-table #dt [columns]="selectedColumns" [value]="prxData" styleClass="p-datatable" [rows]="10"-->
    <!--            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"-->
    <!--            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Records">-->
    <!--            <ng-template pTemplate="caption">-->
    <!--                <div class="p-d-flex p-jc-between">-->
    <!--                    <button pButton pRipple label="Add Proxy Type" icon="pi pi-plus" class="p-button add-acctype"-->
    <!--                        (click)="add()"></button>-->
    <!--                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"-->
    <!--                        selectedItemsLabel="{0} Columns Selected" placeholder="Choose Columns">-->
    <!--                    </p-multiSelect>-->
    <!--                </div>-->
    <!--            </ng-template>-->
    <!--            <ng-template pTemplate="header" let-columns>-->
    <!--                <div *ngIf="isFetching" class="p-datatable-loading-overlay p-component-overlay ng-star-inserted">-->
    <!--                    <p-progressSpinner strokeWidth="5"></p-progressSpinner>-->
    <!--                </div>-->
    <!--                <tr>-->
    <!--                    <th *ngFor="let col of columns" class="p-text-center">-->
    <!--                        {{col.header}}-->
    <!--                    </th>-->
    <!--                    <th rowspan="2" style="vertical-align : middle;text-align:center;">Action</th>-->
    <!--                </tr>-->
    <!--                <tr>-->
    <!--                    <th *ngFor="let col of columns" style="vertical-align: middle; text-align:center;">-->
    <!--                        <ng-template [ngIf]="!col.transform">-->
    <!--                            <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false"-->
    <!--                                (input)="dt.filter($event.target.value, col.field, 'contains')"></p-columnFilter>-->
    <!--                        </ng-template>-->
    <!--                        <ng-template [ngIf]="col.transform">-->
    <!--                            <p-columnFilter field="status" [showMenu]="false">-->
    <!--                                <ng-template pTemplate="filter">-->
    <!--                                    <p-dropdown appendTo="body" id="status" [options]="status" optionValue="value"-->
    <!--                                        (onChange)="dt.filter($event.value, col.field, 'contains')" placeholder="Any"-->
    <!--                                        [showClear]="true">-->
    <!--                                        <ng-template let-option pTemplate="item">-->
    <!--                                            <span-->
    <!--                                                [class]="'status-badge status-' + option.value">{{option.label}}</span>-->
    <!--                                        </ng-template>-->
    <!--                                    </p-dropdown>-->
    <!--                                </ng-template>-->
    <!--                            </p-columnFilter>-->
    <!--                        </ng-template>-->
    <!--                    </th>-->
    <!--                </tr>-->
    <!--            </ng-template>-->
    <!--            <ng-template pTemplate="body" let-rowData let-columns="columns">-->
    <!--                <tr>-->
    <!--                    <td *ngFor="let col of columns" style="vertical-align : middle;text-align:center;">-->
    <!--                        <ng-template [ngIf]="!col.transform">-->
    <!--                            {{ rowData[col.field] }}-->
    <!--                        </ng-template>-->
    <!--                        <ng-template [ngIf]="col.transform">-->
    <!--                            <span [class]="'status-badge status-' + rowData[col.field]">{{rowData[col.field] == 1 ?-->
    <!--                                "ACTIVE" : "INACTIVE"}}</span>-->
    <!--                        </ng-template>-->
    <!--                    </td>-->
    <!--                    <td style="vertical-align : middle;text-align:center;">-->
    <!--                        <button pButton pRipple icon="pi pi-pencil"-->
    <!--                            class="p-button-success edit-acctype p-mr-2 p-mt-2 p-mb-2" (click)="edit(rowData)"></button>-->
    <!--                        <button pButton pRipple icon="pi pi-trash" class="p-button-warning del-acctype p-mt-2 p-mb-2"-->
    <!--                            (click)="deleteConfirmation(rowData)"></button>-->
    <!--                    </td>-->
    <!--                </tr>-->
    <!--            </ng-template>-->
    <!--        </p-table>-->
    <!--    </p-card>-->
</div>

<p-dialog [(visible)]="formDialog" styleClass="p-fluid" [style]="{width: '500px'}" header="Proxy Type Details"
    [modal]="true">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div class="d-add-data">
            <div class="d-content">
                <input type="text" formControlName="id" id="id" pInputText style="display: none;" />
                <div class="p-field p-mb-3">
                    <label for="proxyCode">Proxy Type Code</label>
                    <input type="text" formControlName="proxyCode" id="proxyCode" pInputText required autofocus />
                    <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.proxyCode.errors">
                        <small class="p-error" *ngIf="f.proxyCode.errors.required">Proxy Code is required.</small>
                    </div>
                </div>
                <div class="p-field p-mb-3">
                    <label for="proxyName">Proxy Type Name</label>
                    <input type="text" formControlName="proxyName" id="proxyName" pInputText required />
                    <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.proxyName.errors">
                        <small class="p-error" *ngIf="f.proxyName.errors.required">Proxy Type Name is required.</small>
                    </div>
                </div>
                <div class="p-field p-mb-3">
                    <label for="status">Status Proxy Type</label>
                    <p-dropdown id="status" [options]="status" optionLabel="label" optionValue="value"
                        formControlName="status" placeholder="Select one...">
                    </p-dropdown>
                    <div class="p-mt-1 p-ml-2" *ngIf="submitted && f.status.errors">
                        <small class="p-error" *ngIf="f.status.errors.required">Status is required.</small>
                    </div>
                </div>
            </div>
            <div class="d-btn p-d-flex">
                <button *ngIf="!isEdit" pButton label="{{isProcess==false ? 'Save' : ' '}}"
                    class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" type="submit">
                    <div class="progress-spinner" *ngIf="isProcess">
                        <p-progressSpinner strokeWidth="7"></p-progressSpinner>
                    </div>
                </button>
                <button *ngIf="isEdit" pButton label="{{isProcess==false ? 'Edit' : ' '}}"
                    class="p-button save-btn p-mr-2 p-mt-2 p-mb-2" type="submit">
                    <div class="progress-spinner" *ngIf="isProcess">
                        <p-progressSpinner strokeWidth="7"></p-progressSpinner>
                    </div>
                </button>
                <button pButton pRipple label="Cancel" class="p-button-warning canc-btn p-mt-2 p-mb-2"
                    (click)="custTypeDialog=false"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Delete Proxy Type" [(visible)]="delFormDialog" styleClass="p-fluid" [modal]="true">
    <div class="d-del-data">
        <div class="d-content">
            <p>Are you sure want to delete this Proxy Type?</p>
        </div>
        <div class="d-btn p-d-flex">
            <button pButton label="{{isProcess==false ? 'Delete' : ' '}}" class="p-button save-btn p-mr-2 p-mt-2 p-mb-2"
                (click)="delete()">
                <div class="progress-spinner" *ngIf="isProcess">
                    <p-progressSpinner strokeWidth="7"></p-progressSpinner>
                </div>
            </button>
            <button pButton pRipple label="Cancel" class="p-button-warning canc-btn p-mt-2 p-mb-2"
                (click)="delFormDialog=false"></button>
        </div>
    </div>
</p-dialog>