<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="transparam-section">
  <p-messages></p-messages>
  <p-card class="transparam-param">
    <div class="p-d-flex p-flex-column">
      <div class="p-fluid p-grid p-col-12" style="justify-content: center; align-items: center;">
        <div class="p-field p-mr-1 p-col-3">
          <label for="rangeDates">Date Range</label>
          <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true" [readonlyInput]="true"
            inputId="range" id="rangesDates" dateFormat="dd M yy"></p-calendar>
        </div>
        <div class="p-field p-mr-4 p-col-3">
          <label for="transactionType">Transaction Type</label>
          <p-dropdown id="transactionType" [options]="transactionType" [(ngModel)]="transactionTypeSelected"
            optionLabel="label" optionValue="value" placeholder="Select one...">
          </p-dropdown>
        </div>
        <div class="p-field p-mt-4 p-col-2">
          <button pButton pRipple type="button" icon="pi pi-search" [routerLink]="home" label="Search"
            (click)="refreshData($event)" class="p-button search-trans"></button>
        </div>
      </div>
    </div>
  </p-card>

  <div style="height: 15px;"></div>

  <p-card>
    <p-table #dt id="tb-transparam" [columns]="selectedColumns" [value]="logData" styleClass="p-datatable" [lazy]="true"
      (onLazyLoad)="refreshData($event)" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
      [scrollable]="true" [totalRecords]="totalRecords">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} Columns Selected" placeholder="Choose Columns">
          </p-multiSelect>
          <div class="p-d-flex">
            <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
              class="p-button-success p-ml-auto p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
              class="p-button-info p-ml-auto" pTooltip="PDF" tooltipPosition="bottom"></button> -->
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <div *ngIf="isFetching" class="p-datatable-loading-overlay p-component-overlay ng-star-inserted">
          <p-progressSpinner strokeWidth="5"></p-progressSpinner>
        </div>
        <tr>
          <!-- <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.hasSub">
              <th colspan="3" class="p-text-center" style="vertical-align: middle;" [ngStyle]="{'width': col.width}">
                {{col.header}}
              </th>
            </ng-container>
            <ng-container *ngIf="!col.hasSub && !col.isSub">
              <th rowspan="2" class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}"
                [ngStyle]="{'width': col.width}">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
              </th>
            </ng-container>
          </ng-container> -->
          <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.isOrder==false">
              <th class="p-text-center" style="vertical-align: middle;" [ngStyle]="{'width': col.width}">
                {{col.header}}
              </th>
            </ng-container>
            <ng-container *ngIf="col.isOrder==true">
              <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}"
                [ngStyle]="{'width': col.width}">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
              </th>
            </ng-container>
          </ng-container>
        </tr>
        <!-- <tr>
          <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.isSub">
            <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}"
              [ngStyle]="{'width': col.width}">
              {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
            </ng-container>
          </ng-container>
        </tr> -->
        <tr>
          <ng-container *ngFor="let col of columns">
            <!-- <th *ngIf="!col.hasSub" class="p-text-center" style="vertical-align: middle;">
              <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false" matchMode="contains">
              </p-columnFilter>
            </th> -->
            <th class="p-text-center" style="vertical-align: middle;">
              <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false" matchMode="contains">
              </p-columnFilter>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <!-- <ng-container *ngFor="let col of columns">
            <td *ngIf="!col.hasSub" class="p-text-center" style="vertical-align: middle;"
              [ngStyle]="{'width': col.width}">
              {{col.data ? (rowData[col.field] | currency:'Rp') : rowData[col.field]}}
            </td>
          </ng-container> -->
          <td *ngFor="let col of columns" class="p-text-center" style="vertical-align: middle;"
            [ngStyle]="{'width': col.width}">
            {{col.data ? (rowData[col.field] | currency:'Rp') : rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-divider type="dashed">
          <span class="p-tag success">Total Success</span>
        </p-divider>
        <div class="total-trans p-d-flex p-ai-center p-jc-between">
          <div class="total-trans p-d-grid p-ai-center p-jc-start">
            <div>Total Debit Volume : {{totalRowDebitS}}</div>
            <div>Total Debit Amount : {{totalAmountDS | currency:'Rp'}}</div>
          </div>
          <p-divider layout="vertical"></p-divider>
          <div class="total-trans p-d-grid p-ai-center p-jc-start">
            <div>Total Credit Volume : {{totalRowCreditS}}</div>
            <div>Total Credit Amount : {{totalAmountCS | currency:'Rp'}}</div>
          </div>
        </div>
        <div style="height: 0.5rem;"></div>
        <p-divider type="dashed">
          <span class="p-tag error" style="background: #ff7f5c;">Total Failed</span>
        </p-divider>
        <div class="total-trans p-d-flex p-ai-center p-jc-between">
          <div class="total-trans p-d-grid p-ai-center p-jc-start">
            <div>Total Debit Volume : {{totalRowDebitF}}</div>
            <div>Total Debit Amount : {{totalAmountDF | currency:'Rp'}}</div>
          </div>
          <p-divider layout="vertical"></p-divider>
          <div class="total-trans p-d-grid p-ai-center p-jc-start">
            <div>Total Credit Volume : {{totalRowCreditF}}</div>
            <div>Total Credit Amount : {{totalAmountCF | currency:'Rp'}}</div>
          </div>
        </div>
      </ng-template>
      <!-- <ng-template pTemplate="paginatorright">
        <div class="total-trans p-d-flex p-ai-center p-jc-between">
          Showing {{first}} to {{last}} from {{totalRow}} Data
        </div>
      </ng-template> -->
      <ng-template pTemplate="footer" let-rowData let-columns>
        <ng-container *ngIf="logData.length==1">
          <tr>
            <td [attr.colspan]="18" class="empty-msg p-text-center">
              Do a search to display the data.
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </p-card>

  <!-- <div style="height: 5rem;"></div> -->
</div>
