<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
  <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
    <div style="height: 20px;"></div>
    <p-card class="p-my-2">
      <div class=" p-fluid">
        <div class="p-grid">
          <div class="p-col-12">
            <div class="p-col-4">
              <div class="box">
                <label for="channel_id" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel Id *
                  :</label>
                <input class="p-mt-2" name="channel_id" formControlName="channel_id" id="channel_id"
                       type="text" pInputText required>
                <div class="p-field" *ngIf="submitted && f.channel_id.errors">
                                <span style="color: red;" *ngIf="f.channel_id.errors.required">Parameter name is
                                    required</span>
                </div>
              </div></div>
            <!-- <div style="height: 15px;"></div> -->
            <div class="p-col-4">
              <div class="box">
                <label for="channel_name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel Name * :</label>
                <input class="p-mt-2" name="channel_name" formControlName="channel_name" id="channel_name"
                       type="text" pInputText required>
                <div class="p-field" *ngIf="submitted && f.channel_name.errors">
                                <span style="color: red;" *ngIf="f.channel_name.errors.required">Value is
                                    required</span>
                </div>
              </div></div>
            <div class="p-col-4">
              <div class="box">
                <label for="channel_type" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel Type *
                  :</label>
                <input class="p-mt-2" name="channel_type" formControlName="channel_type" id="channel_type"
                       type="text" pInputText required>
                <div class="p-field" *ngIf="submitted && f.channel_type.errors">
                                    <span style="color: red;" *ngIf="f.channel_type.errors.required">Value is
                                        required</span>
                </div>
              </div></div>
            <!-- <div style="height: 15px;"></div> -->
            <div class="p-col-4">
              <div class="box">
                <label for="merchant_code" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Code Merchant * :</label>
                <input class="p-mt-2" name="merchant_code" formControlName="merchant_code" id="merchant_code"
                       type="text" pInputText required>
                <div class="p-field" *ngIf="submitted && f.merchant_code.errors">
                                    <span style="color: red;" *ngIf="f.merchant_code.errors.required">Value is
                                        required</span>
                </div>
              </div></div>
            <!-- <div style="height: 15px;"></div> -->
            <div class="p-col-4">
              <div class="box">
                <label for="secret_key" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Password * :</label>
                <input class="p-mt-2" name="secret_key" formControlName="secret_key" id="secret_key"
                       type="password" pInputText required>
                <div class="p-field" *ngIf="submitted && f.secret_key.errors">
                                    <span style="color: red;" *ngIf="f.secret_key.errors.required">Value is
                                        required</span>
                </div>
              </div></div>
          </div>
        </div>
      </div>
    </p-card>
    <div class="p-field p-col p-mt-5">
      <div class="p-formgrid p-grid" style="text-align: right;">
        <div class="p-field p-col">
          <button pButton pRipple type="submit" label="Save" class="p-button-success"
                  icon="pi pi-angle-right" iconPos="right"></button>
        </div>
      </div>
    </div>
  </form>

</div>

