 
.groupdetail-section {
  margin: 0rem 1.4rem;
}

  

.groupdetail-section .p-field>label {
  font-family: Poppins-Medium;
  font-size: 0.9rem;
  margin-bottom: 0.5rem !important;
}

.groupdetail-section .p-field .p-error {
  font-family: Poppins-Regular;
}

.groupdetail-section .p-inputtext {
  font-family: Poppins-Regular;
  font-size: 0.9rem !important;
  padding: 0.5rem 0.75rem !important;
  border-radius: 10px;
}

::ng-deep .p-fluid textarea {
  width: 100%;
}

.groupdetail-section textarea {
  font-family: Poppins-Regular;
  font-size: 0.9rem !important;
  border-radius: 10px;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
}

.groupdetail-section textarea:enabled:hover {
  border-color: #2196F3;
}

.groupdetail-section textarea:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: #2196F3;
}

::ng-deep .p-picklist .p-picklist-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

::ng-deep .p-picklist .p-picklist-list {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

::ng-deep .p-picklist .p-picklist-header .p-picklist-title {
  font-family: Poppins-Medium;
  font-weight: normal;
  margin-left: 0.5rem;
}

.mdata-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;

  img {
    width: 75px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: .7rem;
  }

  .mdata-list-detail {
    flex: 1 1 0;
  }

  .mdata-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .mdata-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
  }

  .mdata-category {
    font-family: Poppins-Regular;
    vertical-align: middle;
    line-height: 1;
  }
}

::ng-deep .p-orderlist .p-orderlist-list {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

::ng-deep .p-orderlist-list-container {
  flex: 1 1 auto;
  align-content: center;
  display: grid;
}

::ng-deep .mdata-item .mdata-list-detail h4 {
  font-family: Poppins-Medium;
  font-weight: normal;
}

::ng-deep .mdata-item .mdata-list-detail span {
  font-family: Poppins-Regular;
  font-weight: normal;
}

::ng-deep .mdata-item .mdata-list-action .p-checkbox-label {
  font-family: Poppins-Regular;
  font-weight: normal;
}

::ng-deep .groupdetail-section .p-button {
  padding: 0.6rem 0.9rem !important;
  border-radius: 7px;
}

::ng-deep .groupdetail-section .p-button-icon {
  font-size: .7rem !important;
}

::ng-deep .groupdetail-section .p-button-label {
  font-family: Poppins-Medium;
  font-size: 0.9rem;
  font-weight: normal;
}
