<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="proxy_type" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Proxy Type *
                                :</label>
                            <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                                type="text" pInputText required> -->
                            <div style="height: 8px;"></div>
                            <p-dropdown id="isactive" [options]="proxytypes" formControlName="proxy_type" optionLabel="label" optionValue="valueint"  placeholder="Select Proxy Type"></p-dropdown>
                            <div class="p-field" *ngIf="submitted && f.proxy_type.errors">
                                <span style="color: red;" *ngIf="f.proxy_type.errors.required">Proxy type
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="proxy_value" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Proxy Value * :</label>
                            <input class="p-mt-2" name="proxy_value" formControlName="proxy_value" id="proxy_value"
                                type="number" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.proxy_value.errors">
                                <span style="color: red;" *ngIf="f.proxy_value.errors.required">Value is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <!-- {{groupForm.get('registrar_bic').value}} -->
                        <div class="box">
                            <label for="registrar_bic" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Registered BIC * :</label>
                            <!-- <input class="p-mt-2" name="registrar_bic" formControlName="registrar_bic" id="registrar_bic"
                                type="text" pInputText required> -->
                                <div style="height: 8px;"></div>
                            <p-dropdown id="registrar_bic" [options]="registrarbics" formControlName="registrar_bic" optionLabel= "bank_name" optionValue="bic_code" placeholder="Select registered BIC" ></p-dropdown>
                            <div class="p-field" *ngIf="submitted && f.registrar_bic.errors">
                                <span style="color: red;" *ngIf="f.registrar_bic.errors.required">registrar_bic is
                                    required</span>
                            </div>
                        </div>

                    </div>
                    <div class="p-col">
                        <div class="box">
                            <label for="account_number" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Account Number * :</label>
                            <input class="p-mt-2" name="account_number" formControlName="account_number" id="account_number"
                                type="number" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.account_number.errors">
                                <span style="color: red;" *ngIf="f.account_number.errors.required">account_number is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="proxy_type" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Account Name *
                                :</label>
                            <input class="p-mt-2" name="account_name" formControlName="account_name" id="account_name"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.account_name.errors">
                                <span style="color: red;" *ngIf="f.account_name.errors.required">account_name is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="account_type" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Account Type *
                                :</label>
                            <input class="p-mt-2" name="account_type" formControlName="account_type" id="account_type"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.account_type.errors">
                                <span style="color: red;" *ngIf="f.account_type.errors.required">account_type is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                    </div>
                    <div class="p-col">
                        <div class="box">
                            <label for="identification_number_type" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">ID Type *
                                :</label>
                            <!-- <input class="p-mt-2" name="identification_number_type" formControlName="identification_number_type" id="identification_number_type"
                                type="text" pInputText required> -->
                                <div style="height: 8px;"></div>
                                <p-dropdown id="identification_number_type" [options]="idtypes" formControlName="identification_number_type" optionLabel="label" optionValue="valueint"  placeholder="Select ID Type"></p-dropdown>
                                <div class="p-field" *ngIf="submitted && f.identification_number_type.errors">
                                    <span style="color: red;" *ngIf="f.identification_number_type.errors.required">ID type
                                        required</span>
                                </div>
                            <div class="p-field" *ngIf="submitted && f.proxy_type.errors">
                                <span style="color: red;" *ngIf="f.proxy_type.errors.required">identification_number_type is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="identification_number_value" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">ID Number * :</label>
                            <input class="p-mt-2" name="identification_number_value" formControlName="identification_number_value" id="identification_number_value"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.identification_number_value.errors">
                                <span style="color: red;" *ngIf="f.identification_number_value.errors.required">ID Value is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="proxy_status" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">State *
                                :</label>
                            <!-- <input class="p-mt-2" name="proxy_status" formControlName="proxy_status" id="proxy_status"
                                type="text" pInputText required> -->
                                <div style="height: 8px;"></div>
                            <p-dropdown id="proxy_status" [options]="proxystates" formControlName="proxy_status" optionLabel="label" optionValue="valueint"  placeholder="Select status type"></p-dropdown>
                            <div class="p-field" *ngIf="submitted && f.proxy_status.errors">
                                <span style="color: red;" *ngIf="f.proxy_status.errors.required">Status is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success"
                        icon="pi pi-angle-right" iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>