<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="prefundData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div class="p-text-right" style="padding-bottom: 10px; padding-right: 10px;">
    <p-button (click)="onBack()" label="Back" styleClass="p-button-success"></p-button>
</div>

<div *ngIf="prefundData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records]="prefundData" [header]="prefundheader" [wsearch]=true [actionbtn]="prefundactionbtn"
        [colnames]="prefundcolname" [colwidth]="prefundcolwidth" [colclasshalign]="prefundcolhalign"
        [addbtnlink]="prefundaddbtn" [colmark]=4 (datadeleted)="deleteConfirmation($event)"></app-tablehelper>
</div>
<p-dialog header="Delete Prefund" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [modal]="true">
    <p style="font-size: 18;">Are you sure want to delete this Record?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deletePrefund()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>