<div class="p-col-12">
    <div *ngIf="loading" class="p-text-center">
        <p-progressSpinner strokeWidth="5" fill="var(--surface-ground)">
        </p-progressSpinner>

    </div>

    <div *ngIf="!loading">
        <div class="p-p-0">
            <h3 class="p-p-0">{{actionLabel}}</h3>
        </div>
        <div class="p-grid">

            <div [ngClass]="newData ? 'p-col-6' : 'p-col-12'" class="p-col-6" *ngIf="oldData">
                <p-card>
                    <h3>{{action == 9 || action == 3 || !newData ? "":"Old Data"}}</h3>
                    <div *ngFor="let item of filterOldData ">
                        <div class="p-grid">
                            <p class="p-col-12 p-md-3">{{item.label | titlecase}}</p>
                            <p class="p-col-12 p-md-1">:</p>
                            <p class="p-col-12 p-md-8">{{item.value}}</p>
                        </div>
                    </div>

                    <div *ngIf="filterOldData.module?.length > 0">
                        <h4>Menus:</h4>
                        <div *ngFor="let module of filterOldData.module ">
                            <p-accordion>
                                <p-accordionTab header={{module.modulename}} [selected]="false">
                                    <h4>Submenu:</h4>
                                    <div *ngFor="let menu of filterOldData.menu ">
                                        <div *ngIf="menu.idmodule == module.id">
                                            <p-accordion>
                                                <p-accordionTab header={{menu.title}} [selected]="false">
                                                    <h4 class="p-my-2">ACL</h4>
                                                    <div class="p-d-flex" style="justify-content: space-between;
                                            align-content: center;">
                                                        <div *ngFor="let acl of menu.acl | keyvalue ">
                                                            <p-checkbox name="create" [label]=acl.key
                                                                [ngModel]=acl.value [disabled]=true [binary]="true">
                                                            </p-checkbox>
                                                        </div>
                                                    </div>
                                                </p-accordionTab>

                                            </p-accordion>
                                        </div>
                                    </div>
                                </p-accordionTab>

                            </p-accordion>

                        </div>
                    </div>

                </p-card>
            </div>
            <div class="p-col-6" *ngIf="newData">
                <p-card>
                    <h3>New Data</h3>
                    <div *ngFor="let item of newData ">
                        <div class="p-grid">
                            <p class="p-col-12 p-md-3">{{item.label | titlecase}}</p>
                            <p class="p-col-12 p-md-1">:</p>
                            <p class="p-col-12 p-md-8">{{item.value}}</p>
                        </div>
                    </div>
                    <div *ngIf="newData.module?.length > 0">
                        <h4>Menus:</h4>
                        <div *ngFor="let module of newData.module ">
                            <p-accordion>
                                <p-accordionTab header={{module.modulename}} [selected]="false">
                                    <h4>Submenu:</h4>
                                    <div *ngFor="let menu of newData.menu ">
                                        <div *ngIf=" menu.moduleId == module.id ">
                                            <p-accordion>
                                                <p-accordionTab header={{menu.menuName}} [selected]="false">
                                                    <h4 class="p-my-2">ACL</h4>
                                                    <div class="p-d-flex" style="justify-content: space-between;
                                            align-content: center;">
                                                        <div *ngFor="let acl of menu.acl | keyvalue ">
                                                            <p-checkbox name="create" [label]=acl.key
                                                                [ngModel]=acl.value [disabled]=true [binary]="true">
                                                            </p-checkbox>
                                                        </div>
                                                    </div>
                                                </p-accordionTab>

                                            </p-accordion>

                                        </div>
                                    </div>
                                </p-accordionTab>

                            </p-accordion>

                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>