<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="conChannelData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>

<div class="wrapperinside">
  <div style="height: 20px;"></div>
  <p-card class="p-my-2">
    <div class=" p-fluid">
      <div class="p-grid">
        <div class="p-col">

          <div class="p-grid">
            <div class="p-col">
              <div style="height: 8px;"></div>
              <div class="box">
                <label for="conChannelId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel Id
                  :</label>
                <div style="height: 8px;"></div>
                <p-dropdown id="conChannelId" [options]="conChannelId" optionLabel="channel_id"
                  placeholder="Select Channel Id" [(ngModel)]="conChannelIdSelected"></p-dropdown>
              </div>
            </div>

            <div class="p-col">
              <div style="height: 8px;"></div>
              <div class="box">
                <label for="conChannelType" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel Type
                  :</label>
                <div style="height: 8px;"></div>
                <p-dropdown id="conChannelType" [options]="conChannelType" optionLabel="channel_type"
                  placeholder="Select Channel Type" [(ngModel)]="conChannelTypeSelected"></p-dropdown>
              </div>

              <div style="height: 40px;"></div>
              <div class="p-grid">
                <div class="p-col">
                  <div class="box">
                    <button pButton pRipple type="button" icon="pi pi-search" (click)="refreshData()" label="Search"
                      class="p-button-info"></button>
                  </div>
                </div>
                <div class="p-col">
                  <div class="box">
                    <button pButton pRipple type="button" icon="pi pi-refresh" (click)="removeFilter()"
                      label="Clear Filter" class="p-button-warning"></button>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>

<div style="height: 15px;"></div>


<div *ngIf="conChannelData.length > 0" style="padding-left: 10px;padding-right: 10px;">
  <app-tablehelper [records]="conChannelData" [header]="conChannelheader" [actionbtn]="conChannelactionbtn"
    [colnames]="conChannelcolname" [colwidth]="conChannelcolwidth" [colclasshalign]="conChannelcolhalign"
    [addbtnlink]="conChanneladdbtn" [colmark]=4 (datadeleted)="deleteConfirmation($event)" [nopaging]=false
    (dataapprover)="approvalData($event)">
  </app-tablehelper>
</div>

<p-dialog header="Delete Connection Channel" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false" [modal]="true">
  <p style="font-size: 18;">Are you sure want to delete this Record?</p>
  <ng-template pTemplate="footer">
    <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
    <p-button (click)="deleteConnectionChannel()" label="Yes" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false" [modal]="true">
  <div class="p-fluid">
    <div class="p-grid">
      <p class="p-col-12" style="font-size: 18px;">This records need approval from you?, please choose wisely</p>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
    <p-button (click)="reject(4)" label="Reject" styleClass="p-button-text"></p-button>
    <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>