<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="code" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Resident Status Code *
                                :</label>
                            <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                                type="text" pInputText required> -->
                            <div style="height: 8px;"></div>
                            <!--<p-dropdown id="isactive" [options]="proxytypes" formControlName="proxy_type"
                                optionLabel="label" optionValue="valueint" placeholder="Select Proxy Type"></p-dropdown>-->
                            <input class="p-mt-2" name="code" formControlName="code" id="code" type="text" pInputText
                                required>
                            <div class="p-field" *ngIf="submitted && f.code.errors">
                                <span style="color: red;" *ngIf="f.code.errors.required">Resident Status Code is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Resident Status Name *
                                :</label>
                            <input class="p-mt-2" name="name" formControlName="name" id="name" type="text" pInputText
                                required>
                            <div class="p-field" *ngIf="submitted && f.name.errors">
                                <span style="color: red;" *ngIf="f.name.errors.required">Resident Status Name is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <!-- {{groupForm.get('registrar_bic').value}} -->
                        <div class="box">
                            <label for="status_cb" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Resident Status (CB) *
                                :</label>
                            <!-- <input class="p-mt-2" name="registrar_bic" formControlName="registrar_bic" id="registrar_bic"
                                type="text" pInputText required> -->
                            <div style="height: 8px;"></div>
                            <input class="p-mt-2" name="status_cb" formControlName="status_cb" id="status_cb"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.status_cb.errors">
                                <span style="color: red;" *ngIf="f.status_cb.errors.required">Resident Status (CB) is
                                    required</span>
                            </div>
                        </div>
                    </div>

                    <div class="p-col">
                        <div style="height: 8px;"></div>
                        <div class="box">
                            <label for="status_bf" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Resident Status (BI-FAST) *
                                :</label>
                            <input class="p-mt-2" name="status_bf" formControlName="status_bf" id="status_bf"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.status_bf.errors">
                                <span style="color: red;" *ngIf="f.status_bf.errors.required">Resident Status (BI-FAST)
                                    is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="status" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Status *
                                :</label>
                            <p-dropdown id="isactive" [options]="proxytypes" formControlName="status"
                                optionLabel="label" optionValue="valueint" placeholder="Select status"></p-dropdown>
                            <div class="p-field" *ngIf="submitted && f.status.errors">
                                <span style="color: red;" *ngIf="f.status.errors.required">Status is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>

                        <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>