<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>




<div class="p-px-3 p-pb-5">
    <p-messages></p-messages>
    <p-card class="content-container">
        <div *ngIf="!isFetching" style="padding-left: 10px;padding-right: 10px;">
            <!-- <app-tablehelper [records]="userlist" 
                            [header]="usrheader" 
                            [wsearch]=true 
                            [actionbtn]="usractionbtn"
                            [colnames]="usrcolname" 
                            [colwidth]="usrcolwidth" 
                            [colclasshalign]="usrcolhalign" 
                            [defaultColumn]="5"
                            [addbtnlink]="usraddbtn" 
                            (datadeleted)="deleteConfirmation($event)" 
                            (datapreview)="viewData($event)"
                            (dataapprover)="approvalData($event)" 
                            [scrollheight]="scrollheight" 
                            [nopaging]=false
                            (dataPopUp)="viewDetail($event)" 
                            (download)="downloadReport($event)" [reloadButton]="true"
                            (reload)="refreshingUser()">
            </app-tablehelper> -->
            <div style="height: 10px;"></div>

            <p-table [value]="userlist" [scrollable]="true" scrollHeight="400px" [columns]="selectedColumns" [paginator]="true"
    [rows]="20" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} data" scrollDirection="both">

    <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
            <div>
             

                <button *ngIf="exportCSVButton" pButton pRipple type="button"
                    icon="pi pi-file-excel" label="Export CSV" class="p-btn p-button-success" id="helper-button"
                    pTooltip="Export To CSV"></button>
            </div>
            <div class="p-d-flex ">
                <p-multiSelect id="select-helper" [options]="cols" [(ngModel)]="selectedColumns"
                    selectedItemsLabel="{0} Columns Selected" optionLabel="header" placeholder="Choose Columns">
                </p-multiSelect>

                <button pButton pRipple type="button" (click)="showFilter = !showFilter" icon="pi pi-search"
                    label="Show Filter" class="p-btn p-mx-2 btn-helper p-primary-btn" id="helper-button"></button>
                <button pButton pRipple type="button" icon="pi pi-refresh" (click)="refreshingUser()"
                    label="Reload" class="p-btn  btn-helper" id="helper-button" class="p-primary-btn"></button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.isOrder==false">
                    <th class="p-text-left" style="vertical-align: middle;width: 200px;">
                        {{col}}
                    </th>
                </ng-container>
                <ng-container *ngIf="col.isOrder==true">
                    <th class="p-text-left" style="vertical-align: middle;width: 200px;"
                        pSortableColumn="{{col.field}}">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
            </ng-container>
            <th *ngIf="haveActionBtn" style="vertical-align : middle;text-align:center;width: 200px;">Action</th>
        </tr>
    </ng-template>
    <ng-template *ngIf="usractionbtn[1] == 1" pTemplate="body" let-record let-columns="columns" let-rowIndex="rowIndex">
        <tr>

            <td style="width: 200px;" *ngFor="let col of columns; index as j;"
                class="vertAlignCenter p-px-5 p-py-2 table-helper-data">
                <ng-template [ngIf]="j==collink">
                    <a href="#">{{collinkaction.label}}</a>
                </ng-template>
                <ng-template [ngIf]="col.field==colmark">
                    <span class="status-table" [ngClass]="[record[col.field] === 1 ? 'active-data' :
                        record[col.field] === 0 ? 'not-active-data' :
                        record[col.field] === 3 ? 'waiting-approval-data' :
                        record[col.field] === 4 ? 'waiting-approval-data' :
                        record[col.field] === 9 ? 'waiting-approval-data' :
                        'waiting-approval-data']">

                        {{ record[col.field] === 1 ? "Activated" :
                        record[col.field] === 0 ? "Not Active" :
                        record[col.field] === 3 ? "Waiting for Add Data Approval" :
                        record[col.field] === 4 ? "Waiting for Update Approval" :
                        record[col.field] === 9 ?"Wating for Delete Approval" :
                        "Unkwon Status"
                        }}
                    </span>
                </ng-template>



                <ng-template [ngIf]="j!=collink&&col.field!=colmark">
                    {{record[col.field]}}
                </ng-template>
            </td>
            <td *ngIf="haveActionBtn" style="width: 200px;" class="p-text-center" [style]="{}">
                <!-- {{ rowIndex+1 }} -->
                <button *ngIf="usractionbtn[7] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-eye" pTooltip="See Detail" styleClass="p-button-link"
                    (click)="viewDetail(record)" class="p-button-rounded p-button-text cstnoheader"></button>
                <!-- <button *ngIf="usractionbtn[8] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-play" pTooltip="Execute Reconsile"
                    (click)="changePageEmit1(record)"></button> -->
                <!-- <button *ngIf="usractionbtn[9] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-send" styleClass="p-button-link" (click)="changePageEmit2(record)"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Trigger Entity"></button> -->
                <!-- <button *ngIf="reportFilePath" pButton pRipple
                    type="button" icon="pi pi-download" styleClass="p-button-link" (click)="downloadEmit(record)"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Download Report"></button> -->
                    <!-- {{record['billedTable']}} -->
                    <!-- statusReport -->
                    <!-- <button id="{{record['sessionId']}}" *ngIf="record['reportFilePath'] == null && indexRow.indexOf(record['sessionId']) == -1" pButton pRipple type="button" icon="pi pi-print" styleClass="p-button-link"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Generate Report" (click)="generateReportDetail(record)"></button> -->

                    <button id="{{record['sessionId']}}" *ngIf="record['statusReport'] == 0 && indexRow.indexOf(record['sessionId']) == -1" pButton pRipple type="button" icon="pi pi-print" styleClass="p-button-link"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Generate Report" (click)="generateReportDetail(record)"></button>


                    <p-progressSpinner id="p{{record['sessionId']}}" *ngIf="record['statusReport'] == 1" [style]="{width: '20px', height: '20px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>

                    <button *ngIf="record['reportFilePath'] != null" pButton pRipple
                    type="button" icon="pi pi-download" styleClass="p-button-link" (click)="downloadReport(record)"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Download Report"></button>

                    <!-- {{indexRow.indexOf(record['sessionId'])}} -->
                    
            </td>
        </tr>
    </ng-template>



            </p-table>


        </div>
        <div *ngIf="isFetching" class="p-text-center">
            <p-progressBar mode="indeterminate" [style]="{'height': '1rem'}">
            </p-progressBar>
        </div>
    </p-card>
</div>

<p-dialog header="Session Detail" [maximizable]="true" *ngIf="tabList.length>0" [(visible)]="viewDisplay"
    [style]="{width: '80vw'}">
    <div class="card">

        <p-tabView (onChange)="handleChange($event)">

            <p-tabPanel *ngFor="let tab of tabList;" [header]="tab.title">
                <app-tablehelper *ngIf="!detailOnFetch && !detailNoData " [records]="detailData" [header]="detailHeader"
                    [wsearch]=true [actionbtn]="detailactionbtn" [colnames]="detailcolname" [colwidth]="detailwidth"
                    [colclasshalign]="detailcolhalign" [addbtnlink]="usraddbtn" [scrollheight]="scrollheight"
                    [nopaging]=false>
                </app-tablehelper>
                <p-progressBar *ngIf="detailOnFetch" mode="indeterminate" [style]="{'height': '6px'}">
                </p-progressBar>
                <div *ngIf="detailNoData " class="p-text-center">
                    <h1>No Data </h1>
                </div>
            </p-tabPanel>

        </p-tabView>
    </div>

</p-dialog>