<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>


<p-messages></p-messages>

<div class="p-px-3 p-mb-5">
    <p-card>
        <div class="">
            <div class="p-grid ">
                <div class="p-col-12">
                    <div class="p-grid p-px-2">
                        <label for="organizationname" class="p-col-2">Name
                            :</label>
                        <input class=" p-col-10 p-inputtext" name="organizationname" type="text" [(ngModel)]="formatName"
                            pInputText required>
                    </div>
                    <div class="p-grid p-py-3 p-px-2">
                        <label for="description" class="p-col-2">Description :</label>

                        <textarea class="p-inputtext p-col-10" id="description" [(ngModel)]="formatDesc" rows="7"
                            cols="109" pInputTextarea></textarea>
                    </div>
                    <div class="p-grid p-py-3 p-px-2">
                        <label class="p-col-2 p-mt-1">Template Format :</label>
                        <div class="p-col-10 p-p-0">
                            <p-radioButton name="groupname" value=1 label="Load From File " [(ngModel)]="templateFormat"></p-radioButton>&nbsp;&nbsp;&nbsp;
                            <p-radioButton name="groupname" value=2 label="Designer " [(ngModel)]="templateFormat"></p-radioButton>
                        </div>
                    </div>
                    <div class="p-grid p-py-3 p-px-2">
                        <label class="p-col-2 p-mt-1">Field Separator :</label>
                        <div class="p-col-2 p-p-0">
                            <input *ngIf="templateFormat==1" class="p-col-10 p-inputtext" name="fieldSpt" type="text" [(ngModel)]="fieldSpt" pInputText required disabled>
                            <p-dropdown *ngIf="templateFormat==2" class="p-col-10 p-p-0" [options]="fieldSpts" optionLabel="label" optionValue="label" [(ngModel)]="fieldSpt" placeholder="Select Sparator"></p-dropdown>
                        </div>
                    </div>
                    <div *ngIf="templateFormat==1" class="p-grid p-py-3 p-px-2">
                        <label class="p-col-2 p-mt-1">Header Row Number :</label>
                        <div class="p-col-2 p-p-0">
                            <input class=" p-col-10 p-inputtext" name="headRow" type="text" [(ngModel)]="headRow" pInputText required>
                        </div>
                        <div class="p-col-8 p-p-0">

                        </div>
                    </div>
                    <div class="p-grid p-py-3 p-px-2">
                        <label class="p-col-2 p-mt-1">Start Row Number :</label>
                        <div class="p-col-2 p-p-0">
                            <input class=" p-col-10 p-inputtext" name="startRow" type="text" [(ngModel)]="startRow" pInputText required>
                        </div>
                        <div class="p-col-8 p-p-0">

                        </div>
                    </div>
                    <div *ngIf="templateFormat==1" class="p-grid p-py-3 p-px-2">
                        <label class="p-col-2 p-mt-1">File Data Format :</label>
                        <div class="p-col-4 p-p-0">
                            <p-fileUpload pRipple #fileupload name="myfile[]" customUpload="true"
                                (uploadHandler)="billedUploader($event, fileupload)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </p-fileUpload>
                        </div>
                        <div class="p-col-6 p-p-0">

                        </div>
                    </div>
                    <div *ngIf="templateFormat==2"   class="p-grid p-py-3 p-px-2">
                        <label for="organizationname" class="p-col-2">Field Register
                            :</label>
                            <div class="p-inputgroup p-col-4">
                                <input type="text" class="p-inputtext" [(ngModel)]="fieldName" pInputText placeholder="Field Name">   
                                <button type="button" pButton pRipple icon="pi pi-plus" (click)="addListField()" styleClass="p-button-warn"></button>      
                            </div>
                    </div>
                    <div class="p-grid p-py-3 p-px-2">
                        <div class="p-col-8 p-p-0">
                            <app-tablehelper [records]="listFields" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
                                [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign" (datadeleted)="deleteConfirmation($event)"
                                [addbtnlink]="usraddbtn" [colmark]="'active'" [scrollheight]="scrollheight" [nopaging]=false [reloadButton]="false">
                            </app-tablehelper>
                        </div>
                    </div>


                    <!-- <div class="p-grid p-py-5 p-px-4">
                        <label class="p-col-1 p-mt-1">Field Name :</label>
                        <div class="p-col-2 p-p-0">
                            <input class=" p-col-10 p-inputtext" name="startRow" type="text" [(ngModel)]="startRow" pInputText required>
                        </div>
                        <label class="p-col-1 p-mt-1">Database Field :</label>
                        <div class="p-col-2 p-p-0">
                            <input class=" p-col-10 p-inputtext" name="startRow" type="text" [(ngModel)]="startRow" pInputText required>
                        </div>
                        <div class="p-col-8 p-p-0">
                            <label class="p-col-1 p-mt-1">Database Field :</label>
                        <div class="p-col-2 p-p-0">
                            <input class=" p-col-10 p-inputtext" name="startRow" type="text" [(ngModel)]="startRow" pInputText required>
                        </div>
                        </div>
                    </div> -->
                    





            </div>

               

                <div class="p-ml-auto p-mt-5 p-px-3">
                    <p-button *ngIf="!submit" label="Submit" (click)="onSubmit()" styleClass="p-button">
                    </p-button>
                    <div *ngIf="submit" class="p-text-center">
                        <p-progressSpinner [style]="{width: '50px', height: '50px',textAlign: 'center'}"
                            styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                            animationDuration=".5s"></p-progressSpinner>
                    </div>
                </div>
            </div>
        </div>

    </p-card>
</div>
<p-dialog header="Sucess" [(visible)]="sucessDialog" [style]="{width: '50vw'}">
    <p>{{dialogMessage}}</p>
    <ng-template pTemplate="footer">
        <p-button (click)="confirmSuccess()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>