<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div>
  <div class="demo-container  p-pb-0 p-pt-4 p-pl-4 p-pr-4 gauge-container">
    <div class="p-grid">
      <div class="p-col-3" style="text-align: right;">

        <p>Upper Limit : {{upperLimit | number}}</p>
        <p>Reference Limit : {{referenceLimit | number}}</p>
        <p>Amber Level : {{amberLevel | number}}</p>
        <p>Red Level : {{redLevel | number}}</p>
        <p><strong>Saldo Available : {{gaugeValue | number}}</strong></p>
      </div>
      <div class="p-col">
        <ngx-gauge style=" font-size:20px;" [size]=400 [type]="gaugeType" [value]="gaugeValue" [max]="upperLimit"
          [thresholds]="thresholdConfig">
        </ngx-gauge>
      </div>
    </div>
  </div>
  <!--    <div class="container-gauge-button p-pl-4 p-pr-4 p-pb-4" [routerLink]="['detail']">-->
  <!--        <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Configure" class="p-primary-btn"></button>-->
  <!--    </div>-->
</div>

<p-progressSpinner *ngIf="limitData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div class="p-px-3 p-pb-5">
  <p-card class="content-container">
    <div *ngIf="limitData.length > 0" style="padding-left: 10px;padding-right: 10px;">
      <app-tablehelper [records]="limitData" [wsearch]="false" [header]="limitDataHeader"
        [actionbtn]="limitDataactionbtn" [colnames]="limitDatacolname" [colwidth]="limitDatacolwidth"
        [colclasshalign]="limitDatacolhalign" [colmark]=4 [addbtnlink]="limitDataaddbtn" [nopaging]=false
        (datadeleted)="deleteConfirmation($event)" (datapreview)="previewConfirmation($event)"
        (dataapprover)="approvalData($event)">
      </app-tablehelper>
    </div>
  </p-card>
</div>

<p-dialog header="View Prefund" [(visible)]="viewDisplay" [style]="{width: '50vw'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false">
  <div class="p-fluid">
    <!--    <div class="p-grid">-->
    <!--      <p class="p-col-12 p-md-3">Parameter</p>-->
    <!--      <p class="p-col-12 p-md-1">:</p>-->
    <!--      <p class="p-col-12 p-md-8">{{limitData.param_name}}</p>-->
    <!--    </div>-->
    <div class="p-grid">
      <p class="p-col-12 p-md-3">Nilai Minimal</p>
      <p class="p-col-12 p-md-1">:</p>
      <p class="p-col-12 p-md-8">{{selectedLimitData.min}}</p>
    </div>
    <div class="p-grid">
      <p class="p-col-12 p-md-3">Nilai Maksimal</p>
      <p class="p-col-12 p-md-1">:</p>
      <p class="p-col-12 p-md-8">{{selectedLimitData.max}}</p>
    </div>

  </div>
</p-dialog>

<p-dialog header="Delete Connection Channel" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false">
  <p style="font-size: 18;">Are you sure want to delete this Record?</p>
  <ng-template pTemplate="footer">
    <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
    <p-button (click)="deleteLimit()" label="Yes" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false">
  <div>
    <app-apporval-confirmation [newData]="newData" [oldData]="oldData"></app-apporval-confirmation>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
    <p-button (click)="reject(4)" label="Reject" styleClass="p-button-text"></p-button>
    <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>