<form class="form" [formGroup]="inputForm" (ngSubmit)="onSubmit()" style="padding: 10px 0 10px 0;">
    <div [style]="{width: '25vw'}">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="oldpassword">Old Password</label>
                <input name="oldpassword" id="oldpassword" type="password" formControlName="oldpassword" pInputText>
                <div class="p-field" *ngIf="submitted && f.oldpassword.errors">
                    <span style="color: red;" *ngIf="f.oldpassword.errors.required">Old Password is required</span>
                </div>
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="newpassword">New Password</label>
                <input name="newpassword" id="newpassword" type="password" formControlName="newpassword" pInputText>
                <div class="p-field" *ngIf="submitted && f.newpassword.errors">
                    <span style="color: red;" *ngIf="f.newpassword.errors.required">New Password is required</span>
                </div>
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="confirmpassword">Confirm Password</label>
                <input name="confirmpassword" id="confirmpassword" type="password" formControlName="confirmpassword"
                    pInputText>
                <div class="p-field" *ngIf="submitted && f.confirmpassword.errors">
                    <span style="color: red;" *ngIf="f.confirmpassword.errors.required">Confirm Password is
                        required</span>
                </div>
                <div class="p-field" *ngIf="submitted && confirmed">
                    <span style="color: red;">Confirm Password must same with New Password</span>
                </div>
            </div>
        </div>
        <span *ngIf="err.msg" style="color: red;">{{err.msg}} </span>

        <div class="p-fluid p-formgrid p-grid" style="padding-top: 10px;">
            <div class="p-field p-col">

            </div>
            <div class="p-field p-col-8">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <button pButton pRipple type="submit" label="Save" class=""></button>
                    </div>
                    <div class="p-field p-col">
                        <button pButton pRipple type="button" (click)="onCancel()" label="Cancel" class=""></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>