<div>
    <div class="p-d-flex">
        <p class="p-py-0 p-pl-0">Period: {{dateRange.startDate | date}} - {{dateRange.endDate | date}}</p>
        <p class=" p-py-0">Total Transaction : {{totalTrx}}</p>
    </div>
    <div class="p-my-2">
        <p-chart type="line" [width]=width [height]=height [data]="basicData" [options]="options"></p-chart>
    </div>
</div>