




::ng-deep .p-panelmenu .p-panelmenu-header>a {
  padding: 0rem 1rem 0.5rem 1rem !important;
  background: #ffffff !important;
  font-family: Poppins-Medium;
  font-weight: normal;
}

::ng-deep .p-panelmenu .p-panelmenu-header a .p-menuitem-text {
  font-family: 'Poppins-Regular';

  line-height: 1.8rem;
  font-size: .9rem;
  font-weight: 400;
  
}

::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  padding: 0.65rem .7rem !important;
  margin: 0rem 1.3rem 0rem 0.5rem !important;
}

::ng-deep .p-panelmenu .p-panelmenu-header>a:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #0d63c3;
}

::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
  background: #e2eefd;
  border-radius: 7px;
}

::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  background: #e2eefd;
  border-radius: 7px;
}

::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus .p-menuitem-text {
  color: #0d63c3;
}



.title {
  font-family: Poppins-Semibold;
  font-size: 1.75rem;
  padding: 0rem 0rem 0rem 0rem;
}

::ng-deep  #logo > .p-toolbar.p-component {
  display: block;
}

::ng-deep .p-menubar .p-menubar-root-list{
  flex-direction: row-reverse;
}
::ng-deep .p-menubar-root-list>.p-menuitem-active> p-menubarsub >.p-submenu-list{
right:1px
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
 
  border-radius: 7px;
  padding: 0.75rem ;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
  background: #e2eefd;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover {
  background: #e2eefd !important;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
  font-family: Poppins-Regular;
  font-size: 0.85rem;
  color: #000;
  margin-right: 0.5rem;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
  color: #000;
  margin-right: 0.5rem;
}

// ::ng-deep .pi {
//   font-size: 0.95rem !important;
// }

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-submenu-icon {
  color: #000;
}

::ng-deep .p-menubar .p-submenu-list {
  margin: 0.35rem 0;
  padding: 0.5rem 0.5rem;
  border-radius: 7px;
  width: 13rem;
}

::ng-deep .p-menubar .p-menuitem-link .p-menuitem-text {
  font-family: Poppins-Regular;
  font-size: 0.8rem;
  color: #000;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link,
::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover,
::ng-deep .p-menubar .p-menuitem-link:not(.p-disabled):hover,
::ng-deep .p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link {
  background: #e2eefd;
  border-radius: 7px;
}

::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text,
::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text,
::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text,
::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-icon,
::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon,
::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon::ng-deep .p-menubar .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text,
::ng-deep .p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text,
::ng-deep .p-menubar .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: #0d63c3 !important;
}

::ng-deep .p-menubar .p-menuitem-link .p-menuitem-icon {
  color: #000;
  margin-right: 0.75rem;
}

::ng-deep .p-menubar .p-menuitem {
  margin: 0 5px !important;
}
