<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>
  <div class="parent">
    <div class="head">
      <p-toolbar styleClass="p-toolbar-bb">
        <div class="p-toolbar-group-left" style="padding-left: 10px;">
          <div class="p-d-flex">
            <button pButton pRipple type="button" icon="pi pi-bars" class="p-button p-button-text"></button>
            <div style="width: 40px;"></div>
            <p class="title" style="color: #188030;font-weight: 100!important;font-family: Arial!important;padding: 0;margin: 0;">Reconciliation</p>&nbsp;
            <p class="title" style="color: #4b4e52;font-weight: 100!important;font-family: Arial!important;padding: 0;margin: 0;">System</p>
          </div>
          <!-- <h2 style="margin: 0px;padding: 25px 0 25px 0"><span style="color: #08736f;font-weight: 400;">Komi Portal of </span> {{companytitle}}</h2> -->
          <!-- <h2 style="margin: 0px;padding: 25px 0 25px 0"><span style="color: #08736f;font-weight: 400;">komi@krakatoa </span></h2> -->

          <!-- <h2 style="margin: 0px;padding: 5px 0 5px 0; font-weight: 400;"> {{companytitle}}</h2> -->
          <!-- <h2 style="margin: 0px;padding: 25px 0 25px 0"><span style="color: #08736f;font-weight: 400;">komi@krakatoa </span></h2> -->
        </div>
        <div class="p-toolbar-group-right" style="margin-top: 0!important;padding-top: 0px!important;">
          <p-menubar [model]="items"></p-menubar>
        </div>
      </p-toolbar>


    </div>
    <div class="main">
      <div class="navsmall">
        <div style="height: 50px;">&nbsp;</div>
        <ul style="list-style-type: none;padding-left: 0;">
          <li *ngFor="let smModule of smallMenus">

            <!-- *ngIf="filterOldData.module?.length > 0" -->

            <a href="javascript:void(0)" *ngIf="!smModule.ispop" style="color: white;" routerLink="{{smModule.routerLink}}" >
              <i class="{{smModule.icon}}" style="font-size: 2rem; padding: 10px;"></i>
            </a>
            <!-- (click)="menu.toggle($event)" -->

            <!-- <a *ngIf="smModule.ispop" href="javascript:void(0)" style="color: white;" (click)="toogleSmallMenu(smModule.label)"> -->
            <!-- <a *ngIf="smModule.ispop" href="javascript:void(0)" style="color: white;" (click)="Reconsiliations.toggle($event)">
              <i class="{{smModule.icon}}" style="font-size: 2rem; padding: 10px;"></i>
            </a>
            <p-menu *ngIf="smModule.ispop" #Reconsiliations [popup]="true" [model]="itemsSmallMenu[smModule.label]"></p-menu> -->
            <a *ngIf="smModule.ispop" href="javascript:void(0)" style="color: white;" (click)="menu.toggle($event)">
              <i class="{{smModule.icon}}" style="font-size: 2rem; padding: 10px;"></i>
            </a>
            <!-- <button *ngIf="smModule.ispop" type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button> -->
            <p-menu #menu [popup]="true" [model]="itemsSmallMenu[smModule.label]"></p-menu>

          </li>
        </ul>
        <!-- <button type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
        <p-menu #menu [popup]="true" [model]="items"></p-menu> -->
        <!-- <p-megaMenu [model]="smallMenus" orientation="vertical"></p-megaMenu> -->
      </div>
      
      <div class="content">
        
        <router-outlet></router-outlet>

      </div>  
    </div>
  </div>
  <!-- <div id="wrapper">
    <div id="contentliquid" class="right-column" [ngClass]="sidebar ? '' : 'right-column-collapse'">
      <div id="content">
        <p-toolbar styleClass="p-toolbar-bb">
          <div class="p-toolbar-group-left" style="padding-left: 10px;">
            <div class="p-d-flex" style="padding: 0.7rem 0.7rem 0 0">
              <p class="title" style="color: #188030;font-weight: 100!important;font-family: Arial!important;">Reconciliation</p>&nbsp;
              <p class="title" style="color: #4b4e52;font-weight: 100!important;font-family: Arial!important;">System</p>
            </div> -->
            <!-- <h2 style="margin: 0px;padding: 25px 0 25px 0"><span style="color: #08736f;font-weight: 400;">Komi Portal of </span> {{companytitle}}</h2> -->
            <!-- <h2 style="margin: 0px;padding: 25px 0 25px 0"><span style="color: #08736f;font-weight: 400;">komi@krakatoa </span></h2> -->

            <!-- <h2 style="margin: 0px;padding: 5px 0 5px 0; font-weight: 400;"> {{companytitle}}</h2> -->
            <!-- <h2 style="margin: 0px;padding: 25px 0 25px 0"><span style="color: #08736f;font-weight: 400;">komi@krakatoa </span></h2> -->
          <!-- </div>
          <div class="p-toolbar-group-right" style="padding-top: 5px;">
            <p-menubar [model]="items"></p-menubar>
          </div>
        </p-toolbar>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div id="leftcolumn" class="full-height" (mouseover)="sidebar = !sidebar" (mouseout)="sidebar = !sidebar"
      [ngClass]="sidebar ? '' : 'sidebar-collapse'">
      <div id="logo">
        <div class="p-pt-15 p-pb-15 forcecenter" style="padding: 1.3rem 1.5rem">
          <img src="assets/logos/logo.png" class="logo-sidebar">
        </div>
      </div> -->
      <!-- <div>
        <i (click)="sidebar = !sidebar" id="sidebar-toggler" class="pi pi-bars"></i>
      </div> -->
      <!-- <div>
        <p-panelMenu [model]="sidemenus" [style]="{}"></p-panelMenu>
      </div>
    </div>
  </div> -->
  <p-dialog header="Sign Out" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" [modal]="true">
    <p>Sign out from application?, if yes you should log in again from the beginning</p>
    <ng-template pTemplate="footer">
      <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
      <p-button (click)="signOut()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
  <p-dialog header="Password will be expired" [(visible)]="changePasswordDisplay" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [modal]="true">
    <p>{{passwordMessage}}</p>
    <ng-template pTemplate="footer">
      <p-button (click)="changePasswordDisplay=false" label="Later" styleClass="p-button-text"></p-button>
      <p-button (click)="toProfile();changePasswordDisplay=false" label="Now" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
</body>

</html>