<style>
    body {
        background: #007dc5
    }

    section {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>
<p-blockUI [target] [blocked]="isProcess">
    <p-progressSpinner>
        <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1>
    </p-progressSpinner>
    <!-- <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1> -->

</p-blockUI>
<section>
    <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
        <p-card header="Please Insert for Verified" [style]="{width: '360px'}" styleClass="p-card-shadow p-header-w50">
            <ng-template pTemplate="header">
                <div class="p-text-center"><img alt="logo" src="assets/logos/komiportal.png"></div>
            </ng-template>
            <div class="p-fluid">
                <div class="p-field">
                    <label for="password" class="labelpb">New Password</label>
                    <!-- <input id="userid" name="userid" type="text" required  [(ngModel)]="userid" pInputText> -->
                    <input id="password" name="password" type="password" required formControlName="password" pInputText>
                </div>
                <div class="p-field" *ngIf="submitted && f.password.errors">
                    <span style="color: red;" *ngIf="f.password.errors.required">Password is required</span>
                    <span style="color: red;" *ngIf="f.password.errors.validatePass">Password not valid</span>
                </div>
                <div style="height: 0.3rem;"></div>
                <div class="p-field">
                    <label for="confirmPassword" class="labelpb">Confirmed Password</label>
                    <!-- <input id="passwd" type="password" [(ngModel)]="secret" (keyup.enter)="passData()" pInputText>  -->
                    <input id="confirmPassword" type="password" formControlName="confirmPassword" pInputText>
                </div>
                <div class="p-field" *ngIf="submitted && f.confirmPassword.errors">
                    <span style="color: red;" *ngIf="f.confirmPassword.errors.mustMatch">Confirm Password does not match
                        with password</span>
                    <span style="color: red;" *ngIf="f.confirmPassword.errors.required">Confirmed Password is
                        required</span>
                </div>

            </div>
            <ng-template pTemplate="footer">
                <!-- <button pButton pRipple type="button" label="Login" (click)="passData()" class="p-button-rounded"></button> -->
                <div class="p-text-right">
                    <button pButton pRipple type="submit" label="Login" class="p-primary-btn"></button>
                </div>
            </ng-template>
        </p-card>
    </form>
    <p-messages></p-messages>
</section>