/* poppins */
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../src/assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../src/assets/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../src/assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../src/assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('../src/assets/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

/* You can add global styles to this file, and also import other style files */
@import "assets/themes/custom.css";
@import "assets/bootstraps/bootstrap.min.css";

.product-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;

  img {
    width: 75px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: .7rem;
  }

  .product-list-detail {
    flex: 1 1 0;
  }

  .product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
  }

  .product-category {
    vertical-align: middle;
    line-height: 1;
  }
}
