<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>


<p-messages></p-messages>
<div class="p-px-3 p-mb-5">
    <p-card>
        <div class=" p-fluid">
            <div class="p-grid p=px-5">
                <div class="p-col-12">
                    <div class="box p-d-flex p-ai-center p-card p-p-3">

                        <p for="organizationname">Session Id
                            : {{sessionId}}</p>

                        <div class=" box p-d-flex p-ai-center">
                            <p for="temppass">Source :</p>
                            <p-dropdown [options]="sourceOptions" [(ngModel)]="source" placeholder="Select source">
                            </p-dropdown>
                        </div>
                        <div class=" box p-d-flex p-ai-center">
                            <p for="temppass">Status :</p>
                            <p-dropdown [options]="statusOptions" optionLabel="name" optionValue="code"
                                [(ngModel)]="status" placeholder="Select source">
                            </p-dropdown>
                        </div>
                        <div class="p-ml-auto  p-px-3">
                            <p-button *ngIf="!submit" label="Submit" (click)="onSubmit()" class=""
                                styleClass="p-button">
                            </p-button>
                            <div *ngIf="submit" class="p-text-center">
                                <p-progressSpinner [style]="{width: '50px', height: '50px',textAlign: 'center'}"
                                    styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                                    animationDuration=".5s"></p-progressSpinner>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <app-tablehelper *ngIf="detailData.length > 0" [records]="detailData" [header]="detailHeader"
                        [wsearch]=true [actionbtn]="detailactionbtn" [colnames]="detailcolname" [colwidth]="detailwidth"
                        [colclasshalign]="detailcolhalign" [scrollheight]="scrollheight" (exportCSV)="exportexcel()"
                        [exportCSVButton]="true" [nopaging]=false [defaultColumn]="10">
                    </app-tablehelper>
                    <p-progressBar *ngIf="detailOnFetch" mode="indeterminate" [style]="{'height': '6px'}">
                    </p-progressBar>
                    <div *ngIf="detailNoData " class="p-text-center">
                        <h1>No Data </h1>
                    </div>
                </div>



            </div>
        </div>

    </p-card>
</div>

<p-dialog header="Sucess" [(visible)]="sucessDialog" [style]="{width: '50vw'}">
    <p>{{dialogMessage}}</p>
    <ng-template pTemplate="footer">
        <p-button (click)="confirmSuccess()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>