<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div class="wrapperinside">
    <!-- <form (ngSubmit)="onSubmit()" [formGroup]="orgForm" style="padding: 2px;"> -->
    <div style="height: 20px;"></div>
    <p-card class="p-my-2">
        <div class=" p-fluid">
            <div class="p-grid">
                <div class="p-col-3">
                    <div class="box">
                        <!-- class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" -->
                        <label for="userid">User ID *
                            :</label>
                        <div style="height: 8px;"></div>

                        <p-dropdown [options]="userlist" [(ngModel)]="user" placeholder="Select a User"
                            optionLabel="userid" (onChange)="onSelectUserData($event)" [disabled]="isEdit"
                            [showClear]="true">
                        </p-dropdown>
                        <div class="p-field" *ngIf="submitted && inputform.errors">
                            <span style="color: red;">User
                                Name is required</span>
                        </div>
                    </div>
                    <div style="height: 15px;"></div>
                    <div class="box">
                        <label for="groupname">Devisi</label>
                        <input class="p-mt-2" name="groupname" id="groupname" [(ngModel)]="group" type="text"
                            value="groupname" pInputText required>
                    </div>
                    <div style="height: 15px;"></div>
                    <div class="box">
                        <label for="emailname">Email to</label>
                        <input class="p-mt-2" name="emailname" id="emailname" [(ngModel)]="emailname" type="text"
                            value="emailname" pInputText required [disabled]="isEdit">
                    </div>
                    <div style="height: 15px;"></div>
                    <div class="box">
                        <label for="fullname">Fullname</label>
                        <input class="p-mt-2" name="fullname" id="fullname" [(ngModel)]="fullname" type="text"
                            value="fullname" pInputText required>
                    </div>
                </div>
                <div class="p-col-9">
                    <label for="mnlist">Selected Notification Type</label>
                    <div style="height: 10px;"></div>
                    <p-pickList [source]="listnotifysource" [target]="listnotifydest"
                        sourceHeader="Notification Type availables" targetHeader="Selected" [dragdrop]="true"
                        [responsive]="true" [sourceStyle]="{'height':'5rem'}" [targetStyle]="{'height':'5rem'}">
                        <ng-template let-product pTemplate="item">
                            <div class="product-item">
                                <div class="product-list-detail">
                                    <i class="pi pi-info-circle product-category-icon"></i>
                                    <span class="product-category">{{" "+product.label}}</span>
                                </div>

                            </div>
                        </ng-template>
                    </p-pickList>
                    <div class="box">

                    </div>
                </div>
            </div>
        </div>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="button" label="Cancel" (click)="onCancel()"
                        class="p-button-warning p-mr-2" icon="pi pi-angle-left" iconPos="left"></button>
                    <button pButton pRipple type="button" label="Save" class="  p-button-success" icon="pi pi-save"
                        iconPos="right" (click)="onSubmit()"></button>

                </div>
            </div>
        </div>
    </p-card>
    <div style="height: 20px;"></div>


    <!-- </form> -->
</div>