:host ::ng-deep .p-chip.custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
    padding: 0.5rem;
    font-family: 'Poppins-Regular';
}


:host ::ng-deep .p-multiselect-label-container{
    width :50px
}