<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>


<p-messages></p-messages>

<div class="p-px-3 p-mb-5">
    <p-card>
        <div class="">
            <div class="p-grid ">
                <div class="p-col-12">
            <div class="p-grid p-px-2">
                        <label for="organizationname" class="p-col-2">Name
                            :</label>
                        <input class=" p-col-10 p-inputtext" name="organizationname" type="text" [(ngModel)]="jobName"
                            pInputText required>
                    </div>
                    <div class="p-grid p-py-3 p-px-2">
                        <label for="description" class="p-col-2">Description :</label>

                        <textarea class="p-inputtext p-col-10" id="description" [(ngModel)]="jobDesc" rows="7"
                            cols="109" pInputTextarea></textarea>
                    </div>
                    <!-- <div class="p-grid p-py-3 p-px-2">
                        <label class="p-col-2 p-mt-1">Auto Generate Report :</label>
                        <div class="p-col-10 p-p-0">
                            <p-inputSwitch [(ngModel)]="autoGenerateReport">
                            </p-inputSwitch>
                        </div>
                    </div> -->
                </div>

                <div class="p-col-12">
                    <p-card header="Setup Configuration" styleClass="chart-card">
                        <p-accordion [multiple]="true">
                            <p-accordionTab header="Select File Type" styleClass="setup-accordion" [selected]="true">
                                <div class="p-fluid">
                                  <div class="p-grid">
                                    <div class="p-col">
                                        <div class="p-fluid p-grid">

                                            <div  class="p-col-4">
                                                <label for="temppass" class="p-mr-3">Primary Data File </label>
                                            </div>
                                            <div  class="p-col-8">
                                                <p-dropdown (onChange)="getAvailProp1()" [options]="source1Options"
                                                    [(ngModel)]="source1" placeholder="Select source">
                                                </p-dropdown>
                                            </div>
                                            <div  class="p-col-4">
                                                <label for="pmsc1" class="p-mr-3">How to Load Data </label>
                                            </div>
                                            <div  class="p-col-8">
                                                <!-- <p-selectButton id="pmsc1" [options]="dataPopulatesSc1" [(ngModel)]="dataPopulateSc1" optionLabel="name"></p-selectButton> -->
                                                <p-checkbox name="groupname" label="Manual" [(ngModel)]="dataPopulatManualSc1" binary="true" disabled="true"></p-checkbox>&nbsp;&nbsp;&nbsp;
                                                <p-checkbox name="groupname" value="true" label="Scheduler" [(ngModel)]="dataPopulateSc1" binary="true" (onChange)="onChangeSc1()"></p-checkbox>
                                               
                                            </div>
                                            <div *ngIf="dataPopulateSc1" class="p-col-4">
                                                <label for="cronsc1" class="p-mr-3">Scheduler</label>
                                            </div>
                                            <div *ngIf="dataPopulateSc1" class="p-col-8">
                                                <!-- <input class="p-inputtext" name="cronsc1" type="text" placeholder="Use cron syntax for schedule" [(ngModel)]="cronsc1" pInputText required> -->
                                                <div class="p-inputgroup">
                                                    <input type="text" pInputText name="cronsc1" class="p-inputtext" [(ngModel)]="cronsc1" placeholder="Use cron syntax for schedule" required>   
                                                    <button type="button" pButton pRipple icon="pi pi-ellipsis-h" (click)="cronDialog1Click()" styleClass="p-button-warn"></button>      
                                                </div>
                                            </div>
                                            <div *ngIf="dataPopulateSc1" class="p-col-4">
                                                <label for="cronsc1" class="p-mr-3">File Location &nbsp;</label>
                                            </div>
                                            <div *ngIf="dataPopulateSc1" class="p-col-8">
                                                <input class="p-inputtext" name="cronsc1" type="text" [(ngModel)]="filePathSc1" pInputText required>
                                            </div>
                                            
                                            
                                        </div>
                                        

                                        <!-- <div class="box p-d-flex p-ai-center">
                                            <label for="temppass" class="p-mr-3">Primary Data File :</label>
                                            <p-dropdown (onChange)="getAvailProp1()" [options]="source1Options"
                                                [(ngModel)]="source1" placeholder="Select source">
                                            </p-dropdown>
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <div class="box p-d-flex p-ai-center">
                                            <label for="pmsc1" class="p-mr-3">Populate Method :</label>
                                            <p-selectButton id="pmsc1" [options]="dataPopulatesSc1" [(ngModel)]="dataPopulateSc1" optionLabel="name"></p-selectButton>
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <div class="box p-d-flex">
                                            <label for="cronsc1" class="p-mr-3">Scheduler &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
                                            <input class="p-inputtext" name="cronsc1" type="text" placeholder="Use cron syntax for schedule" [(ngModel)]="cronsc1" pInputText required>
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <div class="box p-d-flex">
                                            <label for="cronsc1" class="p-mr-3">File Location &nbsp;:</label>
                                            <input class="p-inputtext" name="cronsc1" type="text" [(ngModel)]="filePathSc1" pInputText required>
                                        </div> -->
                                    </div>
                                    <div class="p-col">
                                        <div class="p-fluid p-grid">

                                            <div  class="p-col-4">
                                                <label for="temppass" class="p-mr-3">Secondary Data File </label>
                                            </div>
                                            <div  class="p-col-8">
                                                <p-dropdown (onChange)="getAvailProp2()" [options]="source2Options"
                                                    [(ngModel)]="source2" placeholder="Select source">
                                                </p-dropdown>
                                            </div>
                                            <div  class="p-col-4">
                                                <label for="pmsc1" class="p-mr-3">How to Load Data </label>
                                            </div>
                                            <div  class="p-col-8">
                                                <!-- <p-selectButton id="pmsc1" [options]="dataPopulatesSc1" [(ngModel)]="dataPopulateSc1" optionLabel="name"></p-selectButton> -->
                                                <p-checkbox name="groupname" label="Manual" [(ngModel)]="dataPopulatManualSc2" binary="true" disabled="true"></p-checkbox>&nbsp;&nbsp;&nbsp;
                                                <p-checkbox name="groupname" value="true" label="Scheduler" [(ngModel)]="dataPopulateSc2" binary="true" (onChange)="onChangeSc2()"></p-checkbox>
                                               
                                            </div>
                                            <div *ngIf="dataPopulateSc2" class="p-col-4">
                                                <label for="cronsc1" class="p-mr-3">Scheduler</label>
                                            </div>
                                            <div *ngIf="dataPopulateSc2" class="p-col-8">
                                                <!-- <input class="p-inputtext" name="cronsc2" type="text" placeholder="Use cron syntax for schedule" [(ngModel)]="cronsc2" pInputText required> -->
                                                <div class="p-inputgroup">
                                                    <input type="text" pInputText name="cronsc2" class="p-inputtext" [(ngModel)]="cronsc2" placeholder="Use cron syntax for schedule" required>   
                                                    <button type="button" pButton pRipple icon="pi pi-ellipsis-h" (click)="cronDialog2Click()" styleClass="p-button-warn"></button>      
                                                </div>
                                            </div>
                                            <div *ngIf="dataPopulateSc2" class="p-col-4">
                                                <label for="cronsc2" class="p-mr-3">File Location &nbsp;</label>
                                            </div>
                                            <div *ngIf="dataPopulateSc2" class="p-col-8">
                                                <input class="p-inputtext" name="cronsc2" type="text" [(ngModel)]="filePathSc2" pInputText required>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="p-col-5  p-p-3">
                                        <div class="box p-d-flex p-ai-center">
                                            <label for="temppass" class="p-mr-3">Primary Data File :</label>
                                            <p-dropdown (onChange)="getAvailProp1()" [options]="source1Options"
                                                [(ngModel)]="source1" placeholder="Select source">
                                            </p-dropdown>
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <div class="box p-d-flex p-ai-center">
                                            <label for="pmsc1" class="p-mr-3">Populate Method :</label>
                                            <p-selectButton id="pmsc1" [options]="dataPopulatesSc1" [(ngModel)]="dataPopulateSc1" optionLabel="name"></p-selectButton>
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <div class="box p-d-flex">
                                            <label for="cronsc1" class="p-mr-3">Scheduler &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
                                            <input class="p-inputtext" name="cronsc1" type="text" placeholder="Use cron syntax for schedule" [(ngModel)]="cronsc1" pInputText required>
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <div class="box p-d-flex">
                                            <label for="cronsc1" class="p-mr-3">File Location &nbsp;:</label>
                                            <input class="p-inputtext" name="cronsc1" type="text" [(ngModel)]="filePathSc1" pInputText required>
                                        </div>
                                    </div>
                                    <div class="p-col-2">

                                    </div>
                                    <div class="p-col-5  p-p-3">
                                        <div class="box p-d-flex p-ai-center">
                                            <label for="temppass" class="p-mr-3">Secondary Data File :</label>
                                            <p-dropdown (onChange)="getAvailProp2()" [options]="source2Options"
                                                [(ngModel)]="source2" placeholder="Select source">
                                            </p-dropdown>
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <div class="box p-d-flex p-ai-center">
                                            <label for="temppass" class="p-mr-3">Populate Method &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
                                            <p-selectButton [options]="dataPopulatesSc2" [(ngModel)]="dataPopulateSc2" optionLabel="name"></p-selectButton>
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <div class="box p-d-flex">
                                            <label for="cronsc2" class="p-mr-3">Scheduler &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
                                            <input class="p-inputtext" name="cronsc2" type="text" [(ngModel)]="cronsc2" pInputText required>
                                        </div>
                                        <div style="height: 10px;"></div>
                                        <div class="box p-d-flex">
                                            <label for="cronsc1" class="p-mr-3">File Location &nbsp;&nbsp;:</label>
                                            <input class="p-inputtext" name="cronsc1" type="text" [(ngModel)]="filePathSc2" pInputText required>
                                        </div>
                                    </div> -->
                                </div>  
                                </div>
                                
                            </p-accordionTab>
                            <p-accordionTab header="Setup Matching  Field" [selected]="true">
                                <div class="p-col-12">

                                    <div class="p-grid  p-mx-1">
                                        <div class="p-col-5">
                                            <p-card>
                                                <div>
                                                    <p class="p-p-0">Available Primary Data Field</p>
                                                    <p-dropdown [options]="availProp1Options" [(ngModel)]="availProp1"
                                                        placeholder="Select Field" (onChange)="checkCanMatch()">
                                                    </p-dropdown>
                                                </div>

                                            </p-card>
                                        </div>
                                        <div class="p-col-2 p-pt-5">
                                            <div style="width: 50%;
                                            padding-top: 20px;
                                            text-align: center;
                                            margin: auto;">
                                                <p-button (click)="getMatchingField()" label="Match"
                                                    [disabled]="disableMatch" styleClass="p-button p-my-auto p-primary-btn">
                                                </p-button>
                                            </div>
                                        </div>
                                        <div class="p-col-5">
                                            <p-card>
                                                <div>
                                                    <p class="p-p-0">Available Secondary Data Field</p>
                                                    <p-dropdown [options]="availProp2Options" [(ngModel)]="availProp2"
                                                        placeholder="Select Field" (onChange)="checkCanMatch()">
                                                    </p-dropdown>
                                                </div>

                                            </p-card>
                                        </div>
                                        <div class="p-col-12">
                                            <p-card header="Matching Field" styleClass="chart-card">
                                                <div *ngIf="matchingField2.length > 0"
                                                    class="p-d-flex p-mr-2   p-mt-2 p-flex-wrap">
                                                    <p-chip *ngFor="let col of matchingField2; let i = index"
                                                        [removable]="true"
                                                        (onRemove)="removeMatch(matchingField1[i],matchingField2[i])"
                                                        styleClass="p-mr-2  p-mt-2 custom-chip">
                                                        {{matchingField1[i]}} - {{matchingField2[i]}}
                                                    </p-chip>
                                                </div>
                                                <div *ngIf="matchingField2.length < 1" class="p-text-center">
                                                    <h4>No Matching Field Selected</h4>
                                                </div>
                                            </p-card>
                                        </div>
                                    </div>


                                </div>
                            </p-accordionTab>
                            <p-accordionTab header="Setup Rekon execution" [selected]="true">
                                <div class="p-fluid">
                                    <div class="p-grid">
                                        <div  class="p-col-3">
                                            <label for="pmsc1" class="p-mr-3">Execution Type </label>
                                        </div>
                                        <div  class="p-col-9">
                                            <!-- <p-selectButton id="pmsc1" [options]="dataPopulatesSc1" [(ngModel)]="dataPopulateSc1" optionLabel="name"></p-selectButton> -->
                                            <p-checkbox name="groupname" label="Manual" [(ngModel)]="execManualTypeSc" binary="true" disabled="true"></p-checkbox>&nbsp;&nbsp;&nbsp;
                                            <p-checkbox name="groupname" value="true" label="Scheduler" [(ngModel)]="execScType" (onChange)="onChangeEtype()" binary="true"></p-checkbox>
                                        </div>
                                        <div *ngIf="execScType" class="p-col-3">
                                            <!-- (click)="cronDialog1Click()" -->
                                            <label for="execSc" class="p-mr-3">Scheduler &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        </div>
                                        <div *ngIf="execScType" class="p-col-9">
                                            <!-- <input class="p-inputtext" name="cronsc1" type="text" placeholder="Use cron syntax for schedule" [(ngModel)]="cronsc1" pInputText required> -->
                                            <div class="p-inputgroup">
                                                <input type="text" pInputText name="execSc" class="p-inputtext" [(ngModel)]="execSc" placeholder="Use cron syntax for schedule" required>   
                                                <button type="button" pButton pRipple icon="pi pi-ellipsis-h" (click)="cronDialog3Click()" styleClass="p-button-warn"></button>      
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </p-accordionTab>
                            <p-accordionTab header="Setup Report Field" [selected]="true">
                                <div class="p-grid">
                                    <div class="p-col-5  p-p-3">

                                        <div class="box p-mt-5">
                                            <label for="temppass" class="p-mr-3 p-col-12">Primary Data Report Fields
                                                :</label>
                                            <div *ngIf="availProp1Options.length > 0" class="p-fluid">

                                                <p-multiSelect [options]="availProp1Options" [(ngModel)]="reportField1"
                                                    defaultLabel="Select a Field" display="chip">
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-col-2">

                                    </div>
                                    <div class="p-col-5  p-p-3">

                                        <div class="box p-mt-5 ">
                                            <label for="temppass" class="p-mr-3 p-col-12">Secondary Data Report Fields
                                                :</label>
                                            <div *ngIf="availProp2Options.length > 0" class="p-fluid">
                                                <p-multiSelect [options]="availProp2Options" [(ngModel)]="reportField2"
                                                    defaultLabel="Select a Field" display="chip">
                                                </p-multiSelect>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-accordionTab>
                        </p-accordion>

                    </p-card>
                </div>

                <div class="p-ml-auto p-mt-5 p-px-3">
                    <p-button *ngIf="!submit" label="Submit" (click)="onSubmit()" styleClass="p-button p-primary-btn">
                    </p-button>
                    <div *ngIf="submit" class="p-text-center">
                        <p-progressSpinner [style]="{width: '50px', height: '50px',textAlign: 'center'}"
                            styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                            animationDuration=".5s"></p-progressSpinner>
                    </div>
                </div>
            </div>
        </div>

    </p-card>
</div>

<p-dialog header="Sucess" [(visible)]="sucessDialog" [style]="{width: '50vw'}">
    <p>{{dialogMessage}}</p>
    <ng-template pTemplate="footer">
        <p-button (click)="confirmSuccess()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Scheduler Source 1" [(visible)]="cronDialog1">
    <cron-editor [(cron)]="cronExpression1" [disabled]="isCronDisabled" [(options)]="cronOptions"></cron-editor>
    <hr />
    <p>Cron expression: <strong>{{cronExpression1}}</strong></p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="cronSave1()" label="Save" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<p-dialog header="Scheduler Source 2" [(visible)]="cronDialog2">
    <cron-editor [(cron)]="cronExpression2" [disabled]="isCronDisabled" [(options)]="cronOptions"></cron-editor>
    <hr />
    <p>Cron expression: <strong>{{cronExpression2}}</strong></p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="cronSave2()" label="Save" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<p-dialog header="Scheduler Rekon Type" [(visible)]="cronDialog3">
    <cron-editor [(cron)]="cronExpression3" [disabled]="isCronDisabled" [(options)]="cronOptions"></cron-editor>
    <hr />
    <p>Cron expression: <strong>{{cronExpression3}}</strong></p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="cronSave3()" label="Save" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>