::ng-deep #helper-button {
    padding: 0.4rem 1rem !important;
  }
  
  
  
  ::ng-deep #helper-button .p-button-label {
    font-family: Poppins-Medium;
   // font-size: .85rem;
    font-weight: normal;
  }

  ::ng-deep #helper-search{
  //  padding: 0.8rem !important;
    border-radius: 12px !important;
  }




  ::ng-deep .toogle-filter-container {
    padding: 0rem !important;
    transition:  all ease-in 1s;
  }

::ng-deep .toogle-filter{
  max-height: 0;
 
  box-sizing: border-box;
  overflow: hidden;
  transition:  all ease-in 1s;
}


::ng-deep  #select-helper .p-multiselect-label {
  padding: 0.4rem 0.75rem !important;
}

::ng-deep  .active-data {
  color:#FFF;
  background-color: #6ECB63;
  padding: .4rem;
}

::ng-deep  .not-active-data {
  color:#FFF;
  background-color: #FF6464;
  padding: .4rem;

}

::ng-deep  .waiting-approval-data {
  color:#FFF;
  background-color: #FFAB76;
  padding: .4rem;
 
}