<p-table [value]="records" [scrollable]="true" scrollHeight="400px" [columns]="selectedColumns" [paginator]="true"
    [rows]="20" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} data" scrollDirection="both">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
            <!-- <p-button label="Add data" icon="pi pi-plus" styleClass="p-button-sm p-button-rounded"></p-button> -->
            <div>
                <!-- class="p-primary-btn" -->
                <button *ngIf="actionbtn[0] == 1" pButton pRipple type="button" icon="pi pi-plus"
                    [routerLink]="addbtnlink.route" label="{{addbtnlink.label}}" class="p-btn btn-helper p-primary-btn"
                    id="helper-button" pTooltip="Add record"></button>
                <button *ngIf="actionbtn[6] == 1" (click)="popUpModal('')" pButton pRipple type="button"
                    icon="pi pi-plus" label="Add Data" class="p-btn p-primary-btn" id="helper-button" pTooltip="Add record"></button>

                <button *ngIf="exportCSVButton" (click)="exportCSVEmit()" pButton pRipple type="button"
                    icon="pi pi-file-excel" label="Export CSV" class="p-btn p-button-success" id="helper-button"
                    pTooltip="Export To CSV"></button>
            </div>
            <div class="p-d-flex ">
                <p-multiSelect id="select-helper" [options]="cols" [(ngModel)]="selectedColumns"
                    selectedItemsLabel="{0} Columns Selected" optionLabel="header" placeholder="Choose Columns">
                </p-multiSelect>

                <button pButton pRipple type="button" (click)="showFilter = !showFilter" icon="pi pi-search"
                    label="Show Filter" class="p-btn p-mx-2 btn-helper p-primary-btn" id="helper-button"></button>
                <button pButton pRipple type="button" *ngIf="reloadButton" (click)="reloadEmit()" icon="pi pi-refresh"
                    label="Reload" class="p-btn  btn-helper p-primary-btn" id="helper-button"></button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns; index as j;">
                <ng-container *ngIf="col.isOrder==false">
                    <th class="p-text-center" style="vertical-align: middle;" [style]="colwidth[j]">
                        {{col}}
                    </th>
                </ng-container>
                <ng-container *ngIf="col.isOrder==true">
                    <th class="p-text-center" style="vertical-align: middle;"
                        pSortableColumn="{{col.field}}" [style]="colwidth[j]">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
            </ng-container>
            <th *ngIf="haveActionBtn" style="vertical-align : middle;text-align:center;">Action</th>
        </tr>
        <tr>
            <th *ngFor="let col of columns; index as j;" [ngClass]="showFilter ? '' : 'toogle-filter-container'"
                style="vertical-align: middle; text-align:center;">
                <ng-template [ngIf]="!col.transform">
                    <div [ngClass]="showFilter ? '' : 'toogle-filter'">
                        <p-columnFilter type="text" field="{{col.field}}" [showMenu]="false"
                            (input)="dt.filter($event.target.value, col.field, 'contains')"></p-columnFilter>
                    </div>
                </ng-template>
                <ng-template [ngIf]="col.transform">
                    <p-columnFilter field="status" [showMenu]="false">
                        <ng-template pTemplate="filter">
                            <p-dropdown appendTo="body" id="status" [options]="status" optionValue="value"
                                (onChange)="dt.filter($event.value, col.field, 'contains')" placeholder="Any"
                                [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'status-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </ng-template>
            </th>
        </tr>
    </ng-template>
    <ng-template *ngIf="actionbtn[1] == 1" pTemplate="body" let-record let-columns="columns">
        <tr>

            <td style="" *ngFor="let col of columns; index as j;"
                class="vertAlignCenter p-px-5 p-py-2 table-helper-data" [style]="colwidth[j]">
                <ng-template [ngIf]="j==collink">
                    <a href="#">{{collinkaction.label}}</a>
                </ng-template>
                <ng-template [ngIf]="col.field==colmark">
                    <span class="status-table" [ngClass]="[record[col.field] === 1 ? 'active-data' :
                        record[col.field] === 0 ? 'not-active-data' :
                        record[col.field] === 3 ? 'waiting-approval-data' :
                        record[col.field] === 4 ? 'waiting-approval-data' :
                        record[col.field] === 9 ? 'waiting-approval-data' :
                        'waiting-approval-data']">

                        {{ record[col.field] === 1 ? "Activated" :
                        record[col.field] === 0 ? "Not Active" :
                        record[col.field] === 3 ? "Waiting for Add Data Approval" :
                        record[col.field] === 4 ? "Waiting for Update Approval" :
                        record[col.field] === 9 ?"Wating for Delete Approval" :
                        "Unkwon Status"
                        }}
                    </span>

                    <!-- <i class="pi pi-check-circle" *ngIf="record[col.field] === 1" pTooltip="Activated"
                        style="color: green;"></i>
                    <i class="pi pi-times-circle" *ngIf="record[col.field] === 0" pTooltip="Deactivated"
                        style="color: red;"></i>
                    <i class="pi pi-clock" *ngIf="record[col.field] === 3" style="color: orange;"
                        pTooltip="Add Data Approval"></i>
                    <i class="pi pi-clock" *ngIf=" [5,7].indexOf(record[col.field]) > -1" style="color: orange;"
                        pTooltip="Update Data Approval"></i>
                    <i class="pi pi-clock" *ngIf="record[col.field] === 9" style="color: orange;"
                        pTooltip="Delete Data Approval"></i> -->
                </ng-template>
                <ng-template [ngIf]="j!=collink&&col.field!=colmark">

                    {{record[col.field]}}
                </ng-template>
            </td>
            <td *ngIf="haveActionBtn" style="" class="p-text-center"  [style]="colwidth[j]">




                <button *ngIf="actionbtn[4] == 1 && [3,5,7,9].indexOf(record['active']) == -1"
                    (click)="previewConfirmation(record)" pButton pRipple type="button" icon="pi pi-search"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="View detail"></button>
                <button *ngIf="actionbtn[6] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-pencil" (click)="PopUpEdit(record)"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit record"></button>
                <button *ngIf="actionbtn[2] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-pencil" [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit record"></button>
                <button *ngIf="actionbtn[3] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-times" (click)="deleteConfirmation(record)" style="color: red;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader"
                    pTooltip="Delete record"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 3" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Add data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 4" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Add data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 5" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 7" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 9" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Delete data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[7] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-eye" pTooltip="See Detail" styleClass="p-button-link"
                    (click)="popUpModal(record)" class="p-button-rounded p-button-text cstnoheader"></button>
                <button *ngIf="actionbtn[8] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-play" pTooltip="Execute Reconsile"
                    (click)="changePageEmit1(record)" class="p-primary-btn"></button>
                <button *ngIf="actionbtn[9] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-send" styleClass="p-button-link" (click)="changePageEmit2(record)"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Trigger Entity"></button>
                <button *ngIf="actionbtn[10] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-download" styleClass="p-button-link" (click)="downloadEmit(record)"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Download Report"></button>


            </td>
        </tr>
    </ng-template>

</p-table>