html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* html, body {
    height: 100%;
} */
body {
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
 
  font-size: 13px;
  color: #333;
  background: #F4FBFF;
}

h3,h4,p,span,label{
  font-family: 'Poppins-Regular';
}
 
.full-height {
  background: rgb(231, 233, 243) !important;
  /* border-right: solid 0.0.7rem rgb(213, 209, 209); */
}

label{
  font-family: 'Poppins-Regular';
  padding : 0 !important;
}


p {
  padding: 10px;
}

#wrapper {
  /* width: 100%;
  min-width: 1000px;
  max-width: 2000px;
  margin: 0 auto; */
 
  /* min-width: 1000px; */
  /* max-width: 2000px; */
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* #contentliquid {
   float: left;
  width: 100%;
}  */



#contentfull {
  background: #FFFFFF;
}


#contentnomenu {
  background: #dee2e6;
}


#leftcolumn {
  /* float: left;
  background: #ffffff !important;
  margin-left: -100%;
  border-right: solid 0.0.7rem #f1ecec;
  height: 100vw;
  width: 250px;
  -webkit-transition:width .05s linear;
  transition:width .05s linear; */
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  /* width: 250px; */
  width: 185px;
  background: #ffffff !important;
  transition:all 0.5s ease;
  overflow-y: auto;
}

.logo-sidebar{
  height: 50px;
  align-items: center; 
  max-width: 120px;
  opacity: 1;
}

.sidebar-collapse .logo-sidebar {
  opacity: 1;
}


.sidebar-collapse #sidebar-toggler {
  left: 90%;
}
#sidebar-toggler{   
  position: absolute;
  left: 50%;
  top: 20px;
  font-size: 20px!important;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar-collapse{
  width: 210px!important;
  /* width: 185px !important; */
}



.right-column{
  position: absolute;
  height: 100%;
  width: calc(100% - 185px);
  left: 185px;
  /* width: calc(100% - 250px);
  left: 250px; */

  overflow-y: auto;
  transition: all 0.5s ease;
}

.right-column-collapse{
  /* width: calc(100% - 185px);
  left: 185px; */
  width: calc(100% - 210px);
  left: 210px;
}

#contentliquid > #content {
  /* margin-left: 250px; */
  transition: 0.5s linear;
}

/*Hide icon  */
.p-panelmenu-panel .p-menuitem-icon {
  display: none;
}




.p-component {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem !important;
}

.p-inputtext {
  font-size: 0.8rem !important;
  padding: 0.25rem 0.5rem !important;
}

.autosrc .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token {
    padding: 0.05rem 0!important;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
  padding: 0.05rem 0.5rem !important;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token input {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-size: 0.8rem !important;

}

.p-field {
  margin-bottom: 0..7rem !important;
}

.p-field>label {
  margin-bottom: 0.2rem !important;
}

.p-button {
   padding: .4rem .75rem !important; 
  font-size: 0.8rem !important;
  border-radius: 5px !important; 
}

.save-btn.p-button {
  padding: 0.3rem 0.8rem !important;
  border-radius: 7px;
  display: inline-block;
  vertical-align: middle;
  background: #33d285;
  border: 1px solid #33d285;
  min-width: 100px;
}

 .save-btn.p-button:enabled:hover {
  background: #2ebd78;
  border: 1px solid #2ebd78;
}


.p-primary-btn {
  background-color: #0a9827 !important;
  border: #0a9827 0..7rem solid !important;
  padding: 0.3rem 0.8rem !important;
  /* border-radius: 3px!important; */
}

.p-inputgroup .p-button {
  background-color: #0a9827 !important;
  border: #0a9827 0..7rem solid !important;
  padding: 0.3rem 0.8rem !important;
  /* border-radius: 3px!important; */
}



.p-info-btn {
  background-color: #0a9827 !important;
  border: #0a9827 0..7rem solid !important;
  /* border-radius: 3px!important; */
}

.pi {
  font-size: .9rem !important;
}

.picstm {
  font-size: 1.2rem !important;
}

.p-toolbar {

  background: #ffffff !important;
  padding: 0.0.7rem !important;
  border-radius: 1px !important;
  border: none !important;
  /* border-bottom: solid 0.05rem #dee2e6!important; */
}

.p-toolbar-bb {

  /* background: #ffffff!important;
    padding: 0.0.7rem!important;
    border-radius: 1px!important;
    border: none!important; */
  border-bottom: solid 0.05rem #dee2e6 !important;
}

.p-menubar {
  background: #ffffff !important;
  padding: 0.233333rem !important;
  border: none !important;
}

.p-panelmenu-icon {
  order: 1;
}

.p-menuitem-text {
  font-size: 0.75rem !important;
  flex-grow: 1; 
  font-weight: 400;
}
.p-menuitem-link-active>span.p-menuitem-icon, 
.p-menuitem-link-active>span.p-menuitem-text{

  /* color: #2d89f1 !important; */
  color: #0a9827 !important;
}

.p-picklist .p-picklist-header {
  padding: 0.5rem !important;

}

.p-picklist .p-picklist-list .p-picklist-item {
  padding: 0.00.7rem .7rem !important;
}

.p-orderlist .p-orderlist-list .p-orderlist-item {
  padding: 0.05rem .7rem !important;

}

.p-checkbox .p-checkbox-box {
  border: 1px solid #ced4da !important;
  width: 17px !important;
  height: 17px !important;

}

.p-menu .p-menuitem-text {
  font-size: 0.8rem !important;
}

.p-panelmenu .p-panelmenu-header>a {
  padding: 0.7rem .7rem 0.2rem .7rem !important;
  background: #ffffff !important;
}

.p-panel .p-panel-header{
    background: #7cc48a  !important;
    color: #FFFF !important;
    border-radius: 10px 10px 0 0px!important;
}
.p-panel .p-panel-header .p-panel-title{
 
  font-weight: 700;
}

.p-panelmenu .p-panelmenu-header.p-highlight>a {

  background: #ffffff !important;
  border-color: #ffffff !important;
  color: #202020 !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.p-panelmenu .p-panelmenu-header>a {
  border: 0px solid #dee2e6 !important;
}

.p-panelmenu .p-panelmenu-content {
  padding: 0.25rem 5px !important;
  border: 0px solid #dee2e6 !important;
}

.p-panel-icons .p-dropdown.p-component {
  padding: 2px 4px;
}

/* .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
   
    color: #495057;
} */
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  padding: 0.45rem .7rem !important;
}


.p-panel .p-panel-content {
  
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
 
}
.p-datatable .p-datatable-tbody > tr > td {
    padding: .5rem .5rem!important;
    word-break: break-all;
}

.p-datatable .p-datatable-header {
    padding: 0.5rem .7rem!important;
}

.vertAlignTop {
  vertical-align: top !important;
}

.vertAlignCenter {
  vertical-align: middle;
}

.p-button.p-button-icon-only.p-button-rounded.cstnoheader {
  height: 1.357rem !important;
}

.p-rowcust-1 {
  padding: 0..7rem !important;
}

.p-ml-2 {
  margin-left: 2px;
}

.p-ml-5 {
  margin-left: 5px;
}

.p-ml-10 {
  margin-left: 10px;
}

.p-pt-10 {
  padding-top: 10px;
}

.p-pt-15 {
  padding-top: 13px;
}

.p-pb-10 {
  padding-bottom: 10px;
}

.p-pb-15 {
  padding-bottom: 14px;
}

.p-pa-10 {
  padding: 10px;
}

.forcecenter {
  display: flex;
  justify-content: center;

}

.p-breadcrumb {
  background: transparent !important;
  padding: 2rem 1.5rem !important;
  border: 0 !important
}

 .p-breadcrumb ul li .p-menuitem-link .p-menuitem-text,
 .p-breadcrumb ul li:last-child .p-menuitem-text {
  font-family: Poppins-Regular !important;
  font-size: .75rem !important;
}

 .p-breadcrumb ul li.p-breadcrumb-chevron {
  font-size: 0.65rem !important;
}


.p-card{
  border-radius: 10px !important;
}

.p-card .p-card-title {
  font-size: .7rem !important;
  font-weight: 500 !important;
  margin-bottom: 0.5rem !important;
}

.chart-card>.p-card-body>.p-card-title {
 font-size: 1rem !important;
 font-size: 1rem !important;
 font-family: 'Poppins-SemiBold';
 margin: 0px !important;
}

.p-card .p-card-content {
  padding: 0.7rem 0 !important;
}

.p-card .p-card-body .content-container{
  padding: 0.3rem !important;

}

.p-cst-primary {
  background: #e8f0fa !important;
}

.p-datepicker {
  padding: 0..7rem !important;
  border-radius: 5px !important;
}

.p-datepicker table td>span {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.p-datepicker table td {
  padding: 0..7rem !important;
}

.cst-p-1 {
  padding: 1px !important;
}

.p-header-w50 img {
  width: 50% !important;
}

.wrapper {
  padding: 1px 20px 1px 20px;
}

.btntitle {
  font-size: 12px;
  font-weight: 600;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

.wrapperinside {
  width: 97%;
  margin: auto;
  background-color: #fff;
  position: relative;
}

@keyframes custom-progress-spinner-color {

  100%,
  0% {
    stroke: #16697A;
  }

  40% {
    stroke: #489FB5;
  }

  66% {
    stroke: #82C0CC;
  }

  80%,
  90% {
    stroke: #FFA62B;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.ui-blockui {
    position : fixed!important;
 }

 .container-gauge-button{
     text-align: right;
 }
 .gauge-container{
     text-align: center;
 }

 ngx-gauge .reading-block {
    font-size: 20px !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }


  /* CUSTOM DATATABLE */
 .p-datatable .p-datatable-thead>tr>th {
  font-family: Poppins-Medium;
  font-size: 0.75rem;
  font-weight: normal !important;
  padding: 0.75rem 1rem ;
}

 .p-datatable .p-datatable-thead>tr>th .p-inputtext {
  font-family: Poppins-Regular;
}

 .p-datatable .p-datatable-tbody>tr>td {
  padding: .45rem 1rem !important;
  font-family: Poppins-Regular;
  font-size: 0.75rem!important;
}
label {
  font-size: 0.75rem!important;
}

 .p-datatable .p-datatable-tfoot>tr>td {
  font-family: Poppins-Semibold;
  font-size: 0.8rem;
  font-weight: normal;
}

 .p-paginator .p-paginator-current,
 .p-paginator-pages .p-link {
  font-family: Poppins-Regular;
}

 .p-paginator .p-dropdown .p-dropdown-label {
  font-family: Poppins-Regular;
  padding: 0.5rem 0.5rem !important;
}

 .p-multiselect-label {
  font-family: Poppins-Regular;
  padding: 0.75rem 0 0.75rem 0.75rem !important;
}

 .p-multiselect-item span {
  font-family: Poppins-Regular;
}

.p-multiselect-item .p-checkbox-icon {
  font-family: 'primeicons';
}

 .total-trans {
  font-family: Poppins-Medium;
  font-size: 0.85rem;
}

.status-table{
  font-family: Poppins-Semibold;
  border-radius: 6px;
  
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.table-helper-data{
  vertical-align : middle;
  text-align:center; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-helper-data:hover {
  /* display: none; */
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
}
/* CUSTOM DATATABLE */


/* Custom Input */
.p-inputtext{
  font-family: 'Poppins-Regular' !important;
  font-size: 0.8rem !important;
  padding: 0.5rem 0.75rem !important;
  border-radius: 10px !important;
}




.p-dropdown {
  display: flex !important;
  font-family: 'Poppins-Regular' !important;
  font-size: 0.8rem !important;
  padding: 0.05rem 0.2rem !important;
  border-radius: 10px !important;
}
/* Custom Input */


.p-dialog .p-dialog-footer{
  border-top: none !important;
}

 .chart-card-task > .p-card-body  {
  padding: 0.5rem 1rem !important;
}

 .chart-card-task > .p-card-body .p-card-content {
  padding: 0.5rem 0rem !important;
}

.p-multiselect{
  border-radius: 6px !important;
}


/* Custom Accordion */

.p-accordion-header-link{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: transparent !important;

}

/*********************************************************/

/********************************************************/
.login-class .p-button {
  background: #0e6f32!important;
  border: 1px solid #0e672e!important;
  padding: 0.45rem 0.7rem !important;
  /* border-radius: 10px */
}


.p-button.p-button-text:enabled:hover {
  background: rgba(33, 150, 243, 0.04)!important;
  color: #2196F3!important;
  border-color: transparent!important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  /* border-color: #2196F3; */
  background: #6cc17d!important;
}