body {
    margin: 0!important;
}
.p-component {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8rem!important;
}
.p-button {
    padding: 0.333333rem .7rem!important;
    font-size: 0.8rem!important;
    /* border-radius: 3px!important; */
}
.pi {
    font-size: 0.8rem!important;
}
.p-toolbar {
    padding: 0.0.7rem!important;
    border-radius: 1px!important;
}
.p-menubar {
    padding: 0.333333rem!important;
    border: none!important;
}
.p-menu .p-menuitem-text {
    font-size: 0.8rem!important;
}
.p-ml-2 {
    margin-left: 2px;
}
.p-ml-5 {
    margin-left: 5px;
}
.p-ml-10 {
    margin-left: 10px;
}