html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* html, body {
    height: 100%;
} */
body {
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
 
  font-size: 13px;
  color: #333;
  background: #F4FBFF;
}

h3,h4,p,span,label{
  font-family: 'Poppins-Regular';
}


.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main {
  display: flex;
  flex-grow: 1;
}
.content {
  flex-grow: 1;
  padding: 10px;
}

.head {
  /* flex-grow: 1; */
  /* padding: 50px; */
  height: 50px!important;
}

/* --------- Non-flexbox related styles --------- */
.child {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* margin: 1%; */
  padding: 20px;
  font-size: 20px;
  /* line-height: 20px; */
  color: #ffe8c3;
  background-color: #eab768;
  /* border-radius: 10px;
  border-radius: 10px; */
}

.navsmall {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* margin: 1%; */
  padding: 10px;
  font-size: 16px;
  /* line-height: 20px; */
  color: #ffffff;
  background-color: #44413e;
  /* border-radius: 10px;
  border-radius: 10px; */
}

.p-toolbar-bb {
  height: 50px!important;
  /* background: #ffffff!important;
    padding: 0.0.7rem!important;
    border-radius: 1px!important;
    border: none!important; */
  border-bottom: solid 0.05rem #dee2e6 !important;
}


/*************************************** PRIMENG **********************************/  
.pi {
  font-size: .9rem !important;
}

.picstm {
  font-size: 1.2rem !important;
}

.p-toolbar {
    background: #f8f9fa;
    border: 1px solid #dee2e6!important;
    padding: 0!important;
    border-radius: 0!important;
}

.p-menubar {
  padding: 0!important;
  background: transparent;
  color: #495057;
  border: none!important;
  border-radius: 3px;
}

/*Hide icon  */
.p-panelmenu-panel .p-menuitem-icon {
  display: none;
}

.p-component {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem !important;
}

.p-inputtext {
  font-size: 0.8rem !important;
  padding: 0.25rem 0.5rem !important;
}

.autosrc .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token {
    padding: 0.05rem 0!important;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
  padding: 0.05rem 0.5rem !important;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token input {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-size: 0.8rem !important;

}

.p-field {
  margin-bottom: 0..7rem !important;
}

.p-field>label {
  margin-bottom: 0.2rem !important;
}

.p-button {
   padding: .4rem .75rem !important; 
  font-size: 0.8rem !important;
  border-radius: 5px !important; 
}

.save-btn.p-button {
  padding: 0.3rem 0.8rem !important;
  border-radius: 7px;
  display: inline-block;
  vertical-align: middle;
  background: #33d285;
  border: 1px solid #33d285;
  min-width: 100px;
}

 .save-btn.p-button:enabled:hover {
  background: #2ebd78;
  border: 1px solid #2ebd78;
}


.p-primary-btn {
  background-color: #0a9827 !important;
  border: #0a9827 0..7rem solid !important;
  padding: 0.3rem 0.8rem !important;
  /* border-radius: 3px!important; */
}

.p-inputgroup .p-button {
  background-color: #0a9827 !important;
  border: #0a9827 0..7rem solid !important;
  padding: 0.3rem 0.8rem !important;
  /* border-radius: 3px!important; */
}



.p-info-btn {
  background-color: #0a9827 !important;
  border: #0a9827 0..7rem solid !important;
  /* border-radius: 3px!important; */
}

.p-panelmenu-icon {
  order: 1;
}

.p-menuitem-text {
  font-size: 0.75rem !important;
  flex-grow: 1; 
  font-weight: 400;
}
.p-menuitem-link-active>span.p-menuitem-icon, 
.p-menuitem-link-active>span.p-menuitem-text{

  /* color: #2d89f1 !important; */
  color: #0a9827 !important;
}

.p-picklist .p-picklist-header {
  padding: 0.5rem !important;

}

.p-picklist .p-picklist-list .p-picklist-item {
  padding: 0.00.7rem .7rem !important;
}

.p-orderlist .p-orderlist-list .p-orderlist-item {
  padding: 0.05rem .7rem !important;

}

.p-checkbox .p-checkbox-box {
  border: 1px solid #ced4da !important;
  width: 17px !important;
  height: 17px !important;

}

.p-menu .p-menuitem-text {
  font-size: 0.8rem !important;
}

.p-panelmenu .p-panelmenu-header>a {
  padding: 0.7rem .7rem 0.2rem .7rem !important;
  background: #ffffff !important;
}

.p-panel .p-panel-header{
    background: #7cc48a  !important;
    color: #FFFF !important;
    border-radius: 10px 10px 0 0px!important;
}
.p-panel .p-panel-header .p-panel-title{
 
  font-weight: 700;
}

.p-panelmenu .p-panelmenu-header.p-highlight>a {

  background: #ffffff !important;
  border-color: #ffffff !important;
  color: #202020 !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.p-panelmenu .p-panelmenu-header>a {
  border: 0px solid #dee2e6 !important;
}

.p-panelmenu .p-panelmenu-content {
  padding: 0.25rem 5px !important;
  border: 0px solid #dee2e6 !important;
}

.p-panel-icons .p-dropdown.p-component {
  padding: 2px 4px;
}

/* .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
   
    color: #495057;
} */
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  padding: 0.45rem .7rem !important;
}


.p-panel .p-panel-content {
  
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
 
}
.p-datatable .p-datatable-tbody > tr > td {
    padding: .5rem .5rem!important;
    word-break: break-all;
}

.p-datatable .p-datatable-header {
    padding: 0.5rem .7rem!important;
}

.vertAlignTop {
  vertical-align: top !important;
}

.vertAlignCenter {
  vertical-align: middle;
}

.p-button.p-button-icon-only.p-button-rounded.cstnoheader {
  height: 1.357rem !important;
}

.p-rowcust-1 {
  padding: 0..7rem !important;
}

.p-ml-2 {
  margin-left: 2px;
}

.p-ml-5 {
  margin-left: 5px;
}

.p-ml-10 {
  margin-left: 10px;
}

.p-pt-10 {
  padding-top: 10px;
}

.p-pt-15 {
  padding-top: 13px;
}

.p-pb-10 {
  padding-bottom: 10px;
}

.p-pb-15 {
  padding-bottom: 14px;
}

.p-pa-10 {
  padding: 10px;
}

.forcecenter {
  display: flex;
  justify-content: center;

}

.p-breadcrumb {
  background: transparent !important;
  padding: 2rem 1.5rem !important;
  border: 0 !important
}

 .p-breadcrumb ul li .p-menuitem-link .p-menuitem-text,
 .p-breadcrumb ul li:last-child .p-menuitem-text {
  font-family: Poppins-Regular !important;
  font-size: .75rem !important;
}

 .p-breadcrumb ul li.p-breadcrumb-chevron {
  font-size: 0.65rem !important;
}


.p-card{
  border-radius: 10px !important;
}

.p-card .p-card-title {
  font-size: .7rem !important;
  font-weight: 500 !important;
  margin-bottom: 0.5rem !important;
}

.chart-card>.p-card-body>.p-card-title {
 font-size: 1rem !important;
 font-size: 1rem !important;
 font-family: 'Poppins-SemiBold';
 margin: 0px !important;
}

.p-card .p-card-content {
  padding: 0.7rem 0 !important;
}

.p-card .p-card-body .content-container{
  padding: 0.3rem !important;

}

.p-cst-primary {
  background: #e8f0fa !important;
}

.p-datepicker {
  padding: 0..7rem !important;
  border-radius: 5px !important;
}

.p-datepicker table td>span {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.p-datepicker table td {
  padding: 0..7rem !important;
}

.cst-p-1 {
  padding: 1px !important;
}

.p-header-w50 img {
  width: 50% !important;
}