<!-- <p-breadcrumb [home]="home"></p-breadcrumb> -->

<div class="wrapper p-py-3">
    <div class="p-grid">
        <div *ngIf=" widgets" class="p-col-12 p-mb-10 p-text-right">
            <i class="pi  pi-bars" style="font-size: 1rem!important"
                (click)="selectWidgetModal = !selectWidgetModal"></i>

            <!-- <button pButton pRipple [label]="!widgets ? 'Add Widgets':'Edit Widgets'"
                (click)="selectWidgetModal = !selectWidgetModal" icon="pi pi-plus  "
                class=" select-widget-button p-button"></button> -->
        </div>

        <div *ngIf=" !widgets" class="p-col-12 p-mb-10">
            <p-card>
                <div class="p-text-center">
                    <div class="p-grid">
                        <div class="p-col-6" style="margin-top: auto;
                        margin-bottom: auto;">
                            <h1 style="display: flex;justify-content: center;padding: 0;margin: 0;">
                                Welcome to&nbsp;
                                <p class="title" style="color: #0dc319;padding-top: 10px;">Reconsiliations</p>&nbsp;
                                <p class="title" style="color: #3f4042;padding-top: 10px;">System</p>
                            </h1>
                            <h3>Incoming feature will be delivered soon!</h3>
                            <!-- <button pButton pRipple [label]="!widgets ? 'Manage Widgets':'Edit Widgets'"
                                (click)="selectWidgetModal = !selectWidgetModal"
                                class=" select-widget-button p-button"></button> -->
                        </div>
                        <div class="p-col-6" style="margin-top: auto;
                        margin-bottom: auto;">
                            <img class="img-fluid" src="assets/images/home-dashboard.svg" style="width:220px;">
                        </div>
                    </div>

                </div>
            </p-card>

        </div>
        <div id="non-trx-chart" *ngIf="nonTrxWidget" [ngClass]="[!trxWidget ? 'p-col-12 p-mb-10' : 'p-col-4 p-mb-10']">
            <div class="p-grid">
                <div *ngIf="widgets?.TMP" [ngClass]="[!trxWidget ? 'p-col-6' : 'p-col']  ">
                    <p-card header="Task Manager Portal" styleClass="chart-card ">
                        <p-card styleClass="chart-card-task ">
                            <h4 class="chart-card p-m-1">Memory Free :
                                {{100-monitoringUsedPortal[0].percentMemoryPortal}} %
                            </h4>
                            <p-progressBar class="capacity" [showValue]="false"
                                [value]=' 100-monitoringUsedPortal[0].percentMemoryPortal'></p-progressBar>
                        </p-card>
                        <p-card styleClass="chart-card-task p-my-5">
                            <h4 class="chart-card p-m-1">CPU Free : {{100-
                                monitoringUsedPortal[0].percentProcessorPortal}}
                                %
                            </h4>
                            <p-progressBar class="capacity" [showValue]="false"
                                [value]='100-monitoringUsedPortal[0].percentProcessorPortal'></p-progressBar>
                        </p-card>
                        <p-card styleClass="chart-card-task">
                            <h4 class="chart-card p-m-1">Log Capacity Free :
                                {{100-monitoringUsedPortal[0].percentDiskPortal}}%
                            </h4>
                            <p-progressBar class="capacity" [showValue]="false"
                                [value]='100-monitoringUsedPortal[0].percentDiskPortal'></p-progressBar>
                        </p-card>

                    </p-card>
                </div>
                <div *ngIf="widgets?.sourSys" [ngClass]="[!trxWidget ? 'p-col-6' : 'p-col'] ">
                    <p-card header="Surrounding System" styleClass="chart-card">
                        <div class="box">
                            <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true
                                [actionbtn]="usractionbtn" [colnames]="usrcolname" [colwidth]="usrcolwidth"
                                [colclasshalign]="usrcolhalign" [addbtnlink]="usraddbtn" [colmark]=2></app-tablehelper>
                        </div>
                    </p-card>
                </div>
                <div *ngIf="widgets?.prefMgm" [ngClass]="[!trxWidget ? 'p-col-6' : 'p-col'] ">
                    <p-card header="Prefund Management" styleClass="chart-card">
                        <!--                <ng-template pTemplate="icons">-->
                        <!--                    <div class="container-gauge-button " [routerLink]="['/mgm/settings/prefunddashboard/detail']">-->
                        <!--                        <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Configure"-->
                        <!--                            class="p-primary-btn"></button>-->
                        <!--                    </div>-->
                        <!--                </ng-template>-->
                        <div class="box">
                            <div class="box p-mt-2" style="text-align: center;">
                                <div class="p-grid">
                                    <div class="p-col" style="text-align: left;">
                                        <p>Red Level : {{redLevel | number}}</p>
                                        <p>Upper Limit : {{upperLimit | number}}</p>
                                        <p>Saldo Available : {{gaugeValue | number}}</p>
                                    </div>
                                    <div class="p-col">
                                        <ngx-gauge style=" font-size:20px;" [size]=260 [type]="gaugeType"
                                            [value]="gaugeValue" [max]="upperLimit" [thresholds]="thresholdConfig">
                                        </ngx-gauge>
                                        <div *ngIf="stats" class="p-col" id="gaugeStatus"
                                            style="text-align: center; font-size: medium">
                                            <p>Status : {{gaugeStatus | uppercase}}</p>
                                        </div>
                                    </div>

                                </div>
                                <!-- <div class="container-gauge-button p-pl-4 p-pr-4 p-pb-4" [routerLink]="['detail']">
                        <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Configure"
                            class="p-primary-btn"></button>
                    </div> -->
                            </div>
                        </div>
                    </p-card>
                </div>
                <div *ngIf="widgets?.TMC" [ngClass]="[!trxWidget ? 'p-col-6' : 'p-col'] ">
                    <p-card header="Task Manager Core" styleClass="chart-card">
                        <div class="box">
                            <!-- <app-tablehelper [records]="userlist" [header]="usrheader" [actionbtn]="usractionbtn"
                            [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign"
                            [addbtnlink]="usraddbtn"></app-tablehelper> -->
                            <p-table [value]="monitoringUsed" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="p-text-center">Memory</th>
                                        <th class="p-text-center">CPU</th>
                                        <th class="p-text-center">Log Capacity</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-monitoringused>
                                    <tr>
                                        <td class="p-text-center" style="background-color: red; color:white;"
                                            *ngIf="isColorMemory == 0">
                                            {{monitoringused.percentMemory}}%</td>
                                        <td class="p-text-center" style="background-color: yellow; color:black;"
                                            *ngIf="isColorMemory == 1">
                                            {{monitoringused.percentMemory}}%
                                        </td>
                                        <td class="p-text-center" style="background-color: green; color:white;"
                                            *ngIf="isColorMemory == 2">
                                            {{monitoringused.percentMemory}}%
                                        </td>
                                        <!--  -->
                                        <td class="p-text-center" style="background-color: red; color:white;"
                                            *ngIf="isColorProcessor == 0">
                                            {{monitoringused.percentProcessor}}%</td>
                                        <td class="p-text-center" style="background-color: yellow; color:black;"
                                            *ngIf="isColorProcessor == 1">
                                            {{monitoringused.percentProcessor}}%
                                        </td>
                                        <td class="p-text-center" style="background-color: green; color:white;"
                                            *ngIf="isColorProcessor == 2">
                                            {{monitoringused.percentProcessor}}%
                                        </td>
                                        <!--  -->
                                        <td class="p-text-center" style="background-color: red; color:white;"
                                            *ngIf="isColorDisk == 0">
                                            {{monitoringused.percentDisk}}%</td>
                                        <td class="p-text-center" style="background-color: yellow; color:black;"
                                            *ngIf="isColorDisk == 1">
                                            {{monitoringused.percentDisk}}%
                                        </td>
                                        <td class="p-text-center" style="background-color: green; color:white;"
                                            *ngIf="isColorDisk == 2">
                                            {{monitoringused.percentDisk}}%
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                    </p-card>
                </div>
            </div>
            <!-- <div *ngIf="widgets?.TMP" class="p-col ">
                <p-panel header="Task Manager Portal">
                    <div class="box">
                        <p-table [value]="monitoringUsedPortal" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="p-text-center">Memory</th>
                                    <th class="p-text-center">CPU</th>
                                    <th class="p-text-center">Log Capacity</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-monitoringusedportal>
                                <tr>
                                    <td class="p-text-center" style="background-color: red; color:white;"
                                        *ngIf="isColorMemoryPortal == 0">
                                        {{monitoringusedportal.percentMemoryPortal}}%</td>
                                    <td class="p-text-center" style="background-color: yellow; color:black;"
                                        *ngIf="isColorMemoryPortal == 1">
                                        {{monitoringusedportal.percentMemoryPortal}}%
                                    </td>
                                    <td class="p-text-center" style="background-color: green; color:white;"
                                        *ngIf="isColorMemoryPortal == 2">
                                        {{monitoringusedportal.percentMemoryPortal}}%
                                    </td>
                                    <td class="p-text-center" style="background-color: red; color:white;"
                                        *ngIf="isColorProcessorPortal == 0">
                                        {{monitoringusedportal.percentProcessorPortal}}%</td>
                                    <td class="p-text-center" style="background-color: yellow; color:black;"
                                        *ngIf="isColorProcessorPortal == 1">
                                        {{monitoringusedportal.percentProcessorPortal}}%
                                    </td>
                                    <td class="p-text-center" style="background-color: green; color:white;"
                                        *ngIf="isColorProcessorPortal == 2">
                                        {{monitoringusedportal.percentProcessorPortal}}%
                                    </td>
                                    <td class="p-text-center" style="background-color: red; color:white;"
                                        *ngIf="isColorDiskPortal == 0">
                                        {{monitoringusedportal.percentDiskPortal}}%</td>
                                    <td class="p-text-center" style="background-color: yellow; color:black;"
                                        *ngIf="isColorDiskPortal == 1">
                                        {{monitoringusedportal.percentDiskPortal}}%
                                    </td>
                                    <td class="p-text-center" style="background-color: green; color:white;"
                                        *ngIf="isColorDiskPortal == 2">
                                        {{monitoringusedportal.percentDiskPortal}}%
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-panel>
            </div> -->
        </div>
        <div id="trx-chart" *ngIf="trxWidget" [ngClass]="[!nonTrxWidget ? 'p-col-12 p-mb-10' : 'p-col-8 p-mb-10']">
            <div class="p-grid">
                <div *ngIf="widgets?.monthlyTransaction" [ngClass]="[!nonTrxWidget ? 'p-col-12' : 'p-col-12']">
                    <!-- <p-panel header="Total Transaction Monthly">
                    <ng-template pTemplate="icons">
    
                    </ng-template>
                    <app-monthly-chart *ngIf=monthlyData [width]=200 [height]=250 [labels]=monthlyLabels [data]=monthlyData
                        [dateRange]=monthlyRange [trxDetail]=monthlyDetail [maxTran]="monthlyMaxTran">
                    </app-monthly-chart>
                </p-panel> -->
                    <p-card header="Total Transaction Monthly" styleClass="chart-card">
                        <app-monthly-chart *ngIf=monthlyData [width]=200 [height]=250 [labels]=monthlyLabels
                            [data]=monthlyData [dateRange]=monthlyRange [trxDetail]=monthlyDetail
                            [maxTran]="monthlyMaxTran">
                        </app-monthly-chart>
                        <p-progressBar *ngIf=!monthlyData mode="indeterminate" [style]="{'height': '6px'}">
                        </p-progressBar>
                    </p-card>


                </div>
                <div *ngIf="widgets?.weeklyTransaction" [ngClass]="[!nonTrxWidget ? 'p-col-6' : 'p-col-12']">
                    <!-- <p-panel header="Total Transaction Weekly">
                    <ng-template pTemplate="icons">
                    </ng-template>
                    <app-weekly-chart *ngIf=weeklyData [width]=200 [height]=250 [labels]=weeklyLabels [data]=weeklyData
                        [dateRange]=weeklyRange [trxDetail]=weeklyDetail [maxTran]="weeklyMaxTran">
                    </app-weekly-chart>
                </p-panel> -->
                    <p-card header="Total Transaction Weekly" styleClass="chart-card">

                        <app-weekly-chart *ngIf=weeklyData [width]=200 [height]=250 [labels]=weeklyLabels
                            [data]=weeklyData [dateRange]=weeklyRange [trxDetail]=weeklyDetail
                            [maxTran]="weeklyMaxTran">
                        </app-weekly-chart>
                        <p-progressBar *ngIf=!weeklyData mode="indeterminate" [style]="{'height': '6px'}">
                        </p-progressBar>
                    </p-card>
                </div>
                <div *ngIf="widgets?.dailyTransaction" [ngClass]="[!nonTrxWidget ? 'p-col-6' : 'p-col-12']">
                    <!-- <p-panel header="Total Transaction Daily">
                    <ng-template pTemplate="icons">
                    </ng-template>
                    <app-daily-chart *ngIf="dailyData" [width]=200 [height]=250 [labels]=labels [data]=dailyData
                        [dateRange]=dailyRange [trxDetail]=dailyDetail [maxTran]="dailyMaxTran">
                    </app-daily-chart>
                </p-panel> -->
                    <p-card header="Total Transaction Daily" styleClass="chart-card">

                        <app-daily-chart *ngIf="dailyData" [width]=200 [height]=250 [labels]=labels [data]=dailyData
                            [dateRange]=dailyRange [trxDetail]=dailyDetail [maxTran]="dailyMaxTran">
                        </app-daily-chart>
                        <p-progressBar *ngIf=!dailyData mode="indeterminate" [style]="{'height': '6px'}">
                        </p-progressBar>
                    </p-card>
                </div>
                <div *ngIf="widgets?.TPM" [ngClass]="[!nonTrxWidget ? 'p-col-6' : 'p-col-12']">
                    <p-card header="TPM" styleClass="chart-card">
                        <app-bar-chart [labels]=tpmLabels [dataSets]=tpmDataSets></app-bar-chart>
                    </p-card>
                </div>
                <div *ngIf="widgets?.businessTransaction" [ngClass]="[!nonTrxWidget ? 'p-col-6' : 'p-col']">
                    <p-card header="Business Process" styleClass="chart-card">
                        <app-bussiness-chart *ngIf=businessData [labels]=businessLabels [data]=businessData
                            [dateRange]=dailybusinessRange [trxDetail]=businessDetail>
                        </app-bussiness-chart>
                    </p-card>
                </div>
            </div>
        </div>


    </div>

    <div class="p-grid">

    </div>
    <div style=" height: 50px">
    </div>
</div>
<p-dialog header="Select Widget" [(visible)]="selectWidgetModal" [style]="{width: '50vw'}" [baseZIndex]="5000"
    [draggable]="false" [resizable]="false" [modal]="true">
    <div class="p-col-12 p-grid">
        <div *ngFor="let widget of widgetList" class="p-col-4">
            <app-widgets-cards [widget]="widget" (onClick)="selectWidget($event)"></app-widgets-cards>
            <!-- <p-checkbox name="group2" value="widget" [value]="widget" [(ngModel)]="selectedWidgets"
                [inputId]="widget.model"></p-checkbox>
            <label [for]="widget.model">{{widget.name}}</label> -->
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="display=selectWidgetModal = !selectWidgetModal" label="Cancel" styleClass="p-button-text">
        </p-button>
        <p-button (click)="updateWidgets()" label="Submit" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>