::ng-deep .select-widget-button .p-button {
    padding: 0.6rem 0.8rem !important;
    border-radius: 15px;
  }
  
  ::ng-deep .select-widget-button .p-button-icon {
    font-size: 0.8rem !important;
  }
  
  ::ng-deep .select-widget-button .p-button-label {
    font-family: Poppins-Medium;
    font-size: 0.85rem;
    font-weight: normal;
  }

  ::ng-deep .widget-container{
    display: flex;
    flex-flow: row wrap;
    
  }

  ::ng-deep .title {
    font-family: Poppins-Semibold;
    font-size: 1.75rem;
    padding: 0rem 0rem 0rem 0rem;
  }

 


  ::ng-deep .capacity>.p-progressbar {
    border-radius: 25px;
  }

  ::ng-deep .capacity>.p-progressbar .p-progressbar-value {
    background-color: #8BDB81;
  }

  ::ng-deep .capacity>.p-progressbar .p-progressbar-value .warning{
    background-color: #DD4A48
  }

  ::ng-deep .capacity>.p-progressbar>.p-progressbar-label {
  color:#EEEEEE
  }